﻿@{
    ViewBag.Title = "SISTEM HONOR DOSEN";
}
@section styles{
    
    <style>
        .bacgroud-stmt {
            background:url('Content/dist/img/welcome_04.jpg') no-repeat center; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
            width:inherit;
            height:500px;

        }
       
    </style>
}
<section class="content-header">
    <h1>
    SISTEM INFORMASI SDM
    </h1>
</section>
<section class="content" >
    <div class="bacgroud-stmt">

    </div>
    @*<div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Title</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
    <div class="box-body">
        Start creating your amazing application!
    </div><!-- /.box-body -->
    <div class="box-footer">
        Footer
    </div><!-- /.box-footer-->
    </div>*@
</section>
