﻿@model SPDSTMT.Models.tbl_pegawai

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbl_pegawai</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nama)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nama)
            @Html.ValidationMessageFor(model => model.nama)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.kd_nik)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.kd_nik)
            @Html.ValidationMessageFor(model => model.kd_nik)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tempat_lahir)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tempat_lahir)
            @Html.ValidationMessageFor(model => model.tempat_lahir)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tanggal_lahir)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tanggal_lahir)
            @Html.ValidationMessageFor(model => model.tanggal_lahir)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.jenis_kelamin_id, "tbl_ref_jenis_kelamin")
        </div>
        <div class="editor-field">
            @Html.DropDownList("jenis_kelamin_id", String.Empty)
            @Html.ValidationMessageFor(model => model.jenis_kelamin_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.gelar_depan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gelar_depan)
            @Html.ValidationMessageFor(model => model.gelar_depan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.gelar_belakang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gelar_belakang)
            @Html.ValidationMessageFor(model => model.gelar_belakang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.agama_id, "tbl_ref_agama")
        </div>
        <div class="editor-field">
            @Html.DropDownList("agama_id", String.Empty)
            @Html.ValidationMessageFor(model => model.agama_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.golongan_darah_id, "tbl_ref_golongan_darah")
        </div>
        <div class="editor-field">
            @Html.DropDownList("golongan_darah_id", String.Empty)
            @Html.ValidationMessageFor(model => model.golongan_darah_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tanggal_masuk)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tanggal_masuk)
            @Html.ValidationMessageFor(model => model.tanggal_masuk)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tanggal_keluar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tanggal_keluar)
            @Html.ValidationMessageFor(model => model.tanggal_keluar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tanggal_sk)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.tanggal_sk)
            @Html.ValidationMessageFor(model => model.tanggal_sk)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.record_status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.record_status)
            @Html.ValidationMessageFor(model => model.record_status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.create_on)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.create_on)
            @Html.ValidationMessageFor(model => model.create_on)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.create_by)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.create_by)
            @Html.ValidationMessageFor(model => model.create_by)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modified_on)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modified_on)
            @Html.ValidationMessageFor(model => model.modified_on)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modified_by)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modified_by)
            @Html.ValidationMessageFor(model => model.modified_by)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
