﻿@model SPDSTMT.Models.tbl_pegawai

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbl_pegawai</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nama)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nama)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.kd_nik)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.kd_nik)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tempat_lahir)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tempat_lahir)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tanggal_lahir)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tanggal_lahir)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbl_ref_jenis_kelamin.kode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_ref_jenis_kelamin.kode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gelar_depan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gelar_depan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gelar_belakang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gelar_belakang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbl_ref_agama.agama)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_ref_agama.agama)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbl_ref_golongan_darah.golongan_darah)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbl_ref_golongan_darah.golongan_darah)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tanggal_masuk)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tanggal_masuk)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tanggal_keluar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tanggal_keluar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tanggal_sk)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tanggal_sk)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.record_status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.record_status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.create_on)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.create_on)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.create_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.create_by)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified_on)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified_on)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified_by)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
