﻿@model SPDSTMT.Models.tbl_pegawai

@{
    ViewBag.Title = "Pegawai STMT";
}
@section styles{
     <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
     <style>
        .ui-datepicker-title select{
          color:black;
        }
    </style>
}
@Html.HiddenFor(model => model.id) 
@foreach (var i in Model.tbl_rekening)
{
    <input type="hidden" value="@i.id" id="rekening_id" />
}
@foreach (var i in Model.tbl_telepon_hp)
{
    <input type="hidden" value="@i.id" id="telepon_id" />
}
@foreach (var i in Model.tbl_alamat)
{
    <input type="hidden" value="@i.id" id="alamat_id" />
}
<section class="content-header">
    <h1>Profil Pegawai STMT</h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">            
            <div class="box-tools pull-right">
                @*<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>*@
            </div>
            @* @Html.ActionLink("Back to List", "Index")
            @(Html.ActionLink("Back to List", "Index",  new { @class = "myCssClass" }));*@
            <a class="btn btn-default pull-left" href="~/Pegawai"><i class="fa fa-long-arrow-left"></i>Back to List</a>
        </div>    
        <div class="box-body">
            <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-header with-border">
                            <h3 class="box-title">Profil Pegawai</h3>
                            @*<button class="btn btn-box-tool pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>*@
                        </div><!-- /.box-header -->  
                        <div class="box-body">
                            <div class="box-header with-border">
                                <div class="col-sm-2">
                                    <button class="btnSave btn btn-block btn-primary " type="button">Save</button>
                                    </div>
                                <div class="col-sm-2">
                                    <button class="btnSave btn btn-block btn-danger" type="button">Delete</button>
                                </div>
                               <button class="btnNext btn btn-success pull-right" type="button">Tambah Sebagai Dosen</button>
                                
                            </div>
                            <div class="box-body">
                                    <div id="info_submit" >
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-sm-2 control-label">Nama</label>
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(model => model.gelar_depan, new { @class = "form-control", @placeholder="Gelar Depan" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.nama, new { @class = "form-control", @placeholder="Nama" })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(model => model.gelar_belakang, new { @class = "form-control",@placeholder="Gelar Belakang" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-sm-2 control-label">Tempat,Tanggal Lahir</label>
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.tempat_lahir, new { @class = "form-control", @placeholder="Tempat Lahir" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.TextBox("tanggal_lahir",Model.tanggal_lahir.HasValue?Model.tanggal_lahir.Value.ToString ("dd/MM/yyyy"):"", new { @class = "form-control datepicker", @placeholder="Tanggal Lahir" })
                                        </div>                         
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-sm-2 control-label">Jenis Kelamain</label>
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(model => model.jenis_kelamin_id, (IEnumerable<SelectListItem>)ViewBag.SelectJenisKelamin,"--Select--", new { @class = "form-control" })
                                        </div>                      
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-sm-2 control-label">Agama</label>
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(model => model.agama_id, (IEnumerable<SelectListItem>)ViewBag.SelectAgama,"--Select---", new { @class = "form-control" })
                                        </div>                      
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-sm-2 control-label">Golongan Darah</label>
                                        <div class="col-sm-4">
                                            @Html.DropDownListFor(model => model.golongan_darah_id, (IEnumerable<SelectListItem>)ViewBag.SelectGolonganDarah,"--Select---", new { @class = "form-control" })
                                        </div>                      
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-sm-2 control-label">Alamat</label>
                                        <div class="col-sm-4">
                                            @Html.TextAreaFor(model => model.tbl_alamat.Where(d=>d.pegawai_id==model.id).FirstOrDefault().jalan, new { @class = "form-control", @placeholder="Alamat" })
                                        </div>  
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(model => model.tbl_alamat.Where(d=>d.pegawai_id==model.id).FirstOrDefault().kelurahan, new { @class = "form-control ", @placeholder="Kelurahan" })
                                        </div>  
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(model => model.tbl_alamat.Where(d=>d.pegawai_id==model.id).FirstOrDefault().kecamatan, new { @class = "form-control", @placeholder="Kecamatan" })
                                        </div>   
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(model => model.tbl_alamat.Where(d=>d.pegawai_id==model.id).FirstOrDefault().provinsi_id, new { @class = "form-control", @placeholder="Propinsi" })
                                        </div>                     
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-sm-2 control-label">Kode Pos</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(model => model.tbl_alamat.Where(d=>d.pegawai_id==model.id).FirstOrDefault().kode_pos, new { @class = "form-control", @placeholder="Kode Pos" })
                                        </div>                      
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-sm-2 control-label">No Rekening</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(model => model.tbl_rekening.Where(d=>d.pegawai_id==model.id).FirstOrDefault().no_rekening, new { @class = "form-control", @placeholder="No Rekening" })
                                        </div>                      
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-sm-2 control-label">Atas Nama</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(model => model.tbl_rekening.Where(d=>d.pegawai_id==model.id).FirstOrDefault().atas_nama, new { @class = "form-control", @placeholder="Atas Nama" })
                                        </div>                      
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-sm-2 control-label">Bank</label>
                                        <div class="col-sm-10">
                                               @Html.DropDownListFor(model => model.tbl_rekening.Where(d=>d.pegawai_id==model.id).FirstOrDefault().bank_id, (IEnumerable<SelectListItem>)ViewBag.SelectBank,"--Select---", new { @class = "form-control" })
                                        </div>                      
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-sm-2 control-label">Cabang Bank</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(model => model.tbl_rekening.Where(d=>d.pegawai_id==model.id).FirstOrDefault().nama_bank_cabang, new { @class = "form-control", @placeholder="Cabang Bank" })
                                        </div>                      
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-sm-2 control-label">No Telp</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(model => model.tbl_telepon_hp.Where(d=>d.pegawai_id==model.id).FirstOrDefault().no_tlp_hp, new { @class = "form-control", @placeholder="No Telepon" })
                                        </div>                      
                                    </div> 
                               </div>                           
                        </div>
                         <div class="box-footer">
                            <div class="col-sm-2">
                                <button class="btnSave btn btn-block btn-primary " type="button">Save</button>
                                </div>
                            <div class="col-sm-2">
                                <button class="btnSave btn btn-block btn-danger" type="button">Delete</button>
                            </div>
                             <button class="btnNext btn btn-success pull-right" type="button">Tambah Sebagai Dosen</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });
            function infoMessage(id_el, data) {

                if (data.status == 1) {
                    $(id_el).find("span").text("Sukses!");//removeClass( "blue" );//hasClass
                    if ($(id_el).hasClass("alert-warning")) {
                        $(id_el).removeClass("alert-warning");
                        $(id_el).addClass("alert-success");
                    }
                    if ($(id_el).find("i").hasClass("fa-warning")) {
                        $(id_el).find("i").removeClass("fa-warning");
                        $(id_el).find("i").addClass("fa-check");
                    }
                    $(id_el).find("p").text(data.message);
                    $(id_el).show();

                } else {
                    $(id_el).find("span").text("Error!");//removeClass( "blue" );//hasClass
                    if ($(id_el).hasClass("alert-success")) {
                        $(id_el).removeClass("alert-success");
                        $(id_el).addClass("alert-warning");
                    }
                    if ($(id_el).find("i").hasClass("fa-check")) {
                        $(id_el).find("i").removeClass("fa-check");
                        $(id_el).find("i").addClass("fa-warning");
                    }
                    $(id_el).find("p").text(data.message);
                    $(id_el).show();
                }
            }
            $(".btnSave").on("click", function () {
                var tbl_pegawai = {};
                var tbl_alamat = {};
                var tbl_rekening = {};
                var tbl_telepon_hp = {};
                var lst_tbl_rekening = [];
                var lst_tbl_alamat = [];
                var lst_tbl_telepon_hp = [];

                if ($("#alamat_id").val() != "" || $("#alamat_id").val() != null) tbl_alamat.id = $("#alamat_id").val();
                tbl_alamat.jalan = $("#jalan").val();
                tbl_alamat.kelurahan = $("#kelurahan").val();
                tbl_alamat.kecamatan = $("#kecamatan").val();
                tbl_alamat.provinsi_id = $("#provinsi_id").val(); 
                tbl_alamat.kode_pos = $("#kode_pos").val();
                lst_tbl_alamat.push(tbl_alamat);

                if ($("#rekening_id").val() != "" || $("#rekening_id").val() != null) tbl_rekening.id = $("#rekening_id").val();
                tbl_rekening.no_rekening = $("#no_rekening").val();
                tbl_rekening.atas_nama = $("#atas_nama").val();
                tbl_rekening.bank_id = $("#bank_id").val();
                tbl_rekening.nama_bank_cabang = $("#nama_bank_cabang").val();

                lst_tbl_rekening.push(tbl_rekening);

                tbl_telepon_hp.no_tlp_hp = $("#no_tlp_hp").val();
                if($("#telepon_id").val()!=""||$("#telepon_id").val()!=null)tbl_telepon_hp.id = $("#telepon_id").val();
                lst_tbl_telepon_hp.push(tbl_telepon_hp);

                tbl_pegawai.id = $("#id").val();
                tbl_pegawai.tbl_alamat = lst_tbl_alamat;
                tbl_pegawai.tbl_rekening = lst_tbl_rekening;
                tbl_pegawai.tbl_telepon_hp = lst_tbl_telepon_hp;
                tbl_pegawai.gelar_depan = $("#gelar_depan").val();
                tbl_pegawai.nama = $("#nama").val();
                tbl_pegawai.gelar_belakang = $("#gelar_belakang").val();
                tbl_pegawai.agama_id = $("#agama_id").val();
                tbl_pegawai.golongan_darah_id = $("#golongan_darah_id").val();
                tbl_pegawai.jenis_kelamin_id = $("#jenis_kelamin_id").val();
                tbl_pegawai.tempat_lahir = $("#tempat_lahir").val();
                var tanggal = "";
                if ($("#tanggal_lahir").val() != "") {
                    var tanggalbefore = $("#tanggal_lahir").val().split("/");
                    tanggal = tanggalbefore[1] + "/" + tanggalbefore[0] + "/" + tanggalbefore[2];
                }
                tbl_pegawai.tanggal_lahir = tanggal;
                

                $.ajax({
                    method: "POST",
                    url: "AjaxEdit",
                    dataType: "json",
                    data: JSON.stringify(tbl_pegawai),
                    contentType: 'application/json; charset=utf-8'
                    //data: '{ "tbl_pegawai":' + JSON.stringify(tbl_pegawai) + '}'
                }).done(function (data) {
                    $("#info_submit").html(data.message);
                });
            });
        });
    </script>
}
