﻿@model IEnumerable<SPDSTMT.Models.tbl_pegawai>

@{
    ViewBag.Title = "Pegawai STMT";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    @*<link href="~/Content/jqueryui/dataTables.jqueryui.min.css" rel="stylesheet" />*@
    <style>

       .table.dataTable {
            font-size:small;

        }
       tbody tr.odd {
            background-color: #f9f9f9;
        }
        .ui-datepicker-title select{
          color:black;
        }
    </style>
}
<section class="content-header">
    <h1>Daftar Pegawai STMT</h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">            
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            </div>
            <a class="btn btn-default pull-left" href="Pegawai/Create"><i class="fa fa-plus"></i>Tambah Pegawai</a>
        </div>    
        <div class="box-body">
            <div class="row">
            <div class="col-md-12">
                <p class="box-title">Filter</p>
                <div class="col-xs-4">
                    <input class="form-control" type="text" id="nama_pegawai" name="nama_pegwai" placeholder="Nama Pegawai">
                </div>
            </div>
            <div class="col-md-12">
                <table id="tbl_pegawai" class="table table-bordered  table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Nama</th>
                            <th>TTL</th>
                            <th>Jenis Kelamin</th>
                            <th>Agama</th>
                            <th>Alamat</th>
                            <th>Kode Pos</th>
                            <th>Tanggal Masuk</th>
                            <th>Telp/Hp</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
     </div>
</section>
@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    @*<script src="~/Content/jqueryui/dataTables.jqueryui.min.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            var tablePegawai = $('#tbl_pegawai').DataTable({
                "filter": "datatables-filter",
                "processing": true,
                "searching": false,
                "displayLength": 10,
                "lengthChange": false,
                "serverSide": true,
                "scrollX": "100%",
                "scrollCollapse": true,
                "ajax": {
                    "url": "Pegawai/GetListPegawai",
                    "type": "POST",
                    "data": function (d) {
                        d.nama_pegawai = $("#nama_pegawai").val();
                    },
                },
                "order": [[1, "asc"]],
                "columns": [
                     { "data": null, "width": "6%" },
                    { "data": "nama_pegawai", "width": "15%" },
                    { "data": null, "width": "10%" },
                     { "data": "jenis_kelamin", "width": "5%", "orderable": false },
                     { "data": "agama", "width": "5%", "orderable": false },
                     { "data": "jalan", "width": "15%", "orderable": false },
                     { "data": "kode_pos", "width": "5%", "orderable": false },
                     { "data": "tanggal_sk", "width": "5%", "orderable": false },
                     { "data": "no_tlp_hp", "width": "10%", "orderable": false },
                     { "data": "email", "width": "10%", "orderable": false }

                ],
                "columnDefs": [

                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-primary edit-dosen" title="Edit" href="Pegawai/Edit?id='+row.id+'"><span class="fa fa-pencil"></span></a>&nbsp;' +
                                   '<a class="btn btn-xs btn-danger remove-dosen" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 0,
                        "orderable": false
                    },
                    {
                        "render": function (data, type, row) {
                            var date = "";
                            if (row.tanggal_lahir != null && row.tanggal_lahir != "") {
                                date = new Date(parseInt(row.tanggal_lahir.substr(6)));
                                date = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                            }
                            return row.tempat_lahir + "," + date;
                        },
                        "targets": 2,
                        "orderable": false
                    },
                     {
                         "render": function (data, type, row) {
                             var date = "";
                             if (row.tanggal_sk != null && row.tanggal_sk != "") {
                                 date = new Date(parseInt(row.tanggal_sk.substr(6)));
                                 date = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                             }
                             return date;
                         },
                         "targets": 7,
                         "orderable": false
                     }

                ]
            });

            $("#nama_pegawai").on("input propertychange paste", function (e) {
                tablePegawai.draw();
            });
        });
       
    </script>
    
}
