﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    <!-- Ionicons -->
    <link href="~/Content/ionicons/ionicons.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
    <!-- Theme style -->
    <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="~/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      @RenderSection("styles", required: false)
  </head>
  <body class="hold-transition skin-blue sidebar-collapse sidebar-mini  fixed">
    <div class="wrapper">

      <header class="main-header">
        <!-- Logo -->
        <a href="@Url.Content("~/")" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>STMT</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Admin</b> STMT-Tirisakti</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">			
				<li>
				  <a href="@Url.Content("~/")Home/Logout" >Sign out</a>
				</li>			  
            </ul>
          </div>
        </nav>
      </header>
    
          <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
		
          <!-- sidebar menu: : style can be found in sidebar.less -->
             @if (Request.IsAuthenticated)
               {
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
             @if (Request.IsAuthenticated && (User.IsInRole("sdm") || User.IsInRole("super") || User.IsInRole("spvkeuangan")))
               {
             <li class="treeview">
              <a href="#">
                <i class="fa fa-database"></i> <span>Master Data</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
               
              <ul class="treeview-menu">
                  @if (Request.IsAuthenticated && (User.IsInRole("sdm") || User.IsInRole("super") ))
               {
                  <li><a href="@Url.Content("~/")masterdata/dosen"><i class="fa fa-circle-o"></i>Profil Dosen</a></li>
                  }
                
                <li><a href="@Url.Content("~/")masterdata/"><i class="fa fa-circle-o"></i>Jenjang Dosen</a>                
                    <ul class="treeview-menu">
                        @if (Request.IsAuthenticated && (User.IsInRole("sdm") || User.IsInRole("super") ))
                        {
                        <li><a href="@Url.Content("~/")masterdata#box-jenjang-dosen"><i class="fa fa-circle-o"></i>Jenjang Dosen</a></li>
                        }
                        <li><a href="@Url.Content("~/")masterdata#box-honorarium"><i class="fa fa-circle-o"></i>Honorarium</a></li>
                        <li><a href="@Url.Content("~/")masterdata#box-tunjangan"><i class="fa fa-circle-o"></i>Tunjangan Praktisi</a></li>
                        @if (Request.IsAuthenticated && (User.IsInRole("sdm") || User.IsInRole("super") ))
                        {
                        <li><a href="@Url.Content("~/")masterdata#box-pendidikan"><i class="fa fa-circle-o"></i>Pendidikan</a></li>
                        <li><a href="@Url.Content("~/")masterdata#box-jabatan"><i class="fa fa-circle-o"></i>Jabatan</a></li>
                         <li><a href="@Url.Content("~/")masterdata#box-jenjang"><i class="fa fa-circle-o"></i>Jenjang</a></li>
                        }
                    </ul>
                </li>

              </ul>
                
            </li>
             }
              @if (Request.IsAuthenticated && (User.IsInRole("adak") || User.IsInRole("super")))
               {
                
            <li class="treeview">
              <a href="#">
                <i class="fa fa-list-alt"></i> <span>Konf. Kehadiran Dosen</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="@Url.Content("~/")KehadiranDosen"><i class="fa fa-circle-o"></i>Kehadiran Dosen</a></li>
                                  
              </ul>
            </li>
              }
               @if (Request.IsAuthenticated && (User.IsInRole("adak") || User.IsInRole("super") || User.IsInRole("keuangan")|| User.IsInRole("spvkeuangan")))
               {
			<li class="treeview">
              <a href="#">
                <i class="fa fa-folder"></i> <span>Report Honor Dosen</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="@Url.Content("~/")ReportHonor/KelasReguler"><i class="fa fa-circle-o"></i>Kelas Reguler</a></li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-folder"></i> <span>Kelas BP3IP</span>
                        <i class="fa fa-angle-left pull-right"></i>
                      </a>
                    <ul class="treeview-menu">
                         <li><a href="@Url.Content("~/")Bp3IP"><i class="fa fa-circle-o"></i>Input Data</a></li>
                        <li> <a href="@Url.Content("~/")ReportHonor/KelasBP3IP"><i class="fa fa-circle-o"></i>Report Kelas BP3IP</a></li>
                    </ul>                   
                </li>
                <li><a href="@Url.Content("~/")ReportHonor/KelasInternasional"><i class="fa fa-circle-o"></i>Kelas Internasional</a></li>
              </ul>
            </li> 
              } 
               @if(Request.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("super")))
               {    
                   <li>
                      <a href="@Url.Content("~/")Admin">
                        <i class="fa fa-gear"></i> <span>User Management</span>
                      </a>
                    </li>
               }    
                       
          </ul>
             }
        </section>
        <!-- /.sidebar -->
      </aside>
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        @RenderBody()

        @RenderSection("Dialogs", false)
    
    </div><!-- /.content-wrapper -->
       <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0.0
        </div>
        <strong>Sistem Honor Dosen</strong> 
	    </footer>
    </div><!-- ./wrapper -->
      @Scripts.Render("~/bundles/jquery")
      @Scripts.Render("~/bundles/boostrap")
      @Scripts.Render("~/bundles/adminlte")


    @RenderSection("scripts", required: false)
  </body>
</html>


