﻿@{
    ViewBag.Title = "KelasReguler";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
   @* <link href="~/Content/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />*@
    @*<link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />*@
    <link href="~/Content/jqueryui/dataTables.jqueryui.min.css" rel="stylesheet" />
      <style>

       .table {
            font-size:small;

        }
       .table tbody tr.odd {
            background-color: #f9f9f9 !important;
        }
        .ui-datepicker-title select{
          color:black;
        }
    </style>
}
<section class="content-header">
    <h1>
    Report Honor Mengajar
    <small> stmt-trisakti</small>
    </h1>
</section>
<section class="content">
   <div class="box">
        <div class="box-header with-border ">
                @* <h3 class="box-title">Title</h3>*@
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
                @*<a class="sincron btn btn-default pull-left margin"><i class="fa fa- fa-refresh"></i>Sinkronisasi data</a>*@
                <a id="report1" class="btn btn-default pull-left margin"><i class="fa fa-plus">Generate Report Honor Detail</i></a>
                <div class="row" >
                    <div class="col-md-12">
                         <div class="progress progress active" style="margin-bottom:0;" hidden>
                            <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-xs-3">
                            @*<input type="text" id="daterange_report1" class="daterange form-control pull-right active">*@
                            <input type="text" id="start_date" placeholder="Start Date" class="datepicker form-control pull-right active">
                                
                    </div>
                        <div class="col-xs-3">
                                <input type="text" id="end_date" placeholder="End Date" class="datepicker form-control pull-right active">
                        </div>                       
                        <div class="col-xs-3">
                            <select id="tahun_ajaran" class="form-control">
                                <option value="2014/2015">2014/2015</option>
                                <option value="2015/2016">2015/2016</option>
                                <option value="2016/2017">2016/2017</option>
                                <option value="2017/2018">2017/2018</option>
                                <option value="2018/2019">2018/2019</option>
                            </select>                                 
                        </div>
                        <div class="col-xs-3">
                               <select id="semester" class="form-control">
                                <option value="Ganjil">Ganjil</option>
                                <option value="Genap">Genap</option>
                            </select>
                               
                        </div>
                    </div>

                </div>
        </div>  
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <p class="box-title">Filter Tabel History Report</p>
                    <div class="col-xs-3">
                            @*<input type="text" id="daterange_report1" class="daterange form-control pull-right active">*@
                            <input type="text" id="start_date_history" placeholder="Start Date" class="datepicker form-control pull-right active">
                                
                    </div>
                    <div class="col-xs-3">
                                
                            @*<input type="text" id="daterange_report1" class="daterange form-control pull-right active">*@
                            <input type="text" id="end_date_history" placeholder="End Date" class="datepicker form-control pull-right active">
                                
                    </div>
                </div>
            </div>

        </div><!-- /.box-body -->
        <div class="box-footer">
             <div id="info">                                    
             </div>
            <table id="tbl_history_report" class="table table-bordered  table-hover">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>File Excel Honor Mengajar</th>
                        <th>File PDF Details Honor Mengajar</th>
                        <th>File PDF Total Honor Mengajar</th>
                        <th>SLip Honor Mengajar</th>
                        <th>Periode</th>
                        <th>Create Date</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>                
    </div>
</section>


<div id="dialog-form-slip" title="Details Slip Gaji" hidden style="z-index:1">
      <input type="hidden"  id="report_id" value="0" />    
       <div class="form-horizontal">   
            <div class="form-group">
                <label class="col-sm-4 control-label">Nama Dosen</label>
                <div class="col-sm-8">                                
                    <input type="text" id="nama_dosen" placeholder="Nama Dosen" class="form-control" maxlength="20">
                </div>
            </div>         
            <div class="form-group">
                <label class="col-sm-4 control-label">Kode NIK</label>
                <div class="col-sm-8">                                
                    <input type="text" id="kd_nik" placeholder="Kode NIK" class="form-control" maxlength="20">
                </div>
            </div> 
            <div class="form-group">
                <label class="col-sm-4 control-label">Status Dosen</label>
                <div class="col-sm-8">
                    <select id="status_dosen_id" class="form-control">
                    </select>                                  
                </div>
            </div> 
      </div>
    <div class="box">
         <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="tbl_report_slip" class="table table-bordered  table-hover" >
            <thead>
            <tr>
            <th>Action</th>           
            <th>NIK</th>
            <th>Nama Dosen</th>
            <th>Download</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
                </div>
            </div>
         </div>
    </div>
    <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
   
</div>
@*form delete*@
<div id="dialog-confirm" title="Empty the recycle bin?" hidden>
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      Anda yakin ingin delete?</p>
</div>


@section scripts{
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    @* <script src="~/Content/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>*@
   
<script type="text/javascript">
    var interval = null;
    function formDialog(el, height, width) {
        $(el).dialog({
            height: height,
            width: width,
            modal: true,
            buttons: {
                //"Save": func,
                Cancel: function () {
                    $(el).dialog("close");
                }
            }
        });
    }

    $(document).ready(function () {

        function selectedData(id_selected, url) {
            $.getJSON(url, function (data) {
                $("#" + id_selected).empty();
                $.each(data, function () {
                    $("#" + id_selected).append('<option value="' + this.id + '">' + this.value + '</option>')
                })
            });
        }
        $('.datepicker').datepicker({
            onClose: function( selectedDate ) {
                if ($("#start_date").val() != "" && $("#end_date").val() != "") {
                   // tableKehadiran.draw();
                }
                if ($("#start_date_history").val()) {
                    tableHistoryReport.draw();
                }
                if ($("#end_date_history").val()) {
                    tableHistoryReport.draw();
                }
            }
        });
        selectedData("status_dosen_id", "@{@ViewBag.baseURl}masterdata/GetRefSelectedStatusDosen");
        $("#report1").on("click", function () {

            if ($("#start_date").val() != "" && $("#end_date").val() != "") {
                $(this).find("i").removeClass("fa-plus");
                $(this).find("i").addClass("fa-refresh");
                $(this).attr("disabled", true);
                $(this).find("i").text("Loding.............");

                jQuery.ajax({
                    url: "@{@ViewBag.baseURl}ReportHonor/GenerateReportSp?StartDate=" + $("#start_date").val() + "&EndDate=" + $("#end_date").val() + "&TahunAjaran=" + $("#tahun_ajaran").val() + "&Semester=" + $("#semester").val(),
                    beforeSend: function () {
                      
                    },
                    success: function (result) {                        
                        $("#report1").find("i").removeClass("fa-refresh");
                        $("#report1").find("i").addClass("fa-plus");
                        $("#report1").removeAttr("disabled");
                        $("#report1").find("i").text("Generate Report Honor Detail");
                        $(".progress").hide();
                        clearInterval(interval);
                        tableHistoryReport.draw();
                    },
                   // async: false
                });
                
               // $(".progress").show();
                interval = setInterval(updateDiv, 9000);//10 detik
               
            }
            
        });

       


        function updateDiv() {
            $.ajax({
                url: '@{@ViewBag.baseURl}ReportHonorStatusReport',
                success: function (data) {
                    if (data.status == 1) {
                       // alert(data.status);
                        $("#report1").find("i").removeClass("fa-refresh");
                        $("#report1").find("i").addClass("fa-plus");
                        $("#report1").removeAttr("disabled");
                        $("#report1").find("i").text("Generate Report Honor Detail");
                        $(".progress").hide();
                        clearInterval(interval); // stop the interval
                        tableHistoryReport.draw();
                    }
                    if (data.status == 0) {
                        var persenProgress = 0;
                        if (data.jumReport != null && data.loadingReport != null) {
                            var jumLoad = parseInt(data.jumReport);
                            var currentLoad = parseInt(data.loadingReport);
                            persenProgress = (currentLoad / jumLoad) * 100;
                        }
                        $('.progress-bar').css('width', persenProgress + '%').attr('aria-valuenow', persenProgress);
                    }
                    if (data.status == -1) {
                       /// alert(data.message);
                        $(".progress").hide();
                        clearInterval(interval);
                    }
                },
                error: function () {
                    //clearInterval(interval); // stop the interval
                }
            });
        }

        function selectedData(id_selected, url) {
            $.getJSON(url, function (data) {
                $("#" + id_selected).empty();
                $.each(data, function () {
                    $("#" + id_selected).append('<option value="' + this.id + '">' + this.value + '</option>')
                })
            });
        }

      //  selectedData("status_dosen", "../masterdata/GetRefSelectedStatusDosen");

        var tableHistoryReport = $('#tbl_history_report').DataTable({
                    "filter": "datatables-filter",
                    "scrollX": "100%",
                    "scrollCollapse": true,
                   //" jQueryUI": true,
                    "processing": true,
                    "searching": false,
                    "displayLength": 10,
                    "lengthChange": false,
                    "serverSide": true,
                    "ajax": {
                        "url": "@{@ViewBag.baseURl}ReportHonor/GetListHistroyReport",
                        "type": "POST",
                        "data": function (d) {
                            d.start_date_history = $("#start_date_history").val();
                            d.end_date_history = $("#end_date_history").val();
                        },
                    },
                    "order": [[1, "asc"]],
                    "columns": [
                        { "data": null, "width": "5%"},
                        { "data": null, "width": "20%" },
                        { "data": null, "width": "20%" },
                        { "data": null, "width": "20%" },
                        { "data": null, "width": "10%" },
                        { "data": null, "width": "10%" },
                        { "data": "create_on", "width": "10%" },
                    ],
                    "columnDefs": [

                        {
                            "render": function (data, type, row) {
                                return '<a class="btn btn-xs btn-danger remove-report" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                            },
                            "targets": 0,
                            "orderable": false
                        },
                         {
                             "render": function (data, type, row) {
                                 return '<a class="btn btn-xs btn-success " href="@{@ViewBag.baseURl}ReportHonor/FileReport?id=' + row.id + '&type=1" target="blank_" title="Download"><span class="fa fa-cloud-download"></span></a>' + row.nama_file;
                             },
                             "targets": 1,
                             "orderable": false
                         },
                          {
                              "render": function (data, type, row) {
                                  return '<a class="btn btn-xs btn-success" href="@{@ViewBag.baseURl}ReportHonor/FileReportDetails?id=' + row.id + '" target="blank_" title="Download"><span class="fa fa-cloud-download"></span></a>' + "Details_" + row.nama_file;
                              },
                              "targets": 2,
                              "orderable": false
                          },
                          {
                              "render": function (data, type, row) {
                                  return '<a class="btn btn-xs btn-success" href="FileReportTotal?id=' + row.id + '" target="blank_" title="Download"><span class="fa fa-cloud-download"></span></a>' + "Total_" + row.nama_file;
                              },
                              "targets": 3,
                              "orderable": false
                          },
                        {
                            "render": function (data, type, row) {
                                return '<a class="btn btn-xs btn-info detail-slip" title="Details"><span class="fa fa-file-text-o">Detail</span></a>';
                            },
                            "targets": 4,
                            "orderable": false
                        },
                        {
                            "render": function (data, type, row) {
                                var date = "";
                                var dateto = "";
                                if (row.report_start != null && row.report_start != "") {
                                    date = new Date(parseInt(row.report_start.substr(6)));
                                    date = date.getDate() + "/" +(parseInt(date.getMonth()) + 1) + "/" + date.getFullYear();
                                }
                                if (row.report_end != null && row.report_end != "") {
                                    dateto = new Date(parseInt(row.report_end.substr(6)));
                                    dateto = dateto.getDate() + "/" + (parseInt(dateto.getMonth()) + 1) + "/" + dateto.getFullYear();
                                }
                                return date+" s/d "+ dateto;
                            },
                            "targets": 5,
                            "orderable": false
                        },
                        {
                            "render": function (data, type, row) {
                                var date = "";
                                if (row.create_on != null && row.create_on != "") {
                                    date = new Date(parseInt(row.create_on.substr(6)));
                                    date = date.getDate() + "/" + (parseInt(date.getMonth()) + 1) + "/" + date.getFullYear();
                                }
                                return date;
                            },
                            "targets": 6
                        }

                    ]
        });

        var tableReportSlip = $('#tbl_report_slip').DataTable({
            "filter": "datatables-filter",
            //"scrollX": "100%",
            //"scrollCollapse": true,
            "jQueryUI": true,
            "processing": true,
            "searching": false,
            "displayLength": 10,
            "lengthChange": false,
            "serverSide": true,
            "ajax": {
                "url": "@{@ViewBag.baseURl}ReportHonor/GetListSlipReport",
                "type": "POST",
                "data": function (d) {
                    d.nama_dosen = $("#nama_dosen").val();
                    d.kd_nik = $("#kd_nik").val();
                    d.report_id = $("#report_id").val();
                    d.status_dosen_id = $("#status_dosen_id").val();
                },
            },
            "order": [[1, "asc"]],
            "columns": [
                { "data": null, "width": "5%" },
                { "data": "kd_nik", "width": "5%" },
                { "data": "nama_dosen" },
                { "data": null  }
            ],
            "columnDefs": [

                {
                    "render": function (data, type, row) {
                        return '<a class="btn btn-xs btn-danger remove-tunjangan" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                    },
                    "targets": 0,
                    "orderable": false
                },
                  {
                      "render": function (data, type, row) {
                          return '<a class="btn btn-xs btn-success" href="@{@ViewBag.baseURl}ReportHonor/FileReportSlipHonor?id=' + row.id + '" target="blank_" title="Download"><span class="fa fa-cloud-download"></span></a>' + row.nama_file;
                      },
                      "targets": 3,
                      "orderable": false
                  }
            ]
        });

        $("#tbl_history_report").on("click", ".detail-slip", function () {
            var vl = $(this).closest('tr')[0];
            $("#tbl_history_report").val(vl.rowIndex);
            var view_history_report = tableHistoryReport.row(vl).data();
            //console.log(view_history_report);
            $("#report_id").val(view_history_report.id);
            formDialog("#dialog-form-slip", 500, 850);            
            $("#status_dosen_id").prepend("<option value='' selected='selected'>--Select--</option>");
            tableReportSlip.draw();
        });

        $("#tbl_history_report").on("click", ".remove-report", function () {
            var vl = $(this).closest('tr')[0];
            $("#tbl_history_report").val(vl.rowIndex);
            var view_history_report = tableHistoryReport.row(vl).data();
            var reportId = view_history_report.id;
            var url = "@{@ViewBag.baseURl}ReportHonor/DeleteReport?ReportId=" + reportId;
            $("#dialog-confirm").dialog({
                height: 160,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $.ajax(url)
                      .done(function (data) {
                          $("#info").html(data.message);
                          $("#dialog-confirm").dialog("close");
                          tableHistoryReport.draw();
                      });
                    },
                    Cancel: function () {
                        $("#dialog-confirm").dialog("close");
                    }
                }
            });
        });

        $("#nama_dosen").on("input propertychange paste", function (e) {
            tableReportSlip.draw();
        });

        $("#kd_nik").on("input propertychange paste", function (e) {
            tableReportSlip.draw();
        });

        $("#start_date_history").on("input propertychange paste", function (e) {
                tableHistoryReport.draw();
        });
        $("#end_date_history").on("input propertychange paste", function (e) {
                tableHistoryReport.draw();
        });
        $("#status_dosen_id").change(function () {
            tableReportSlip.draw();
        });
    });


    </script>
}