﻿@{
    ViewBag.Title = "KelasReguler";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
   @* <link href="~/Content/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />*@
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
     <style>

       .table.dataTable {
            font-size:small;

        }
       tbody tr.odd {
            background-color: #f9f9f9;
        }
    </style>
}
<section class="content-header">
    <h1>
    Report Honor Mengajar
    <small> stmt-trisakti</small>
    </h1>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
             <li class="active"><a href="#tab_1" data-toggle="tab">Rekapitulasi Honor Mengajar</a></li>
            <li ><a href="#tab_2" data-toggle="tab">Honor Mengajar</a></li>
            <li ><a href="#tab_3" data-toggle="tab">Slip Gaji</a></li>
        </ul>
        <div class="tab-content">
             <div class="box tab-pane active" id="tab_1">
                <div class="box-header with-border ">
                       @* <h3 class="box-title">Title</h3>*@
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                       @*<a class="sincron btn btn-default pull-left margin"><i class="fa fa- fa-refresh"></i>Sinkronisasi data</a>*@
                        <a id="report1" class="btn btn-default pull-left margin"><i class="fa fa-plus">Generate Report Honor Detail</i></a>
                        
                    </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="box-title">Filter</p>
                            <div class="col-xs-3">
                                    @*<input type="text" id="daterange_report1" class="daterange form-control pull-right active">*@
                                    <input type="text" id="start_date" placeholder="Start Date" class="datepicker form-control pull-right active">
                                
                            </div>
                             <div class="col-xs-3">
                                
                                    @*<input type="text" id="daterange_report1" class="daterange form-control pull-right active">*@
                                    <input type="text" id="end_date" placeholder="End Date" class="datepicker form-control pull-right active">
                                
                            </div>
                            <div class="col-xs-3">
                                
                                    <input type="text" id="kd_nik" placeholder="Kode NIK" class=" form-control pull-right active">
                                
                            </div>
                            <div class="col-xs-3">
                                
                                    <input type="text" id="nama_dosen" placeholder="Nama Dosen" class=" form-control pull-right active">
                                
                            </div>
                            <div class="col-xs-3" hidden>
                                
                                    <select id="status_dosen" class="form-control">
                                    </select>
                               
                            </div>
                        </div>
                    </div>

                </div><!-- /.box-body -->
                <div class="box-footer">
                    <table id="tbl_kehadiran_dosen" class="table table-bordered  table-hover">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Kode NIK</th>
                                <th>Nama Dosen</th>
                                <th>Gol</th>                    
                                <th>Status Dosen</th>
                                <th>Mata Kuliah</th>
                                <th>SKS</th>
                                <th>Kelas</th>
                                <th>Tanggal</th>
                                <th>Honor@SKS</th>
                                <th>Transpor@hadir.</th>
                                <th>Tunjangan</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                </div>
             <div class="box tab-pane" id="tab_2">
                    <div class="box-header with-border " >
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                        <a class="sincron btn btn-default pull-left margin"><i class="fa fa- fa-refresh"></i>Sinkronisasi data</a>
                        <a class="btn btn-default pull-left margin" href="createdosen"><i class="fa fa-plus"></i>Generate Report</a>
                    </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-xs-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                    </div>
                                    
                                    <input type="text" id="daterange_report3" class="daterange form-control pull-right active">
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- /.box-body -->
                <div class="box-footer">
                    Footer
                </div><!-- /.box-footer-->
                </div>
              <div class="box tab-pane" id="tab_3">
                    <div class="box-header with-border " >
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                        <a class="sincron btn btn-default pull-left margin"><i class="fa fa-refresh"></i>Sinkronisasi data</a>
                        <a class="btn btn-default pull-left margin" href="createdosen"><i class="fa fa-plus"></i>Generate Slip Gaji</a>
                       
                    </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-xs-4">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                    </div>
                                    
                                    <input type="text" id="daterange_report3" class="daterange form-control pull-right active">
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- /.box-body -->
                <div class="box-footer">
                    Footer
                </div><!-- /.box-footer-->
                </div>
        </div>
    </div>
</section>
@section scripts{
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    @* <script src="~/Content/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>*@
   
<script type="text/javascript">
    var interval = null;
    $(document).ready(function () {
        //$('.daterange').daterangepicker({ format: 'DD/MM/YYYY' });
        $('.datepicker').datepicker({
            onClose: function( selectedDate ) {
                if ($("#start_date").val() != "" && $("#end_date").val() != "") {
                    tableKehadiran.draw();
                }
            }
        });
        $("#report1").on("click", function () {
            if ($("#start_date").val() != "" && $("#end_date").val() != "") {
                //window.open("GetExcel?StartDate=" + $("#start_date").val() + "&EndDate=" + $("#end_date").val(), "_blank")
                jQuery.ajax({
                    url: "GetExcel?StartDate=" + $("#start_date").val() + "&EndDate=" + $("#end_date").val(),
                    beforeSend: function () {
                      
                    },
                    success: function (result) {                        
                            //alert(result);
                    },
                   // async: false
                });
                $(this).find("i").removeClass("fa-plus");
                $(this).find("i").addClass("fa-refresh");
                $(this).attr("disabled", true);
                $(this).find("i").text("Loding.............");
                interval = setInterval(updateDiv, 13000);//10 detik
               
            }
            
        });

        function updateDiv() {
            $.ajax({
                url: 'GenerateStatus',
                success: function (data) {
                    if (data.status == 1) {
                       // alert(data.status);
                        $("#report1").find("i").removeClass("fa-refresh");
                        $("#report1").find("i").addClass("fa-plus");
                        $("#report1").removeAttr("disabled");
                        $("#report1").find("i").text("Generate Report Honor Detail");
                        clearInterval(interval); // stop the interval
                    }
                },
                error: function () {
                    //clearInterval(interval); // stop the interval
                }
            });
        }

        function selectedData(id_selected, url) {
            $.getJSON(url, function (data) {
                $("#" + id_selected).empty();
                $.each(data, function () {
                    $("#" + id_selected).append('<option value="' + this.id + '">' + this.value + '</option>')
                })
            });
        }
        selectedData("status_dosen", "../masterdata/GetRefSelectedStatusDosen");
        //$("#report1").on("click", function () {
        //    $.ajax({
        //        method: "POST",
        //        url: "generateReport",
        //    }).done(function (data) {
        //        //$("#info_tunjangan").delay(3000).hide(1000).html("");
        //    });
        //});

        //$("#daterange_report1").on("click", function () {
        //    if ($(this).val != "" && $(this).val != null) {
                  
        //    }
        //});

        var tableKehadiran = $('#tbl_kehadiran_dosen').DataTable({
                    "filter": "datatables-filter",
                    "scrollX": "100%",
                    "scrollCollapse": true,
                   " jQueryUI": true,
                    "processing": true,
                    "searching": false,
                    "displayLength": 10,
                    "lengthChange": false,
                    "serverSide": true,
                    "ajax": {
                        "url": "GetListRekapitulasiHonorDosen",
                        "type": "POST",
                        "data": function (d) {
                            d.kd_nik = $("#kd_nik").val();
                            d.nama_dosen = $("#nama_dosen").val();
                            d.status_dosen = $("#status_dosen").val();
                            d.start_date = $("#start_date").val();
                            d.end_date = $("#end_date").val();
                        },
                    },
                    "order": [[1, "asc"]],
                    "columns": [
                        { "data": null },
                        { "data": "kd_nik", "width": "5%", "orderable": false },
                        { "data": "nama_dosen","width":"18%", "orderable": false },
                        { "data": "jenjang_kelompok", "width": "5%", "orderable": false },
                        { "data": "status_dosen", "orderable": false },
                        { "data": "name_course", "orderable": false },
                        { "data": "credit_course", "orderable": false },
                        { "data": "kelas", "orderable": false },
                        { "data": "date_document", "orderable": false },
                        { "data": "honor_per_sks", "orderable": false },
                        { "data": "transpor_per_hari", "orderable": false },
                        { "data": "honor_tunjangan", "orderable": false }
                    ],
                    "columnDefs": [

                        {
                            "render": function (data, type, row) {
                                return '<a class="btn btn-xs btn-primary edit-tunjangan" title="Edit""><span class="fa fa-pencil"></span></a>&nbsp;' +
                                       '<a class="btn btn-xs btn-danger remove-tunjangan" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                            },
                            "targets": 0,
                            "orderable": false
                        },
                        {
                            "render": function (data, type, row) {
                                var date = "";
                                if (row.date_document != null && row.date_document != "") {
                                    date = new Date(parseInt(row.date_document.substr(6)));
                                    date = date.getDate() + "/" +(parseInt(date.getMonth()) + 1) + "/" + date.getFullYear();
                                }
                                return date;
                            },
                            "targets": 8,
                            "orderable": false
                        }
                    ]
        });
        $("#kd_nik").on("input propertychange paste", function (e) {
            tableKehadiran.draw();
        });
        $("#nama_dosen").on("input propertychange paste", function (e) {
            tableKehadiran.draw();
        });

        //$("#start_date").on("input propertychange paste", function (e) {
        //    if ($("#start_date").val() != "" && $("#end_date").val() != "") {
        //        tableKehadiran.draw();
        //    }
        //});
        //$("#end_date").on("input propertychange paste", function (e) {
            
        //    if ($("#start_date").val() != "" && $("#end_date").val() != "") {
        //        tableKehadiran.draw();
        //    }
        //});
    });


    </script>
}