﻿@{
    ViewBag.Title = "Edit Details Report Honor Dosen Kelas Reguler";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
   @* <link href="~/Content/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />*@
    @*<link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />*@
    <link href="~/Content/jqueryui/dataTables.jqueryui.min.css" rel="stylesheet" />
      <style>

       .table {
            font-size:small;

        }
       .table tbody tr.odd {
            background-color: #f9f9f9 !important;
        }
        .ui-datepicker-title select{
          color:black;
        }
        label.error {
            color:red;
         }
    </style>
}
<section class="content-header">
    <h1>
        Report Details
    </h1>
</section>
<section class="content">
   <div class="box">
        <div class="box-header with-border ">
                 @*<h3 class="box-title">Report Details</h3>*@
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div>
                <a class="sincron btn btn-default pull-left margin" href="./KelasReguler"><i class="fa fa-arrow-left"></i>Bank to List</a>
                
        </div>  
        <div class="box-body">
             <div id="info">                                    
                 </div>
            <form class="form-horizontal" id="form_dosen"> 
                
                <div class="form-group">
                    <label for="kd_nik" class="col-sm-2">Filter Table</label>
                </div>
               <div class="form-group">
                    <label for="kd_nik" class="col-sm-2 control-label">Nama Dosen</label>
                    <div class="col-sm-10">
                        <input type="text" id="nama_dosen" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="kd_nik" class="col-sm-2 control-label">Kode NIK</label>
                    <div class="col-sm-10">
                        <input type="text" id="kd_nik" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status Dosen</label>
                    <div class="col-sm-10">
                        <select id="status_dosen_id" class="form-control">
                        </select>                                  
                    </div>
                </div> 
                <div class="form-group">
                    <div class="col-xs-3">
                            <a id="tambah" class="btn btn-default pull-left margin">
                                <i class="fa fa-plus">Tambah</i>
                            </a>
                    </div>
                </div>
            </form>   
            <div class="row">
               <div class="col-md-12">
                    <table id="tbl_detail_honor_dosen" class="table table-bordered  table-hover">
                    <thead>
                        <tr>
                            @*<th>Action</th>*@  
                            <th>Nama Dosen</th>  
                            <th>Kode NIK</th>  
                            <th>Mata Kuliah</th>                        
                            <th>Kelas</th>
                            <th>Jum Hadir</th>
                            <th>Jum Trans.</th>
                            <th>Tanggal</th>     
                            <th>Total Honor Mengajar</th> 
                            <th>Total Tunjangan</th> 
                            <th>Total Transport</th> 
                            <th>Total Keseluruhan</th>                   
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                </div>
            </div>
        </div>              
    </div>
</section>


@*form delete*@
<div id="dialog-confirm" title="Empty the recycle bin?" hidden>
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      Anda yakin ingin delete?</p>
</div>

<div id="dialog-tambah" title="Form Tambah Detail Report" hidden>
  <p class="validateTips">All form fields are required.</p> 
  <form id="addDetailReport">
      <input id="report_id" type="hidden" value="@ViewBag.ReportId" />
      <input id="id_lecture" type="hidden"  />
       <input id="code_course" type="hidden"  />
    <fieldset>
       <div class="form-horizontal"> 
            <div class="form-group">
                <label class="col-sm-4 control-label">NIK</label>
                <div class="col-sm-8">                                
                    <input type="text" id="kd_nik_input" placeholder="Kode NIK" class="form-control"   required="required"maxlength="5">
                </div>
            </div>      
            <div class="form-group">
                <label class="col-sm-4 control-label">Mata Kuliah</label>
                <div class="col-sm-8">                                
                    <input type="text" id="mata_kuliah_input" placeholder="Mata Kuliah" class="form-control"  required="required" maxlength="100">
                </div>
            </div>  
           <div class="form-group">
                <label class="col-sm-4 control-label">Kode Mata Kuliah</label>
                <div class="col-sm-8">                                
                    <input type="text" id="kode_mata_kuliah" readonly class="form-control"  required="required" maxlength="10">
                </div>
            </div>   
            <div class="form-group">
                <label class="col-sm-4 control-label">Kelas</label>
                <div class="col-sm-8">                                
                    <input type="text" id="kelas_input" placeholder="Kelas" class="form-control"  required="required" maxlength="20">
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-sm-4 control-label">Tanggal</label>
                <div class="col-sm-8">
                    <input type="text" id="tanggal_input" placeholder="Tanggal" required="required" class="datepicker  form-control" maxlength="10">                        
                </div>
            </div>
        </div>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">


    </fieldset>
  </form>
</div>

@section scripts{
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Content/jqueryui/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/blockui/jquery.blockUI.js"></script>
    @* <script src="~/Content/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>*@
   
<script type="text/javascript">
    var interval = null;
    function formDialog(el, height, width, func) {
        $(el).dialog("open");
        $(el).dialog({
            height: height,
            width: width,
            modal: true,
            buttons: {
                "Save": func,
                Cancel: function () {
                    $(el).dialog("close");
                }
            }
        });
    }
    function selectedData(id_selected, url) {
        $.getJSON(url, function (data) {
            $(  id_selected).empty();
            $( id_selected).append("<option value='' selected='selected'>--Select--</option>");
            $.each(data, function () {
                $(id_selected).append('<option value="' + this.id + '">' + this.value + '</option>')
            })
        });

    }

    $(function () {
        $("#dialog-tambah").dialog({
            autoOpen: false
        });
        $("#kd_nik_input").autocomplete({
            source: "@Url.Content("~/")masterdata/ajaxListKDNIKDosen",
             minLength: 2
        });
        $("#kelas_input").autocomplete({
            source: "@Url.Content("~/")masterdata/ajaxListKelas",
            minLength: 2,
            select: function (event, ui) {
                $("#id_lecture").val(ui.item.id_lecture);
            }
        });
        $("#mata_kuliah_input").autocomplete({
            source: "@Url.Content("~/")masterdata/ajaxListMataKuliah",
             minLength: 2,
             select: function (event, ui) {
                 $("#code_course").val(ui.item.code_course);
                 $("#kode_mata_kuliah").val(ui.item.code_course);
             }
         });
    });

    function saveDetails() {
        $('#addDetailReport').submit();

    }
    $(document).ajaxStop($.unblockUI);

    $(document).ready(function () {
        $("#tambah").on("click", function () {

            formDialog("#dialog-tambah", 400, 400, saveDetails);
        });
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy"
        });
        selectedData("#status_dosen_id", "@Url.Content("~/")masterdata/GetRefSelectedStatusDosen");
        

        var tableDetailReport = $('#tbl_detail_honor_dosen').DataTable({
                    "filter": "datatables-filter",
                    "scrollX": "100%",
                    "scrollCollapse": true,
                   //" jQueryUI": true,
                    "processing": true,
                    "searching": false,
                    "displayLength": 10,
                    "lengthChange": false,
                    "serverSide": true,
                    "ajax": {
                        "url": "@Url.Content("~/")ReportHonor/GetListDetailReportHonorDosen",
                        "type": "POST",
                        "data": function (d) {
                            d.report_id = $("#report_id").val();
                            d.nama_dosen = $("#nama_dosen").val();
                            d.kd_nik = $("#kd_nik").val();
                            d.status_dosen = $("#status_dosen_id option:selected").text();
                            d.id_lecture = $("#id_lecture").val();
                        },
                    },
                    "order": [[0, "asc"]],
                    "columns": [
                        
                       // { "data": null, "width": "5%" },
                        { "data": "nama_dosen_xls", "width": "15%" },
                        { "data": "kd_nik_xls", "width": "5%" },
                         { "data": "mata_kuliah", "width": "10%" },
                        { "data": "kelas", "width": "10%" },                        
                        { "data": "jum_hadir", "width": "5%" },
                        { "data": "jum_transpor", "width": "5%" },
                        { "data": "tanggal", "width": "15%" },
                        { "data": "total_honor_per_kelas", "width": "15%" },                        
                        { "data": "total_honor_tunjangan_per_kelas", "width": "15%" },
                        { "data": "total_transport", "width": "15%" },
                        { "data": "total_keseluruhan", "width": "15%" }
                    ]
        });

        $('#addDetailReport').validate({
            submitHandler: function (form) {
               // $.blockUI();
                var kd_nik = $("#kd_nik_input").val();
                var kelas = $("#kelas_input").val();
                var tanggal = $("#tanggal_input").val();
                var report_id = $("#report_id").val();
                var id_lecture = $("#id_lecture").val();
                var code_course = $("#code_course").val();
                var spliteTanggal = tanggal.split("/");
                tanggal = spliteTanggal[2] + "-" + spliteTanggal[1] + "-" + spliteTanggal[0];


                if (kd_nik != "" && kelas != "" && tanggal != "" && report_id != "" && id_lecture != "" && code_course!="") {
                    $.ajax({
                        method: "POST",
                        url: "@Url.Content("~/")reporthonor/AddDetailReportHonorDosenByDosen",
                        data: { kd_nik: kd_nik, kelas: kelas, report_id: report_id, tanggal: tanggal, id_lecture: id_lecture, code_course: code_course }
                     }).done(function (data) {
                         $("#info").html(data.message);
                         tableDetailReport.draw();
                         $("#dialog-tambah").dialog("close");
                         ClearForm();
                     });
                }
            }
        });

        $("#nama_dosen").on("input propertychange paste", function (e) {
            tableDetailReport.draw();
        });

        $("#kd_nik").on("input propertychange paste", function (e) {
            tableDetailReport.draw();
        });

        $("#status_dosen_id").change(function () {
            tableDetailReport.draw();
        });
        function ClearForm() {

            $("input").val("");
            $("textarea").val("");
            $("select").val("");
        }

    });


    </script>
}