﻿@{
    ViewBag.Title = "Report Honor Kelas Reguler";
}
@section styles{
     <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/dist/site.css" rel="stylesheet" />


}
<section class="content-header">
    <h1>
    Honor Mengajar Kelas Reguler
    </h1>
</section>
<section class="content">
   <div class="box box-primary">
        <div class="row">
	        <div class="col-md-12">
                <div class="panel-toolbar top clearfix">
                    <ul>
                         <li><a title="Report List" href="@Url.Content("~/")ReportHonor/KelasReguler" ><i class="fa fa-arrow-left fa-fw" style="color:green"></i>Back To List Report</a></li>
                        @*<li><a title="Sikronisasi" href="#" id="sinkronisasiData" ><i class="fa fa-refresh fa-fw" style="color:green"></i>Sinkronisasi Data</a></li>*@
                        <li><a title="Generate" href="@Url.Content("~/")ReportHonor/GenerateKelasReguler"><i class="fa fa-fw fa-list-alt" style="color:green"></i>Generate Report Honor Detail</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-header with-border">
            <div class="row">
	        <div class="col-md-12">
                <div id="info">

                </div>

            </div>
        </div>
            @*<h3 class="box-title">Cari Berdasarkan</h3>*@
        </div>                       
        <div class="box-body">
            <form id="formGenerate" class="form-horizontal label-kanan">
                <div class="row ">
				<div class="col-md-12">                    		
					<div class="form-group">
						<label  class="col-sm-2 control-label">Start Date</label>
						<div class="col-sm-10">
							 <input type="text"  id="start_date"  required placeholder="Start Date" class=" datepicker form-control pull-right active">
						</div>
					</div>	
					<div class="form-group">
						<label  class="col-sm-2 control-label">End Date</label>
						<div class="col-sm-10">
							 <input type="text" id="end_date" required  placeholder="End Date" class="datepicker form-control pull-right active">
						</div>
					</div>
                    <div class="form-group">
						<label  class="col-sm-2 control-label">Periode</label>
						<div class="col-sm-10">
							<input type="text" id="periode" required placeholder="Periode" class=" form-control pull-right active">
						</div>
					</div>	
                    <div class="form-group">
						<label  class="col-sm-2 control-label" >Tahun Ajaran</label>
						<div class="col-sm-10">
							 <select id="tahun_ajaran" class="form-control" required>
                                <option value="" disabled>--Tahun Akademik--</option>
                                
                            </select>  
						</div>
					</div>
                    <div class="form-group">
						<label  class="col-sm-2 control-label" >Semester</label>
						<div class="col-sm-10">
							 <select id="semester" class="form-control" required>
                                   <option value="" disabled>--Semester--</option>
                                    <option value="Ganjil">Ganjil</option>
                                    <option value="Genap">Genap</option>
                            </select>   
						</div>
					</div>											
				</div>
			</div>
             <div class="row ">
				<div class="col-md-12">                                        
                    <div class="submitgray button-row">
			            <button class="btn btn-primary" type="button" id="report2">Submit</button>
		            </div>                                        
				</div> 
            </div>
            </form>
        </div><!-- /.box-body -->
    </div>
</section>


@section scripts{
     
   <script src="~/Content/blockui/jquery.blockUI.js"></script>
     <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/jquery.validate.js"></script>
    <script src="~/Content/jquery-validation-master/src/localization/messages_id.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    @*<script src="~/Content/jqueryui/jquery-ui-date.min.js"></script>*@
    @*<script src="~/Content/jqueryui/jquery.ui.datepicker.validation.min.js"></script>*@
    <script src="~/Content/dist/js/helper.js"></script>
<script type="text/javascript">
    $(document).ajaxStop($.unblockUI);
    $(document).ready(function () {
        generateYearSelect("#tahun_ajaran");
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            //showButtonPanel: true,
            yearRange: "-60:+0",
            onClose: function (selectedDate) {

            }
        });
        selectedData("status_dosen_id", "@Url.Content("~/")masterdata/GetRefSelectedStatusDosen");
        $("#report2").on("click", function () {
            
            if ($("#start_date").val() == "" || $("#end_date").val() == "" || $("#periode").val()=="" || $("#tahun_ajaran").val() == "" || $("#semester").val() == "") {
                alert("Field wajib diisi");
                return false;
            }
            $.blockUI();
            $(this).attr('disabled', 'disabled');
            
            jQuery.ajax({
                url: "@Url.Content("~/")ReportHonor/GenerateReportReguler?StartDate=" + $("#start_date").val() + "&EndDate=" + $("#end_date").val() + "&periode=" + $("#periode").val() + "&TahunAjaran=" + $("#tahun_ajaran").val() + "&Semester=" + $("#semester").val(),
                
                success: function (result) {
                    $("#report2").removeAttr('disabled');
                    $("#info").html(result.message);
                    //if (result.status == 1) {
                    //    alert("Generate Berhasil");
                    //} else {
                    //    alert("Generate Gagal");
                    //}
                },
            });
        });

        function selectedData(id_selected, url) {
            $.getJSON(url, function (data) {
                $("#" + id_selected).empty();
                $("#" + id_selected).append("<option value='' selected='selected'>--Select--</option>");
                $.each(data, function () {
                    $("#" + id_selected).append('<option value="' + this.id + '">' + this.value + '</option>')
                })
            });
            
        }
        
    });
    //var myJQ = jQuery.noConflict();
    //myJQ(function () {
    //    myJQ('.datepicker').datepicker({
    //        dateFormat: "dd/mm/yy"
    //    });
    //});
   
    </script>
}