﻿@{
    ViewBag.Title = "ReportPdf";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head><title></title>
    <style>
        .listHonor {
            text-align: justify;
            text-justify: inter-word;
        }
        .header {
            width:300px;
            text-align:center
        }
        .inner {
            width: 100%;
            margin: 10px auto;
            text-align:center;
        }
         .inner2 {
            width: 30%;
            margin: 0 auto;
            text-align:center;
        }
        .logo {
          float: left;
          width: 20%;
          background-color: #CCF;
        }
        .wrapper {
          /*margin-right: -100px;
          margin-left:30px;*/
        }
        .content {
          float: left;
          width: 20%;
        }
        .contentFirst {
            margin-left:10%;
          float: left;
          width: 20%;
        }
        .content p {
            margin-top:-10px;
        }
        .face {
          float: left;
          width: 5%;
         
        }
        .face p {
        margin-top:-10px;
        }
        .sidebar {
          float: right;
          width: 30%;

        }
        .sidebar p {
            margin-top:-10px;
        }
        .cleared {
          clear: both;
        }

        .left {
            text-align:left;
        }

        .strong {
            text-decoration:solid;
        }
        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: solid;
            border-color:black;
            border-width: 1px;
        } 
        .contentLi {
          float: left;
          width: 30%;
          margin-top:-15px;

        }
        .contentTtd {
          float: left;
          width: 30%;
          margin-top:-15px;

        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            font-size:smaller;
        }

        td {
            font-size:x-small;            
        }

        .textright {
            text-align:right;
        }


        .width-2 {
            width:2%;
        }
        .width-3 {
            width:3%;
        }
        .width-5 {
            width:5%;
        }
        .width-10 {
            width:10%;
        }
        .width-15 {
            width:15%;
        }
        .width-20 {
            width:20%;
        }

    </style>
</head>

<body style="margin-right:10%;margin-left:10%">
    <div class="wrapper">   
       <div class="inner" style="text-align:center;">
            <p style="text-decoration: underline;"><strong>REKAP HONOR DOSEN</strong></p>
            <p >Bulan November 2015 (11/1/2015 s/d 11/12/2015)</p>
        </div>
        <div class="inner" style="text-align:center;">
            <table>
                <tr>
                    <th class="width-2">N0</th>
                    <th class="width-3">KD NIK</th>
                    <th class="width-10">NAMA DOSEN</th>
                    <th class="width-2">Gol</th>
                    <th class="width-10">STATUS DOSEN</th>
                    <th class="width-15">MATA KULIAH</th>
                    <th class="width-3">SKS</th>
                    <th class="width-10"> KELAS </th>
                    <th class="width-10"> TANGGAL </th>
                    <th class="width-2"> JML H </th>
                    <th class="width-10"> HONOR/SKS </th>
                    <th class="width-10">HONOR TRANSPORT </th>
                    <th class="width-2"> JML T </th>
                    <th class="width-10">HONOR MENGAJAR</th>
                    <th class="width-10">PRAKTISI</th>
                    <th class="width-10">JUM HONOR</th>
                    <th class="width-10">TOTAL TRANSPORT</th>
                    <th class="width-10">TOTAL KESELURUHAN</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            
        </div>
    </div>
</body>
</html>