﻿@{
    ViewBag.Title = "ReportPdf";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head><title></title>
    <style>
        .listHonor {
            text-align: justify;
            text-justify: inter-word;
        }
        .header {
            width:300px;
            text-align:center
        }
        .inner {
            width: 13%;
            margin: 0 auto;
            text-align:left;
        }
         .inner2 {
            width: 30%;
            margin: 0 auto;
            text-align:center;
        }
        .logo {
          float: left;
          width: 20%;
          background-color: #CCF;
        }
        .wrapper {
          margin-right: -100px;
          margin-left:30px;
        }
        .content {
          float: left;
          width: 20%;
        }
        .contentFirst {
            margin-left:10%;
          float: left;
          width: 20%;
        }
        .content p {
            margin-top:-10px;
        }
        .face {
          float: left;
          width: 5%;
         
        }
        .face p {
        margin-top:-10px;
        }
        .sidebar {
          float: right;
          width: 30%;

        }
        .sidebar p {
            margin-top:-10px;
        }
        .cleared {
          clear: both;
        }

        .left {
            text-align:left;
        }

        .strong {
            text-decoration:solid;
        }
        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: solid;
            border-color:black;
            border-width: 1px;
        } 
        .contentLi {
          float: left;
          width: 30%;
          margin-top:-15px;

        }
        .contentTtd {
          float: left;
          width: 30%;
          margin-top:-15px;

        }

    </style>
</head>

<body style="margin-right:10%;margin-left:10%">
<div class="header">
<p>SEKOLAH TINGGI MANAJEMEN TRANSPORTASI</p>
<p>TRISAKTI-JAKARTA</p>
</div>
<div class="logo">
    <label>LOGO</label>
</div>
<div class="inner2" style="text-align:center;">
    <p style="text-decoration: underline;"><strong>SLIP HONOR MENGAJAR</strong></p>
    <p >BULAN Januari 2015 (1 Jan s/d 20 Jan 2015)</p>
</div>
<div class="inner">
    <p>T.A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;2014/2015</p>
    <p>Semester&nbsp;&nbsp;:&nbsp;&nbsp;Ganjil</p>
</div>

<br />
<hr style="width:95%">
<br />
<div class="wrapper">
    <div class="content"><p>NIK</p><p>Nama</p><p>Tgl. Mulai Mengajar</p><p>Pendidikan</p></div>
    <div class="face"><p>:</p><p>:</p><p>:</p><p>:</p></div>
    <div class="content"><p>MF01</p><p>&nbsp;Miskul Firdaus</p><p>01/09/1990</p><p>S2</p></div>
    <div class="content"><p>Jabatan Akademik</p><p>Status Dosen</p><p>Kelompok Dosen</p></div>
    <div class="face"><p>:</p><p>:</p><p>:</p></div>
    <div class="content"><p>Lektor</p><p>Dosen Tetap Struktural</p><p>C</p></div>
</div>
<div class="cleared"></div>
<hr style="width:95%">
<div class="wrapper">
<p class="left"><strong>Honor Mengajar</strong>  </p>
      
    <div class="contentLi"><p>&#9632;&nbsp;&nbsp;00PA100&nbsp;&nbsp;D.III-MTL A</p></div>
    <div class="contentLi"> <p>2&nbsp; X&nbsp;3 SKS X 70000 </p></div>
    <div class="contentLi"> <p>=&nbsp; Rp&nbsp;420.000 </p></div>
        
    
    <div class="contentLi"> <p>&#9632;&nbsp;&nbsp;00PA100&nbsp;&nbsp;S1-MTU F</p></div>
    <div class="contentLi"> <p>2&nbsp; X&nbsp;3 SKS X 70000 </p></div>
    <div class="contentLi"> <p>=&nbsp; Rp&nbsp;420.000 </p></div>
           
    <div class="contentLi"> <p>&#9632;&nbsp;&nbsp;00PA100&nbsp;&nbsp;S1-MTU F</p></div>
    <div class="contentLi"> <p>2&nbsp; X&nbsp;3 SKS X 70000 </p></div>
    <div class="contentLi"> <p style="text-decoration:underline">=&nbsp; Rp&nbsp;420.000 +</p></div>
            
    <div class="contentLi"><p><i>Jumlah Honor Mengajar</i></p>   </div>
    <div class="contentLi"><p></p></div>
    <div class="contentLi"><p>=&nbsp; Rp&nbsp;840.000 </p></div>

    <div class="contentLi"><p><i>Transpor</i>&nbsp;&nbsp;4 X 75.0000 </p></div>
    <div class="contentLi"><p></p></div>
    <div class="contentLi"><p style="text-decoration:underline">=&nbsp; Rp&nbsp;300.000 +</p></div>

    <div class="contentLi"><p><strong> <i>TOTAL HONOR YANG DITERIMA</i></strong>&nbsp;&nbsp; </p>   </div>
    <div class="contentLi"><p></p></div>
    <div class="contentLi"><p >=&nbsp; Rp&nbsp1.1.40.0000 </p></div>
</div>
<div class="cleared"></div>
    <br />
<div class="wrapper">
    <div class="sidebar"><p>Jakarta, 13 Oktober 2015</p></div>
</div>
    <div class="cleared"></div>
<div class="wrapper">
    <div class="contentTtd"><p>Yang Membayar,</p>   </div>
    <div class="contentTtd"><p></p></div>
    <div class="sidebar"><p >Yang Menerima </p></div>
</div> 
    <br />
    <br />
    <br />
    <br />
 <div class="wrapper">   
    <div class="contentTtd"><p>Bendahara</p>   </div>
    <div class="contentTtd"><p></p></div>
    <div class="sidebar"><p >Miskul Firdaus,SE,MM,QIA </p></div>
</div>
</body>
</html>