﻿@model SPDSTMT.Models.view_honor_bp3ip

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>view_honor_bp3ip</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nama_dosen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nama_dosen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.kd_nik)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.kd_nik)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mata_kuliah_mengajar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mata_kuliah_mengajar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sks_mengajar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sks_mengajar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jumlah_hadir)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jumlah_hadir)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jumlah_transpor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jumlah_transpor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.angkatan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.angkatan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.kelas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.kelas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mata_kuliah_koreksi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mata_kuliah_koreksi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sks_koreksi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sks_koreksi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jum_mahasiswa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jum_mahasiswa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jum_mandiri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jum_mandiri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mengawas_ujian)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mengawas_ujian)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.naskah_ujian)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.naskah_ujian)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.honor_per_hadir)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.honor_per_hadir)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.honor_koreksi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.honor_koreksi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.honor_mandiri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.honor_mandiri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.honor_mengawas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.honor_mengawas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.honor_naskah_ujian)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.honor_naskah_ujian)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.honor_transport)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.honor_transport)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jumlah_honor_mengajar)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jumlah_honor_mengajar)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jumlah_honor_transpor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jumlah_honor_transpor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jumlah_koreksi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jumlah_koreksi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jumlah_mandiri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jumlah_mandiri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_honor_naskah_ujian)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_honor_naskah_ujian)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.total_honor_mengawas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.total_honor_mengawas)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
