﻿@model SPDSTMT.Models.view_honor_bp3ip

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>view_honor_bp3ip</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nama_dosen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nama_dosen)
            @Html.ValidationMessageFor(model => model.nama_dosen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.kd_nik)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.kd_nik)
            @Html.ValidationMessageFor(model => model.kd_nik)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mata_kuliah_mengajar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mata_kuliah_mengajar)
            @Html.ValidationMessageFor(model => model.mata_kuliah_mengajar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sks_mengajar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sks_mengajar)
            @Html.ValidationMessageFor(model => model.sks_mengajar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.jumlah_hadir)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jumlah_hadir)
            @Html.ValidationMessageFor(model => model.jumlah_hadir)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.jumlah_transpor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jumlah_transpor)
            @Html.ValidationMessageFor(model => model.jumlah_transpor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.angkatan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.angkatan)
            @Html.ValidationMessageFor(model => model.angkatan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.kelas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.kelas)
            @Html.ValidationMessageFor(model => model.kelas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mata_kuliah_koreksi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mata_kuliah_koreksi)
            @Html.ValidationMessageFor(model => model.mata_kuliah_koreksi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sks_koreksi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sks_koreksi)
            @Html.ValidationMessageFor(model => model.sks_koreksi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.jum_mahasiswa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jum_mahasiswa)
            @Html.ValidationMessageFor(model => model.jum_mahasiswa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.jum_mandiri)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jum_mandiri)
            @Html.ValidationMessageFor(model => model.jum_mandiri)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mengawas_ujian)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mengawas_ujian)
            @Html.ValidationMessageFor(model => model.mengawas_ujian)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.naskah_ujian)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.naskah_ujian)
            @Html.ValidationMessageFor(model => model.naskah_ujian)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.honor_per_hadir)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.honor_per_hadir)
            @Html.ValidationMessageFor(model => model.honor_per_hadir)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.honor_koreksi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.honor_koreksi)
            @Html.ValidationMessageFor(model => model.honor_koreksi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.honor_mandiri)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.honor_mandiri)
            @Html.ValidationMessageFor(model => model.honor_mandiri)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.honor_mengawas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.honor_mengawas)
            @Html.ValidationMessageFor(model => model.honor_mengawas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.honor_naskah_ujian)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.honor_naskah_ujian)
            @Html.ValidationMessageFor(model => model.honor_naskah_ujian)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.honor_transport)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.honor_transport)
            @Html.ValidationMessageFor(model => model.honor_transport)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.jumlah_honor_mengajar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jumlah_honor_mengajar)
            @Html.ValidationMessageFor(model => model.jumlah_honor_mengajar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.jumlah_honor_transpor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jumlah_honor_transpor)
            @Html.ValidationMessageFor(model => model.jumlah_honor_transpor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.jumlah_koreksi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jumlah_koreksi)
            @Html.ValidationMessageFor(model => model.jumlah_koreksi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.jumlah_mandiri)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.jumlah_mandiri)
            @Html.ValidationMessageFor(model => model.jumlah_mandiri)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.total_honor_naskah_ujian)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.total_honor_naskah_ujian)
            @Html.ValidationMessageFor(model => model.total_honor_naskah_ujian)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.total_honor_mengawas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.total_honor_mengawas)
            @Html.ValidationMessageFor(model => model.total_honor_mengawas)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
