﻿@{
    ViewBag.Title = "Index";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/dataTables.jqueryui.min.css" rel="stylesheet" />
      <style>

       .table {
            font-size:small;

        }
       .table tbody tr.odd {
            background-color: #f9f9f9 !important;
        }
        .ui-datepicker-title select{
          color:black;
        }
        label.error {
            color:red;
         }
    </style>
}

<section class="content-header">
    <h1>
        List Honor Mengajar Dosen BP3IP
    </h1>
</section>
<section class="content">
   <div class="box">
        <div class="box-header with-border ">
           <label for="kd_nik" class="col-sm-2">Filter Table</label>
           <div class="row">
                <div class="col-md-12">
                    <div class="col-xs-2">
                        <input class="form-control" type="text" id="kd_nik" name="kd_nik" placeholder="Kode NIK">
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" type="text" id="nama_dosen"  placeholder="Nama Dosen">
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control" type="text" id="mata_kuliah"  placeholder="Mata Kuliah">
                    </div>
                    <div class="col-xs-2">
                        <input class="form-control" type="text" id="angkatan"  placeholder="Angkatan">
                    </div>
                </div>
            </div>

        </div>  
        <div class="box-body">
             <div id="info">                                    
                 </div>
            <div class="row">
               <div class="col-md-12">
                   <label>Tabel Honor Dosen BP3IP</label>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                    <table id="tbl_detail_honor_dosen" class="table table-bordered  table-hover">
                    <thead>
                        <tr>
                            <th>Action</th>  
                            <th>Kode NIK</th>  
                            <th>Nama Dosen</th>  
                            <th>Mata Kuliah</th>                        
                            <th>Kelas</th>
                            <th>Jum Hadir</th>
                            <th>Jum Honor Mengajar</th>
                            <th>Jum Trans.</th>
                            <th>Jum Honor Trans</th>
                            <th>Tanggal</th>     
                            <th>Angkatan</th> 
                            <th>Total Tunjangan</th> 
                            <th>Total Transport</th> 
                            <th>Total Keseluruhan</th>                   
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                </div>
            </div>
        </div>              
    </div>
</section>
@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

}