﻿@model SPDSTMT.Models.view_honor_mengajar_bp3ip
@{
    ViewBag.Title = "Index";
}


@section styles{
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
      <style>

       .table {
            font-size:small;

        }
       .table tbody tr.odd {
            background-color: #f9f9f9 !important;
        }
        .ui-datepicker-title select{
          color:black;
        }
        label.error {
            color:red;
         }
    </style>
}


<section class="content-header">
    <h1>
        List Honor Mengajar Dosen BP3IP
    </h1>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            @* <h3 class="box-title">Title</h3>*@
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <button class="btn btn-block btn-default pull-left btnCreate"><i class="fa fa-refresh"></i>Reset</button>
                </div>
           </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                     <div class="box">
                        <div class="box-header with-border">
                          <h3 class="box-title">Add New</h3>
                             <button class="btn btn-box-tool pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" id="form_dosen">
                          <div class="box-body">
                              <div class="box-body">
                                    <div id="info_submit" >
                                    </div>                                    
                                    <div class="form-group">
                                      <label for="kd_nik" class="col-sm-2 control-label">Kode NIK</label>
                                      <div class="col-sm-4">
                                          <div class="input-group">
                                             @Html.TextBoxFor(model => model.kd_nik, new { @class = "form-control",@readonly="readonly", @placeholder="Kode NIK",@required="true",@maxlength="4" })
                                             <span class="input-group-btn">
                                                <button class="btn btn-default" type="button">
                                                    <i class="find-kd-nik fa fa-search"></i>
                                                </button>
                                             </span>
                                          </div>
                                      </div>
                                      <label for="kd_nik" class="col-sm-2 control-label">Nama Dosen</label>
                                      <div class="col-sm-4">
                                          <div class="input-group">
                                            @Html.TextBoxFor(model => model.nama_dosen, new { @class = "form-control",@readonly="readonly", @placeholder="Nama Dosen",@required="true"})
                                            <span class="input-group-btn">
                                                <button class="find-nama-dosen btn btn-default" type="button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                          </div>                                        
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="kd_nik" class="col-sm-2 control-label">Mata Kuliah</label>
                                      <div class="col-sm-4">
                                          <div class="input-group">
                                            @Html.TextBoxFor(model => model.mata_kuliah_mengajar, new { @class = "form-control",@readonly="readonly", @placeholder="Mata Kuliah",@required="true"})
                                            <span class="find-mata-kuliah input-group-btn">
                                                <button class="btn btn-default" type="button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                          </div>                                        
                                      </div>
                                      <label for="kd_nik" class="col-sm-2 control-label">Kelas</label>
                                      <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.kelas, new { @class = "form-control", @placeholder="Kelas"})
                                                                             
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="kd_nik" class="col-sm-2 control-label">Jumlah Hadir</label>
                                      <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.jumlah_hadir, new { @class = "form-control", @placeholder="Jumlah Hadir",@required="true"})
                                           
                                      </div>
                                      <label for="kd_nik" class="col-sm-2 control-label">Jum Honor Mengajar</label>
                                      <div class="col-sm-4">
                                                @Html.TextBoxFor(model => model.jumlah_honor_mengajar, new { @class = "form-control",@readonly="readonly", @placeholder="Jumlah Honor Mengajar",@required="true"})
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="kd_nik" class="col-sm-2 control-label">Jumlah Transpor</label>
                                      <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.jumlah_transpor, new { @class = "form-control", @placeholder="Jumlah Transpor",@required="true"})
                                       </div>
                                      <label for="kd_nik" class="col-sm-2 control-label">Jum Honor Transpor</label>
                                      <div class="col-sm-4">                                          
                                            @Html.TextBoxFor(model => model.jumlah_honor_transpor, new { @class = "form-control",@readonly="readonly", @placeholder="Jumlah Honor Transpor",@required="true"})                                                                   
                                      </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="kd_nik" class="col-sm-2 control-label">Angkatan</label>
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.angkatan, new { @class = "form-control", @placeholder="Angkatan",@required="true"})
                                        </div>
                                        <label for="kd_nik" class="col-sm-2 control-label">Periode</label>
                                        <div class="col-sm-4">
                                            <div class="input-group">
                                                @Html.TextBoxFor(model => model.periode, new { @class = "form-control",@readonly="readonly", @placeholder="Periode",@required="true"})
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button">
                                                        <i class="find-priode fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                             </div>
                          </div>
                          <div class="box-footer">
                            <div class="col-sm-2">
                                <button class="btnSave btn btn-block btn-primary " type="button">Save</button>
                            </div>
                            <div class="col-sm-2">
                                <button class="btnSave btn btn-block btn-danger" type="button">Delete</button>
                            </div>
                        </div>
                        </form>
                      </div><!-- /.box -->
                </div>
            </div>

        </div>
         <div class="box-footer">            
             <label>Fiter Table Honor Mengajar Dosen BP3IP</label>             
             <div class="form-horizontal">
                 <div class="box-body">
                    <div class="box-body">                
                        <div class="form-group">
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input type="text" id="nama_dosen_filter" placeholder="Nama Dosen" class="form-control" />
                                </div>                                        
                            </div>
                            <div class="col-sm-2">
                                <input type="text" id="kd_nik_filter" placeholder="Kode NIK" class="form-control" />                                                                             
                            </div>
                            <div class="col-sm-2">
                                <input type="text" id="mata_kuliah_filter" placeholder="Mata Kuliah" class="form-control" />                                                                             
                            </div>
                             <div class="col-sm-2">
                                <input type="text" id="angkatan" placeholder="Angkatan" class="form-control" />                                                                             
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.periode, new { @class = "form-control",@readonly="readonly", @placeholder="Periode",@required="true"})
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <table id="tbl_detail_honor_dosen" class="table table-bordered  table-hover">
                    <thead>
                        <tr>
                            <th>Action</th>  
                            <th>Kode NIK</th>  
                            <th>Nama Dosen</th>  
                            <th>Mata Kuliah</th>                        
                            <th>Kelas</th>
                            <th>Jum Hadir</th>
                            <th>Jum Honor Mengajar</th>
                            <th>Jum Trans.</th>
                            <th>Jum Honor Trans</th>
                            <th>Tanggal</th>     
                            <th>Angkatan</th> 
                            <th>Total Tunjangan</th> 
                            <th>Total Transport</th> 
                            <th>Total Keseluruhan</th>                   
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
        </div>
    </div>
</section>

<div id="dialog" hidden>
    <iframe id="myIframe" src="http://www.jQuery.com" style="height:500px;width:500px"></iframe>
</div>
<button id="dialogBtn">Open Dialog</button>

@section scripts{
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>

    <script type="text/javascript" >
        $(document).ready(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true,
                height: 500,
                width:500
               // resizable: false,
                //open: function (ev, ui) {
                //    $('#myIframe').attr('src', 'http://www.jQuery.com');
                //}
            });

            $('#dialogBtn').click(function () {
                $('#dialog').dialog('open');
            });
        });
    </script>


}

