﻿@model SPDSTMT.Models.tbl_kehadiran_dosen

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tbl_kehadiran_dosen</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.document_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.document_id)
            @Html.ValidationMessageFor(model => model.document_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.code_lecturer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.code_lecturer)
            @Html.ValidationMessageFor(model => model.code_lecturer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.name_course)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name_course)
            @Html.ValidationMessageFor(model => model.name_course)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fullname_user)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fullname_user)
            @Html.ValidationMessageFor(model => model.fullname_user)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.credit_course)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.credit_course)
            @Html.ValidationMessageFor(model => model.credit_course)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.kelas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.kelas)
            @Html.ValidationMessageFor(model => model.kelas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.date_document)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.date_document)
            @Html.ValidationMessageFor(model => model.date_document)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.code_lecture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.code_lecture)
            @Html.ValidationMessageFor(model => model.code_lecture)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.acronym_concentration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.acronym_concentration)
            @Html.ValidationMessageFor(model => model.acronym_concentration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.prog_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.prog_id)
            @Html.ValidationMessageFor(model => model.prog_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.code_course)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.code_course)
            @Html.ValidationMessageFor(model => model.code_course)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.create_on)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.create_on)
            @Html.ValidationMessageFor(model => model.create_on)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.create_by)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.create_by)
            @Html.ValidationMessageFor(model => model.create_by)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modified_on)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modified_on)
            @Html.ValidationMessageFor(model => model.modified_on)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.modified_by)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.modified_by)
            @Html.ValidationMessageFor(model => model.modified_by)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
