﻿@model SPDSTMT.Models.tbl_kehadiran_dosen

@{
    ViewBag.Title = "Tambah Kehadiran Dosen";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
     <link href="~/Content/dist/site.css" rel="stylesheet" />
     <style>

       .table.dataTable {
            font-size:small;

        }
       tbody tr.odd {
            background-color: #f9f9f9;
        }
        .ui-datepicker-title select {
          color:black;
          font-size:smaller;
        }
        .ui-datepicker-title select > option{
          color:black;
          font-size:smaller;
        }
         label.error {
            color:red;
         }
    </style>
}
<section class="content-header">
    <h1>
    Tambah Kehadiran Dosen
    </h1>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="row">
	        <div class="col-md-12">
                <div class="panel-toolbar top clearfix">
                    <ul>
                        <li><a title="Back To List" href="@Url.Content("~/")KehadiranDosen"  ><i class="fa fa-long-arrow-left fa-fw" style="color:green"></i>Back to List</a></li>
                        <li><a title="Reset Form" class="btnCreate" ><i class="fa fa-fw fa-refresh " style="color:green"></i>Reset</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-header with-border">
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                        <!-- form start -->
                        <form class="form-horizontal label-kanan" id="form_dosen">
                              <div class="box-body">
                                    <div id="info_submit" >
                                    </div>
                                    <div class="form-group">
                                      <label for="kd_nik" class="col-md-2 control-label">Kode NIK</label>
                                      <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.code_lecturer, new { @class = "form-control", @placeholder="Kode NIK",@required="true",@maxlength="4" })
                                      </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="kd_nik" class="col-md-2 control-label">Nama Dosen</label>
                                        <div class="col-md-10">
                                           @Html.TextBoxFor(model => model.fullname_user, new { @class = "form-control",@disabled="", @placeholder="Nama Dosen" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nama_dosen" class="col-md-2 control-label">Mata Kuliah</label>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.name_course, new { @class = "form-control", @placeholder="Mata Kuliah" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nama_dosen" class="col-md-2 control-label">Kode MK</label>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.code_course, new { @class = "form-control",@disabled="", @placeholder="Kode MK" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="SKS" class="col-md-2 control-label">SKS</label>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.credit_course, new { @class = "form-control",@disabled="", @placeholder="SKS" })
                                        </div>
                                    </div>
                                  <div class="form-group">
                                        <label for="kelas" class="col-md-2 control-label">Kelas</label>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.kelas, new { @class = "form-control", @placeholder="Concentration" })
                                        </div>
                                   </div>
                                  <div class="form-group">
                                        <label for="nama_dosen" class="col-md-2 control-label">Tanggal Kehadiran</label>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.date_document, new { @class = "form-control datepicker", @placeholder="Tanggal Kehadiran" })
                                        </div>
                                    </div>
                             </div>
                              <div class="row ">
				                <div class="col-md-12">              
                                    <div class="submitgray button-row">
			                                <button class="btnSave btn  btn-primary " type="button">Submit</button>
		                           </div>                            
				                </div> 
                            </div>

                        </form>
                      
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
     
   <script src="~/Content/blockui/jquery.blockUI.js"></script>
     <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/jquery.validate.js"></script>
    <script src="~/Content/jquery-validation-master/src/localization/messages_id.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    @*<script src="~/Content/jqueryui/jquery-ui-autocomplete.js"></script>*@
    <script src="~/Content/dist/js/kehadiran-dosen.js"></script>
    
    }