﻿@model SPDSTMT.Models.tbl_kehadiran_dosen

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbl_kehadiran_dosen</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.document_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.document_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.code_lecturer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.code_lecturer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name_course)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name_course)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fullname_user)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fullname_user)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.credit_course)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.credit_course)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.kelas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.kelas)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date_document)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date_document)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.code_lecture)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.code_lecture)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.acronym_concentration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.acronym_concentration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prog_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prog_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.code_course)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.code_course)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.create_on)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.create_on)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.create_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.create_by)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified_on)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified_on)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified_by)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
