﻿@{
    ViewBag.Title = "Dosen";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/dist/site.css" rel="stylesheet" />
    <style>

       .table.dataTable {
            font-size:small;

        }

        .jp-table {
            font-size:small;
        }
       tbody tr.odd {
            background-color: #f9f9f9;
        }
    </style>
}
<section class="content-header">
    <h1>
    Daftar Kehadiran Dosen
    </h1>
</section>
<section class="content">
    <div class="box box-primary">
         <div class="row">
	            <div class="col-md-12">
                    <div class="panel-toolbar top clearfix">
                        <ul>
                            <li><a href="@Url.Content("~/")KehadiranDosen/Create"><i class="fa fa-fw fa-plus" style="color:green"></i>Tambah Kehadiran Dosen</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="box-header with-border">
           @* <h3 class="box-title">Title</h3>*@
           @* <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            </div>*@
            
        </div>
    <div class="box-body">

        <div class="row">
            <div id="info_submit" >
            </div>
            <div class="col-md-12">
                <p class="box-title">Filter</p>
                <div class="col-xs-2">
                    <input class="form-control" type="text" id="kd_nik" name="kd_nik" placeholder="Kode NIK">
                </div>
                <div class="col-xs-6">
                    <input class="form-control" type="text" id="nama_dosen" name="nama_dosen" placeholder="Nama Dosen">
                </div>
                <div class="col-xs-4">
                    <select id="status_dosen" class="form-control">
                    </select> 
                 </div>
            </div>
        </div>
       <br />
        <div class="row">
            <div class="col-md-12 table-responsive ">

            <table id="tbl_dosen" class="jp-table">
            <thead>
                <tr>
                    
                    <th>NIK</th>
                    <th>Nama</th>
                    <th>Mata Kuliad</th>
                    <th>Kode MK</th>
                    <th>SKS</th>
                    <th>Kelas</th>
                    <th>Tanggal Hadir</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
            </div>
        </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
        
    </div><!-- /.box-footer-->
    </div>
</section>
<div id="dialog-confirm" title="Empty the recycle bin?" hidden>
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      Anda yakin ingin delete?</p>
</div>
@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var dialog, form;
            selectedData("status_dosen", "@Url.Content("~/")masterdata/GetRefSelectedStatusDosen");
            $(document).on("click", "#addDosen", function () {

            });

            var oTable = $('#tbl_dosen').DataTable({
                "filter": "datatables-filter",
                "processing": true,
                "searching": false,
                "lengthChange": false,
                "serverSide": true,
                "ajax": {
                    "url": "KehadiranDosen/GetListKehadiranDosen",
                    "type": "POST",
                    "data": function (d) {
                        d.kd_nik = $("#kd_nik").val();
                        d.nama_dosen = $("#nama_dosen").val();
                        d.status_dosen = $("#status_dosen").val();
                    },
                },
               // "order": [[1, "asc"]],
                "columns": [
                     
                    { "data": "code_lecturer" },
                    { "data": "fullname_user" },
                     { "data": "name_course", "orderable": false },
                     { "data": "code_course", "orderable": false },
                     { "data": "credit_course", "orderable": false },
                     { "data": "kelas", "orderable": false },
                     { "data": "date_document", "orderable": false },
                     { "data": null }
                ],
                "columnDefs": [

                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-primary" href="KehadiranDosen/edit?id=' + row.id + '" title="Edit""><span class="fa fa-pencil"></span></a>&nbsp;' +
                                   '<a class="btn btn-xs btn-danger remove-kehadiran" title="Hapus" attr1="'+row.id+'"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 7,
                        "orderable": false
                    },
                    {
                        "render": function (data, type, row) {
                            var date = "";
                            if (row.date_document != null && row.date_document != "") {
                                date = new Date(parseInt(row.date_document.substr(6)));
                                date=date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                            }
                            return date;
                        },
                        "targets": 6,
                        "orderable": false
                    }
                ]
            });
            


            $("#tbl_dosen").on("click", ".remove-kehadiran", function () {
                formDeleteDialog("#dialog-confirm", "@Url.Content("~/")KehadiranDosen/ajaxDelete?id=" + $(this).attr("attr1"), "#info_submit", oTable);
           
            });
          
            $("#kd_nik").on("input propertychange paste", function (e) {
                oTable.draw();
            });
            $("#nama_dosen").on("input propertychange paste", function (e) {
                oTable.draw();
            });
            $("#status_dosen").change(function () {
                oTable.draw();
            });
            function selectedData(id_selected, url) {
                $.getJSON(url, function (data) {
                    $("#" + id_selected).empty();
                    $("#" + id_selected).append("<option value='' selected='selected'>--Select--</option>");
                    $.each(data, function () {
                        $("#" + id_selected).append('<option value="' + this.id + '">' + this.value + '</option>')
                    })
                });

            }
        });

        function formDeleteDialog(el, url, elinfo, otable) {
            $(el).dialog({
                height: 160,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $.ajax(url)
                      .done(function (data) {
                          $(elinfo).html(data.message);
                          $(el).dialog("close");
                          otable.draw();
                      });
                    },
                    Cancel: function () {
                        $(el).dialog("close");
                    }
                }
            });
        }
    </script>
}