﻿@{
    ViewBag.Title = "Slip Gaji Dosen Kelas Reguler";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/dist/site.css" rel="stylesheet" />
   

}
<section class="content-header">
    <h1>
    Honor Mengajar Kelas Reguler
    </h1>
</section>
<section class="content">
   <div class="box box-primary">
        <div class="row">
	        <div class="col-md-12">
                <div class="panel-toolbar top clearfix">
                    <ul>
                        <li><a title="Sikronisasi" href="#" id="sinkronisasiData" ><i class="fa fa-refresh fa-fw" style="color:green"></i>Sinkronisasi Data</a></li>
                        <li><a title="Report List" href="@Url.Content("~/")ReportHonor/GenerateKelasReguler"><i class="fa fa-fw fa-list-alt" style="color:green"></i>Generate Report Honor Detail</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">Cari Berdasarkan</h3>
        </div>                       
        <div class="box-body form-horizontal label-kanan">
            <div class="row ">
				<div class="col-md-12">
					<div class="form-group">
						<label  class="col-sm-2 control-label">Start Date</label>
						<div class="col-sm-10">
							<input type="text" id="start_date_history" placeholder="Start Date" class="datepicker form-control pull-right active">
                            <input type="hidden" id="start_date_hidden" />
						</div>
					</div>	
					<div class="form-group">
						<label  class="col-sm-2 control-label">End Date</label>
						<div class="col-sm-10">
							<input type="text" id="end_date_history" placeholder="End Date" class="datepicker form-control pull-right active">
                            <input type="hidden" id="end_date_hidden" />
						</div>
					</div>												
				</div>								
			</div>
            <div class="row ">
				<div class="col-md-12">                                        
                    <div class="submitgray button-row">
			            <button class="btn btn-primary " type="submit">Cari</button>
		            </div>                                        
				</div> 
            </div>	
            <div class="row">
				<div class="col-md-12">
                    <table id="tbl_history_report" class="jp-table">
                        <thead>
                            <tr>                                             
                                <th>Periode</th>
                                <th>Excel Details</th>
                                <th>PDF Details</th>
                                <th>Excel Total</th>                        
                                <th>PDF Total </th>
                                <th>SLip </th>
                                <th>Action</th>                        
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
             <div id="info">   
                 <span>Table History Report</span>                                 
             </div>
            
        </div>                
    </div>
</section>


<div id="dialog-form-slip" title="Details Slip Gaji" hidden style="z-index:1">
      <input type="hidden"  id="report_id" value="0" />    
       <div class="form-horizontal">   
            <div class="form-group">
                <label class="col-sm-4 control-label">Nama Dosen</label>
                <div class="col-sm-8">                                
                    <input type="text" id="nama_dosen" placeholder="Nama Dosen" class="form-control" maxlength="20">
                </div>
            </div>         
            <div class="form-group">
                <label class="col-sm-4 control-label">Kode NIK</label>
                <div class="col-sm-8">                                
                    <input type="text" id="kd_nik" placeholder="Kode NIK" class="form-control" maxlength="20">
                </div>
            </div> 
            <div class="form-group">
                <label class="col-sm-4 control-label">Status Dosen</label>
                <div class="col-sm-8">
                    <select id="status_dosen_id" class="form-control">
                    </select>                                  
                </div>
            </div> 
      </div>
    <div class="box">
         <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="tbl_report_slip" class=" jp-table" >
                        <thead>
                            <tr>
                            <th>Action</th>           
                            <th>NIK</th>
                            <th>Nama Dosen</th>
                            <th>Download</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
         </div>
    </div>
    <!-- Allow form submission with keyboard without duplicating the dialog button table table-bordered  table-hover-->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
   
</div>
@*form delete*@
<div id="dialog-confirm" title="Empty the recycle bin?" hidden>
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      Anda yakin ingin delete?</p>
</div>


@section scripts{
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    @* <script src="~/Content/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>*@
   <script src="~/Content/blockui/jquery.blockUI.js"></script>
<script type="text/javascript">
    var interval = null;
    function formDialog(el, height, width) {
        $(el).dialog({
            height: height,
            width: width,
            modal: true,
            buttons: {
                //"Save": func,
                Cancel: function () {
                    $(el).dialog("close");
                }
            }
        });
    }
    $(document).ajaxStop($.unblockUI);
    $(document).ready(function () {

        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            onClose: function( selectedDate ) {
                if ($("#start_date").val() != "" && $("#end_date").val() != "") {
                   // tableKehadiran.draw();
                }
                if ($("#start_date_history").val()!="") {
                    tableHistoryReport.draw();
                }
                if ($("#end_date_history").val()!="") {
                    tableHistoryReport.draw();
                }
            }
        });
        selectedData("status_dosen_id", "@Url.Content("~/")masterdata/GetRefSelectedStatusDosen");
        
        $("#report2").on("click", function () {
            
            if ($("#start_date").val() == "" || $("#end_date").val() == "" || $("#tahun_ajaran").val() == "" || $("#semester").val()=="") {
                alert("Field wajib diisi");
                return false;
            }
            $.blockUI();
            $(this).attr('disabled', 'disabled');
            
            jQuery.ajax({
                url: "@Url.Content("~/")ReportHonor/GenerateReportReguler?StartDate=" + $("#start_date").val() + "&EndDate=" + $("#end_date").val() + "&periode=" + $("#periode").val() + "&TahunAjaran=" + $("#tahun_ajaran").val() + "&Semester=" + $("#semester").val(),
                
                success: function (result) {
                    $("#report2").removeAttr('disabled');
                    if (result.status == 1) {
                        alert("Generate Berhasil");
                    } else {
                        alert("Generate Gagal");
                    }

                    tableHistoryReport.draw();
                },
            });
        });

        $("#report1").on("click", function () {

            if ($("#start_date").val() != "" && $("#end_date").val() != "") {
                $(this).find("i").removeClass("fa-plus");
                $(this).find("i").addClass("fa-refresh");
                $(this).attr("disabled", true);
                $(this).find("i").text("Loding.............");

                jQuery.ajax({
                    url: "@Url.Content("~/")ReportHonor/GenerateReportSp?StartDate=" + $("#start_date").val() + "&EndDate=" + $("#end_date").val() + "&TahunAjaran=" + $("#tahun_ajaran").val() + "&Semester=" + $("#semester").val(),
                    beforeSend: function () {
                      
                    },
                    success: function (result) {                        
                        $("#report1").find("i").removeClass("fa-refresh");
                        $("#report1").find("i").addClass("fa-plus");
                        $("#report1").removeAttr("disabled");
                        $("#report1").find("i").text("Generate Report Honor Detail");
                        $(".progress").hide();
                        clearInterval(interval);
                        tableHistoryReport.draw();
                    },
                   // async: false
                });
                
               // $(".progress").show();
                interval = setInterval(updateDiv, 9000);//10 detik
               
            }
            
        });

       


        function updateDiv() {
            $.ajax({
                url: '@Url.Content("~/")ReportHonorStatusReport',
                success: function (data) {
                    if (data.status == 1) {
                       // alert(data.status);
                        $("#report1").find("i").removeClass("fa-refresh");
                        $("#report1").find("i").addClass("fa-plus");
                        $("#report1").removeAttr("disabled");
                        $("#report1").find("i").text("Generate Report Honor Detail");
                        $(".progress").hide();
                        clearInterval(interval); // stop the interval
                        tableHistoryReport.draw();
                    }
                    if (data.status == 0) {
                        var persenProgress = 0;
                        if (data.jumReport != null && data.loadingReport != null) {
                            var jumLoad = parseInt(data.jumReport);
                            var currentLoad = parseInt(data.loadingReport);
                            persenProgress = (currentLoad / jumLoad) * 100;
                        }
                        $('.progress-bar').css('width', persenProgress + '%').attr('aria-valuenow', persenProgress);
                    }
                    if (data.status == -1) {
                       /// alert(data.message);
                        $(".progress").hide();
                        clearInterval(interval);
                    }
                },
                error: function () {
                    //clearInterval(interval); // stop the interval
                }
            });
        }

        function selectedData(id_selected, url) {
            $.getJSON(url, function (data) {
                $("#" + id_selected).empty();
                $("#" + id_selected).append("<option value='' selected='selected'>--Select--</option>");
                $.each(data, function () {
                    $("#" + id_selected).append('<option value="' + this.id + '">' + this.value + '</option>')
                })
            });
            
        }

      //  selectedData("status_dosen", "../masterdata/GetRefSelectedStatusDosen");

        var tableHistoryReport = $('#tbl_history_report').DataTable({
                    "filter": "datatables-filter",
                    "scrollX": "100%",
                    "scrollCollapse": true,
                   //" jQueryUI": true,
                    "processing": true,
                    "searching": false,
                    "displayLength": 10,
                    "lengthChange": false,
                    "serverSide": true,
                    "ajax": {
                        "url": "@Url.Content("~/")ReportHonor/GetListHistroyReport",
                        "type": "POST",
                        "data": function (d) {
                            d.start_date_history = $("#start_date_history").val();
                            d.end_date_history = $("#end_date_history").val();
                            d.report_type_id = 1;
                        },
                    },
                    "order": [[0, "desc"]],
                    "columns": [
                        
                        { "data": null },
                        { "data": null  },                        
                        { "data": null},
                        { "data": null  },
                        { "data": null  },
                        { "data": null, "width": "5%" }//,
                        //{ "data": "create_on", "width": "10%" }                                               
                    ],
                    "columnDefs": [           
                        {
                            "render": function (data, type, row) {
                                var date = "";
                                var dateto = "";
                                if (row.report_start != null && row.report_start != "") {
                                    date = new Date(parseInt(row.report_start.substr(6)));
                                    date = date.getDate() + "/" + (parseInt(date.getMonth()) + 1) + "/" + date.getFullYear();
                                }
                                if (row.report_end != null && row.report_end != "") {
                                    dateto = new Date(parseInt(row.report_end.substr(6)));
                                    dateto = dateto.getDate() + "/" + (parseInt(dateto.getMonth()) + 1) + "/" + dateto.getFullYear();
                                }
                                return date + " s/d " + dateto;
                            },
                            "targets": 0//,
                           // "orderable": false
                        },
                         {
                             "render": function (data, type, row) {
                                 return '<a class="btn btn-xs btn-success " href="@Url.Content("~/")ReportHonor/ReportDetailsExcel?reportId=' + row.id + '" target="blank_" title="Download"><span class="fa fa-cloud-download">Download</span></a>';
                             },
                             "targets": 1,
                             "orderable": false
                         },
                         {
                             "render": function (data, type, row) {
                                 return '<a class="btn btn-xs btn-success " href="@Url.Content("~/")ReportHonor/ReportDetailsPdf?reportId=' + row.id + '" target="blank_" title="Download"><span class="fa fa-cloud-download">Download</span></a>';
                             },
                             "targets": 2,
                             "orderable": false
                         },
                          {
                              "render": function (data, type, row) {
                                  return '<a class="btn btn-xs btn-success " href="@Url.Content("~/")ReportHonor/ReportSumExcel?reportId=' + row.id + '" target="blank_" title="Download"><span class="fa fa-cloud-download">Download</span></a>';
                             },
                             "targets": 3,
                             "orderable": false
                          },
                         {
                             "render": function (data, type, row) {
                                 return '<a class="btn btn-xs btn-success " href="@Url.Content("~/")ReportHonor/ReportSumPdf?reportId=' + row.id + '" target="blank_" title="Download"><span class="fa fa-cloud-download">Download</span></a>';
                              },
                              "targets": 4,
                              "orderable": false
                         },
                        {
                            "render": function (data, type, row) {
                                return '<a class="btn btn-xs btn-info detail-slip" title="Details"><span class="fa fa-file-text-o">Detail</span></a>';
                            },
                            "targets": 5,
                            "orderable": false
                        },
                        //{
                        //    "render": function (data, type, row) {
                        //        var date = "";
                        //        if (row.create_on != null && row.create_on != "") {
                        //            date = new Date(parseInt(row.create_on.substr(6)));
                        //            date = date.getDate() + "/" + (parseInt(date.getMonth()) + 1) + "/" + date.getFullYear();
                        //        }
                        //        return date;
                        //    },
                        //    "targets": 7
                        //}
                         {
                             "render": function (data, type, row) {
                                 return '<a class="btn btn-xs btn-primary" title="Edit" href="@Url.Content("~/")ReportHonor/EditReport?ReportId=' + row.id + '" ><span class="fa fa-pencil"></span></a>&nbsp' +
                                    '<a class="btn btn-xs btn-danger remove-report" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                            },
                            "targets": 6,
                            "orderable": false
                         },
                    ]
        });

        var tableReportSlip = $('#tbl_report_slip').DataTable({
            "filter": "datatables-filter",
            //"scrollX": "100%",
            //"scrollCollapse": true,
            "jQueryUI": true,
            "processing": true,
            "searching": false,
            "displayLength": 10,
            "lengthChange": false,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Content("~/")ReportHonor/GetListSlipReport",
                "type": "POST",
                "data": function (d) {
                    d.nama_dosen = $("#nama_dosen").val();
                    d.kd_nik = $("#kd_nik").val();
                    d.report_id = $("#report_id").val();
                    d.status_dosen_id = $("#status_dosen_id").val();
                    
                },
            },
            "order": [[1, "asc"]],
            "columns": [
                { "data": null, "width": "5%" },
                { "data": "kd_nik", "width": "5%" },
                { "data": "nama_dosen" },
                { "data": null  }
            ],
            "columnDefs": [

                {
                    "render": function (data, type, row) {
                        return '<a class="btn btn-xs btn-danger remove-tunjangan" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                    },
                    "targets": 0,
                    "orderable": false
                },
                  {
                      "render": function (data, type, row) {
                          return '<a class="btn btn-xs btn-success" href="@Url.Content("~/")ReportHonor/ReportSlipHonorPdf?reportId=' + row.generate_report_id + '&kd_nik=' + row.kd_nik + '" target="blank_" title="Download"><span class="fa fa-cloud-download">Download</span></a>';
                      },
                      "targets": 3,
                      "orderable": false
                  }
            ]
        });

        $("#tbl_history_report").on("click", ".detail-slip", function () {
            var vl = $(this).closest('tr')[0];
            $("#tbl_history_report").val(vl.rowIndex);
            var view_history_report = tableHistoryReport.row(vl).data();
            //console.log(view_history_report);
            $("#report_id").val(view_history_report.id);
            formDialog("#dialog-form-slip", 500, 850);            
            tableReportSlip.draw();
        });

        $("#tbl_history_report").on("click", ".remove-report", function () {
            var vl = $(this).closest('tr')[0];
            $("#tbl_history_report").val(vl.rowIndex);
            var view_history_report = tableHistoryReport.row(vl).data();
            var reportId = view_history_report.id;
            var url = "@Url.Content("~/")ReportHonor/DeleteReport?ReportId=" + reportId;
            $("#dialog-confirm").dialog({
                height: 160,
                modal: true,
                buttons: {
                    "Delete": function () {
                        $.ajax(url)
                      .done(function (data) {
                          $("#info").html(data.message);
                          $("#dialog-confirm").dialog("close");
                          tableHistoryReport.draw();
                      });
                    },
                    Cancel: function () {
                        $("#dialog-confirm").dialog("close");
                    }
                }
            });
        });

        $("#nama_dosen").on("input propertychange paste", function (e) {
            tableReportSlip.draw();
        });

        $("#kd_nik").on("input propertychange paste", function (e) {
            tableReportSlip.draw();
        });

        $("#start_date_history").on("input propertychange paste", function (e) {
            
            tableHistoryReport.draw();
        });
        $("#end_date_history").on("input propertychange paste", function (e) {
            
                tableHistoryReport.draw();
        });
        $("#status_dosen_id").change(function () {
            tableReportSlip.draw();
        });

    });


    </script>
}