﻿@{
    ViewBag.Title = "Master Data Honor Dosen";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    @*<link href="~/Content/jqueryui/dataTables.jqueryui.min.css" rel="stylesheet" />*@
    <style>

       .table.dataTable {
            font-size:small;

        }
       tbody tr.odd {
            background-color: #f9f9f9;
        }
    </style>
}
<section class="content-header">
    <h1>
    Honor Dosen
    <small>Honor Dosen stmt-trisakti</small>
    </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Master Data Honor Dosen</h3>
            <div class="box-tools pull-right">
                @*<button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>*@
            </div>
           @* <button class="btn btn-default pull-left"><i class="fa fa-plus"></i>Tambah Dosen</button>*@
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <section class=" connectedSortable ui-sortable">
                        <div class="box box-info ui-sortable-handle">
                            <div class="box-header with-border">
                              <h3 class="box-title">Jenjang Dosen</h3>
                                 <div class="box-tools pull-right">
                                     <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                 </div>
                               @*<p> <button id="add-jenjang-dosen" class="btn btn-default pull-right"><i class="fa fa-plus"></i>Tambah Jenjang Dosen</button></p>*@
                            </div><!-- /.box-header -->
                            <!-- form start -->
                             <div class="box-body">                            
                                 <div class="row">
                                    <div class="col-md-12">
                                        <p class="box-title">Filter</p>
                                        <div class="col-xs-4">
                                            <input class="form-control" type="text" id="kd_nik" name="kd_nik" placeholder="Kode NIK">
                                        </div>
                                        <div class="col-xs-4">
                                            <input class="form-control" type="text" id="nama_dosen" name="nama_dosen" placeholder="Nama Dosen">
                                        </div>
                                        <div class="col-xs-4">
                                            <input class="form-control" type="text" id="status_dosen" name="status_dosen" placeholder="Status Dosen">
                                        </div>
                                    </div>
                                </div>
                               <br />
                                <div class="row">
                                    <div class="col-md-12 table-responsive ">
                                    <div id="info_dosen">                                    
                                    </div>
                                    <table id="tbl_dosen" class="table table-bordered  table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>NIK</th>
                                            <th>Nama Dosen</th>
                                            <th>Status Dosen</th>
                                            <th>Pendidikan</th>
                                            <th>Jabatan Fungsional</th>
                                            <th>Pengalaman</th>
                                            <th>Jenjang</th>
                                            @*<th>No Rekening</th>
                                            <th>Nama Bank</th>
                                            <th>Atas Nama</th>*@
                    
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                                    </div>
                                </div>
                            </div>                      
                         </div><!--  data jenjang dosen -->
                        <div class="box box-info ui-sortable-handle">
                        <div class="box-header with-border">
                          <h3 class="box-title">Honorarium Mengajar</h3>
                             <div class="box-tools pull-right">
                                 <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                             </div>
                           <p> <button id="add-honorarium" class="btn btn-default pull-right"><i class="fa fa-plus"></i>Tambah Honorarium</button></p>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                         <div class="box-body">  
                            <div class="row">
                                <div class="col-md-12 table-responsive ">
                                    <div id="info_honorarium" >
                                    </div>
                                    <table id="tbl_honorarium" class="table table-bordered  table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Jenjang Kelompok</th>   
                                            <th>Honor Per SKS</th>
                                            <th>Transpor Per Hadir</th>                                                       
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                      
                     </div><!-- master data besaran honorarium dosen -->
                        <div class="box box-info ui-sortable-handle">
                        <div class="box-header with-border">
                          <h3 class="box-title">Tunjangan</h3>
                             <div class="box-tools pull-right">
                                 <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                             </div>
                           <p> <button id="add-tunjangan" class="btn btn-default pull-right"><i class="fa fa-plus"></i>Tambah Tunjangan</button></p>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                         <div class="box-body">  
                            <div class="row">
                                <div class="col-md-12 table-responsive ">
                                    <div id="info_tunjangan" >
                                    </div>
                                    <table id="tbl_tunjangan" class="table table-bordered  table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Status Dosen</th>   
                                            <th>Tunjangan</th> 
                                            <th>Keterangan</th>                                                      
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                      
                     </div><!-- master data besaran tunjangan praktisi-->
                        <div class="box box-info ui-sortable-handle">
                            <div class="box-header with-border">
                              <h3 class="box-title">Pendidikan</h3>
                                 <div class="box-tools pull-right">
                                     <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                 </div>
                               <p> <button id="add-pendidikan" class="btn btn-default pull-right"><i class="fa fa-plus"></i>Tambah Pendidikan</button></p>
                            </div><!-- /.box-header -->
                            <!-- form start -->
                             <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 table-responsive ">
                                        <div id="info_pendidikan">
                                        </div>
                                        <table id="tbl_pendidikan" class="table table-bordered  table-hover" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Action</th>
                                                    <th>Tingkat Pendidikan</th>
                                                    <th>Bobot</th>
                                                    <th>Nilai</th>                   
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                      
                         </div><!-- master data pendidikan -->
                        <div class="box box-info ui-sortable-handle">
                            <div class="box-header with-border">
                              <h3 class="box-title">Jabatan Fungsional</h3>
                                 <div class="box-tools pull-right">
                                     <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                 </div>
                               <p> <button id="add-jabatan" class="btn btn-default pull-right"><i class="fa fa-plus"></i>Tambah Jabatan Fungsional</button></p>
                            </div><!-- /.box-header -->
                            <!-- form start -->
                             <div class="box-body"> 
                                <div class="row">
                                    <div class="col-md-12 table-responsive ">
                                        <div id="info_jabatan" >
                                        </div>
                                        <table id="tbl_jabatan" class="table table-bordered  table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Action</th>
                                                <th>Jabatan Fungsional</th>
                                                <th>Bobot</th>
                                                <th>Nilai</th>                   
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                      
                         </div><!-- master data jabatan fungsional -->
                        <div class="box box-info ui-sortable-handle">
                            <div class="box-header with-border">
                              <h3 class="box-title">Pengalaman</h3>
                                 <div class="box-tools pull-right">
                                     <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                 </div>
                               <p> <button id="add-pengalaman" class="btn btn-default pull-right"><i class="fa fa-plus"></i>Tambah Pengalaman</button></p>
                            </div><!-- /.box-header -->
                            <!-- form start -->
                             <div class="box-body">  
                                <div class="row">
                                    <div class="col-md-12 table-responsive ">
                                        <div id="info_pengalaman" >
                                        </div>
                                        <table id="tbl_pengalaman" class="table table-bordered  table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Action</th>
                                                <th>Min</th>
                                                <th>Max</th>
                                                <th>Bobot</th>
                                                <th>Nilai</th>                   
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                      
                         </div><!-- master data pengalaman -->
                        <div class="box box-info ui-sortable-handle">
                        <div class="box-header with-border">
                          <h3 class="box-title">Jenjang</h3>
                             <div class="box-tools pull-right">
                                 <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                             </div>
                           <p> <button id="add-jenjang" class="btn btn-default pull-right"><i class="fa fa-plus"></i>Tambah Jenjang</button></p>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                         <div class="box-body">  
                            <div class="row">
                                <div class="col-md-12 table-responsive ">
                                    <div id="info_jenjang" >
                                    </div>
                                    <table id="tbl_jenjang" class="table table-bordered  table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Jenjang Kelompok</th>   
                                            <th>Nilai Min</th>
                                            <th>Nilai Max</th>
                                                       
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                      
                     </div><!-- master data jenjang -->                       
                    </section>
                 </div>
            </div>
        </div>
    </div>
</section>

@*form jenjang*@
<div id="dialog-form" title="Form Dosen" hidden>
  <p class="validateTips">All form fields are required.</p> 
  <form id="editForm">
      <input type="hidden" name="dosen_id" id="dosen_id"  />
      <input type="hidden" name="pengalaman_id" id="pengalaman_id"  />
      <input type="hidden"  id="index_table_dosen_jenjang"  />
    <fieldset>
       <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label">Kode NIK</label>
                <div class="col-sm-8">
                    <input type="text" id="kd_nik2" name="kd_nik" disabled placeholder="Kode NIK" class="form-control required"  maxlength="2">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Nama Dosen</label>
                <div class="col-sm-8">
                    <input type="text" id="nama_dosen2" placeholder="Nama Dosen" class="form-control" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Pendidikan Terakhir</label>
                <div class="col-sm-8">                                
                    <select id="pendidikan" class="form-control">
                        @*<option value="1">S3</option>
                        <option value="2">S2</option>
                        <option value="3">S1</option>
                        <option value="4">S0</option>
                        <option value="5">D4</option>*@
                    </select>    
                    @*<input class="form-control" name="tempat_lahir" placeholder="Temapat Lahir" type="text" maxlength="5"/>*@
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Jabatan Fungsional</label>
                <div class="col-sm-8">
                    <select id="jabatan" class="form-control">
                        @*<option value="1">Guru Besar</option>
                        <option value="2">Lektor Kepala</option>
                        <option value="3">Lektor</option>
                        <option value="4">Asisten Ahli</option>
                        <option value="5">Tidak Memiliki</option>*@
                    </select> 
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Pengalaman</label>
                <div class="col-sm-8">
                    <input type="text" id="lama_pengalaman" placeholder="Pengalaman" class="form-control" maxlength="20">
                        
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Jenjang/Golongan</label>
                <div class="col-sm-8">
                    <select id="jenjang" class="form-control">
                    </select> 
                </div>
            </div>
        </div>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

@*form pendidikan*@
<div id="dialog-form-pendidikan" title="Form Pendidikan" hidden>
  <p class="validateTips">All form fields are required.</p> 
  <form id="editForm_pendidikan">
      <input type="hidden"  id="index_table_pendidikan"  />
    <fieldset>
       <div class="form-horizontal">
            
            <div class="form-group">
                <label class="col-sm-4 control-label">Pendidikan Terakhir</label>
                <div class="col-sm-8">                                
                    <input type="text" id="pendidikan_input" placeholder="Pendidikan terakhir" class="form-control" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Bobot%</label>
                <div class="col-sm-8">
                    <input type="text" id="bobot_pendidikan" placeholder="Bobot %" class="form-control" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Nilai</label>
                <div class="col-sm-8">
                    <input type="text" id="nilai_pendidikan" placeholder="Nilai" class="form-control" maxlength="20">                        
                </div>
            </div>
        </div>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

@*form jabatan fungsional*@
<div id="dialog-form-jabatan" title="Form Jabatan Fungsional" hidden>
  <p class="validateTips">All form fields are required.</p> 
  <form id="editForm_jabatan">
      <input type="hidden"  id="index_table_jabatan"  />
    <fieldset>
       <div class="form-horizontal">
            
            <div class="form-group">
                <label class="col-sm-4 control-label">Jabatan Fungsional</label>
                <div class="col-sm-8">                                
                    <input type="text" id="jabatan2" placeholder="Jabatan Fungsional" class="form-control" maxlength="20">
                    @*<input class="form-control" name="tempat_lahir" placeholder="Temapat Lahir" type="text" maxlength="5"/>*@
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Bobot%</label>
                <div class="col-sm-8">
                    <input type="text" id="bobot_jabatan" placeholder="Bobot %" class="form-control" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Nilai</label>
                <div class="col-sm-8">
                    <input type="text" id="nilai_jabatan" placeholder="Nilai" class="form-control" maxlength="20">                        
                </div>
            </div>
        </div>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

@*form pengalaman*@
<div id="dialog-form-pengalaman" title="Form Pengalaman" hidden>
  <p class="validateTips">All form fields are required.</p> 
  <form id="editForm_pengalaman">
      <input type="hidden"  id="index_table_pengalaman"  />
    <fieldset>
       <div class="form-horizontal">
            
            <div class="form-group">
                <label class="col-sm-4 control-label">Minimal</label>
                <div class="col-sm-8">                                
                    <input type="text" id="min" placeholder="Min" class="form-control" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Maksimal</label>
                <div class="col-sm-8">
                    <input type="text" id="max" placeholder="Max" class="form-control" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Bobot%</label>
                <div class="col-sm-8">
                    <input type="text" id="bobot_pengalaman" placeholder="Bobot %" class="form-control" maxlength="20">                        
                </div>
            </div>
           <div class="form-group">
                <label class="col-sm-4 control-label">Nilai</label>
                <div class="col-sm-8">
                    <input type="text" id="nilai_pengalaman" placeholder="Nilai" class="form-control" maxlength="20">                        
                </div>
            </div>
        </div>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

@*form jenjang*@
<div id="dialog-form-jenjang" title="Form Pengalaman" hidden>
  <p class="validateTips">All form fields are required.</p> 
  <form id="editForm_jenjang">
      <input type="hidden"  id="index_table_jenjang"  />
    <fieldset>
       <div class="form-horizontal">
            
            <div class="form-group">
                <label class="col-sm-4 control-label">Jenjang Kelompok</label>
                <div class="col-sm-8">                                
                    <input type="text" id="jenjang_kelompok" placeholder="Jenjang Kelompok" class="form-control" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Nilai Min</label>
                <div class="col-sm-8">
                    <input type="text" id="nilai_min" placeholder="Nilai Min" class="form-control" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Nilai Max</label>
                <div class="col-sm-8">
                    <input type="text" id="nilai_max" placeholder="Nilai Max" class="form-control" maxlength="20">                        
                </div>
            </div>
        </div>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

@*form Honorarium mengajar*@
<div id="dialog-form-honorarium" title="Form Honorarium Mengajar" hidden>
  <p class="validateTips">All form fields are required.</p> 
  <form id="editForm_honorarium">
      <input type="hidden"  id="index_table_honorarium"  />
    <fieldset>
       <div class="form-horizontal">
            
            <div class="form-group">
                <label class="col-sm-4 control-label">Jenjang Kelompok</label>
                <div class="col-sm-8">                                
                    @*<input type="text" id="jenjang_kelompok_honorarium" placeholder="Jenjang Kelompok" class="form-control" maxlength="20">*@
                    <select id="jenjang_honorarium" class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Honor Per SKS</label>
                <div class="col-sm-8">
                    <input type="text" id="honor_per_sks" placeholder="Honor Per SKS" class="form-control" maxlength="20">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Transpor Per Hadir</label>
                <div class="col-sm-8">
                    <input type="text" id="transpor_per_hadir" placeholder="Transpor Per Hadir" class="form-control" maxlength="20">                        
                </div>
            </div>
        </div>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>

@*form Tunjungan*@
<div id="dialog-form-tunjangan" title="Form Tunjangan" hidden>
  <p class="validateTips">All form fields are required.</p> 
  <form id="editForm_tunjangan">
      <input type="hidden"  id="index_table_tunjangan"  />
    <fieldset>
       <div class="form-horizontal">
            
            <div class="form-group">
                <label class="col-sm-4 control-label">Status Dosen</label>
                <div class="col-sm-8">                                
                    @*<input type="text" id="jenjang_kelompok_honorarium" placeholder="Jenjang Kelompok" class="form-control" maxlength="20">*@
                    <select id="status_dosen_tunjangan" class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Tunjangan</label>
                <div class="col-sm-8">
                    <input type="text" id="tunjangan" placeholder="Tunjangan" class="form-control" maxlength="20">
                </div>
            </div>
           <div class="form-group">
                <label class="col-sm-4 control-label">Keterangan</label>
                <div class="col-sm-8">
                    <input type="text" id="keterangan_tunjangan" placeholder="Keterangan" class="form-control" maxlength="20">
                </div>
            </div>
        </div>
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>


@*form delete*@
<div id="dialog-confirm" title="Empty the recycle bin?" hidden>
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      Anda yakin ingin delete?</p>
</div>

@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    @*<script src="~/Content/jqueryui/dataTables.jqueryui.min.js"></script>*@
    <script type="text/javascript">
        function selectedData(id_selected,url) {
            $.getJSON(url, function (data) {
                $("#" + id_selected).empty();
                $.each(data, function () {                    
                    $("#" + id_selected).append('<option value="' + this.id + '">' + this.value + '</option>')
                })
            });
        }

       
        $(document).ready(function () {
            var dialog, form;
            //Make the dashboard widgets sortable Using jquery UI
            $(".connectedSortable").sortable({
                placeholder: "sort-highlight",
                connectWith: ".connectedSortable",
                handle: ".box-header, .nav-tabs",
                forcePlaceholderSize: true,
                zIndex: 999999
            });
            reloadSelected();

            function reloadSelected() {
                selectedData("pendidikan", "GetRefSelectedPendidikan");
                selectedData("jabatan", "GetRefSelectedJabatanFungsional");
                selectedData("jenjang", "GetRefSelectedJenjang");
                selectedData("jenjang_honorarium", "GetRefSelectedJenjang");
                selectedData("status_dosen_tunjangan", "GetRefSelectedStatusDosen");                
            }

            var oTable = $('#tbl_dosen').DataTable({
                "filter": "datatables-filter",
                "processing": true,
                "searching": false,
                "displayLength": 5,
                "lengthChange": false,
                "serverSide": true,
                "ajax": {
                    "url": "GetListJenjangDosen",
                    "type": "POST",
                    "data": function (d) {
                        d.kd_nik = $("#kd_nik").val();
                        d.nama_dosen = $("#nama_dosen").val();
                        d.status_dosen = $("#status_dosen").val();
                    },
                },
                "order": [[1, "asc"]],
                "columns": [
                     { "data": null, "width": "6%" },
                    { "data": "kd_nik", "width": "6%" },
                    { "data": "nama_dosen", "width": "25%" },
                     { "data": "status_dosen", "width": "10%", "orderable": false },
                     { "data": "tingkat_pendidikan", "width": "3%", "orderable": false },
                     { "data": "jabatan_fungsional", "width": "15%", "orderable": false },
                     { "data": "pengalaman", "width": "3%", "orderable": false },
                     { "data": "jenjang_kelompok", "width": "2%", "orderable": false }
                     //{ "data": "no_rekening", "width": "10%", "orderable": false },
                     //{ "data": "nama_bank_cabang", "width": "15%", "orderable": false },
                     //{ "data": "atas_nama", "width": "15%", "orderable": false }

                ],
                "columnDefs": [

                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-primary edit-dosen" title="Edit""><span class="fa fa-pencil"></span></a>&nbsp;' +
                                   '<a class="btn btn-xs btn-danger remove-dosen" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ]
            });

            var tablePendidikan = $('#tbl_pendidikan').DataTable({
                "filter": "datatables-filter",
                "processing": true,
                "searching": false,
                "displayLength": 5,
                "lengthChange": false,
                "serverSide": true,
                "ajax": {
                    "url": "GetListMasterPendidikan",
                    "type": "POST",
                },
                "order": [[0, "asc"]],
                "columns": [
                    { "data": null },
                    { "data": "tingkat_pendidikan", "orderable": false },
                    { "data": "bobot", "orderable": false },
                    { "data": "nilai", "orderable": false }
                ],
                "columnDefs": [

                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-primary edit-pendidikan" title="Edit""><span class="fa fa-pencil"></span></a>&nbsp;' +
                                   '<a class="btn btn-xs btn-danger remove-pendidikan" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ]
            });

            var tableJabatan= $('#tbl_jabatan').DataTable({
                "filter": "datatables-filter",
                "processing": true,
                "searching": false,
                "displayLength": 5,
                "lengthChange": false,
                "serverSide": true,
                "ajax": {
                    "url": "GetListMasterJabatanFungsional",
                    "type": "POST",
                },
                "order": [[0, "asc"]],
                "columns": [
                    { "data": null },
                    { "data": "jabatan_fungsional", "orderable": false },
                    { "data": "bobot", "orderable": false },
                    { "data": "nilai", "orderable": false }
                ],
                "columnDefs": [

                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-primary edit-jabatan" title="Edit""><span class="fa fa-pencil"></span></a>&nbsp;' +
                                   '<a class="btn btn-xs btn-danger remove-jabatan" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ]
            });

            var tablePengalaman = $('#tbl_pengalaman').DataTable({
                "filter": "datatables-filter",
                "processing": true,
                "searching": false,
                "displayLength": 5,
                "lengthChange": false,
                "serverSide": true,
                "ajax": {
                    "url": "GetListMasterPengalaman",
                    "type": "POST",
                },
                "order": [[0, "asc"]],
                "columns": [
                    { "data": null },
                    { "data": "min", "orderable": false },
                    { "data": "max", "orderable": false },
                    { "data": "bobot", "orderable": false },
                    { "data": "nilai", "orderable": false }
                ],
                "columnDefs": [

                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-primary edit-pengalaman" title="Edit""><span class="fa fa-pencil"></span></a>&nbsp;' +
                                   '<a class="btn btn-xs btn-danger remove-pengalaman" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ]
            });


            var tableJenjang = $('#tbl_jenjang').DataTable({
                "filter": "datatables-filter",
                "processing": true,
                "searching": false,
                "displayLength": 5,
                "lengthChange": false,
                "serverSide": true,
                "ajax": {
                    "url": "GetListJenjang",
                    "type": "POST",
                },
                "order": [[0, "asc"]],
                "columns": [
                    { "data": null },
                    { "data": "jenjang_kelompok", "orderable": false },
                    { "data": "nilai_min", "orderable": false },
                    { "data": "nilai_max", "orderable": false }
                ],
                "columnDefs": [

                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-primary edit-jenjang" title="Edit""><span class="fa fa-pencil"></span></a>&nbsp;' +
                                   '<a class="btn btn-xs btn-danger remove-jenjang" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ]
            });

            var tableHonorarium = $('#tbl_honorarium').DataTable({
                "filter": "datatables-filter",
                "processing": true,
                "searching": false,
                "displayLength": 5,
                "lengthChange": false,
                "serverSide": true,
                "ajax": {
                    "url": "GetListHonorariumDosen",
                    "type": "POST",

                },
                "order": [[0, "asc"]],
                "columns": [
                    { "data": null },
                    { "data": "jenjang_nama", "orderable": false },
                    { "data": "honor_per_sks", "orderable": false },
                    { "data": "transpor_per_hadir", "orderable": false }
                ],
                "columnDefs": [

                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-primary edit-honorarium" title="Edit""><span class="fa fa-pencil"></span></a>&nbsp;' +
                                   '<a class="btn btn-xs btn-danger remove-honorarium" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ]
            });

            var tableTunjangan= $('#tbl_tunjangan').DataTable({
                "filter": "datatables-filter",
                "processing": true,
                "searching": false,
                "displayLength": 5,
                "lengthChange": false,
                "serverSide": true,
                "ajax": {
                    "url": "GetListRefHonorTunjanganDosen",
                    "type": "POST",
                },
                "order": [[0, "asc"]],
                "columns": [
                    { "data": null },
                    { "data": "status_dosen", "orderable": false },
                    { "data": "honor_tunjangan", "orderable": false },
                    { "data": "keterangan", "orderable": false }
                ],
                "columnDefs": [

                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-primary edit-tunjangan" title="Edit""><span class="fa fa-pencil"></span></a>&nbsp;' +
                                   '<a class="btn btn-xs btn-danger remove-tunjangan" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ]
            });

            $("#add-pendidikan").on("click", function () {
                $("#index_table_pendidikan").val("-1");
                formDialog("#dialog-form-pendidikan", addeditPendidikan, 350, 500);
            });

            $("#add-jabatan").on("click", function () {
                $("#index_table_jabatan").val("-1");
                formDialog("#dialog-form-jabatan", addeditJabatan, 350, 500);
            });

            $("#add-pengalaman").on("click", function () {
                $("#index_table_pengalaman").val("-1");
                formDialog("#dialog-form-pengalaman", addeditPengalaman, 350, 500);
            });

            $("#add-jenjang").on("click", function () {
                $("#index_table_jenjang").val("-1");
                formDialog("#dialog-form-jenjang", addeditJenjang, 350, 500);
            });

            $("#add-honorarium").on("click", function () {
                $("#index_table_honorarium").val("-1");
                formDialog("#dialog-form-honorarium", addeditHonorarium,350,500);
            });

            $("#add-tunjangan").on("click", function () {
                $("#index_table_tunjangan").val("-1");
                formDialog("#dialog-form-tunjangan", addeditTunjangan, 350, 500);
            });


            function editJenjangDosen() {
                var vl = parseInt($("#index_table_dosen_jenjang").val());
                var view_dosen = oTable.row(vl - 1).data();
                view_dosen.pendidikan_id = parseInt($("#pendidikan option:selected").val());
                view_dosen.jabatan_fungsional_id = parseInt($("#jabatan option:selected").val());
                view_dosen.pengalaman = parseInt($("#lama_pengalaman").val());
                $.ajax({
                    method: "POST",
                    url: "AddEditJenjangDosen",
                    data: view_dosen
                }).done(function (data) {
                    $("#info_dosen").html(data.message);
                    oTable.draw();
                    //$("#info_dosen").delay(3000).hide(1000).html("");
                });
                $("#dialog-form").dialog("close");
            }

            $("#tbl_dosen").on("click", ".edit-dosen", function () {
                var vl = $(this).closest('tr')[0];
                $("#index_table_dosen_jenjang").val(vl.rowIndex);
                var view_dosen = oTable.row(vl).data();
                $("#dosen_id").val(view_dosen.dosen_id);
                $("#kd_nik2").val(view_dosen.kd_nik);
                $("#nama_dosen2").val(view_dosen.nama_dosen);
                $("#pendidikan").val(view_dosen.pendidikan_id); 
                $("#jabatan").val(view_dosen.jabatan_fungsional_id);                
                //$("#lama_pengalaman").val(view_dosen.lama_pengalaman);
                $("#lama_pengalaman").val(view_dosen.pengalaman);
                $("#jenjang").val(view_dosen.jenjang_id);
                formDialog("#dialog-form", editJenjangDosen,500,600);
            });
      
            function addeditTunjangan() {//jenjang_honorarium
                var vl = parseInt($("#index_table_tunjangan").val());
                var tbl_tunjangan = {};
                if (vl > -1) tbl_tunjangan = tblTunjangan.row(vl - 1).data();
                console.log(tbl_tunjangan);
                tbl_tunjangan.status_dosen_id = parseInt($("#status_dosen_tunjangan option:selected").val());
                tbl_tunjangan.honor_tunjangan = parseInt($("#tunjangan").val());
                tbl_tunjangan.keterangan = $("#keterangan_tunjangan").val();
                $.ajax({
                    method: "POST",
                    url: "AddEditRefHonorTunjangan",
                    data: tbl_tunjangan
                }).done(function (data) {
                    $("#index_table_tunjangan").val("-1");
                    $("#info_tunjangan").html(data.message);
                    tableTunjangan.draw();
                    reloadSelected();
                    //$("#info_tunjangan").delay(3000).hide(1000).html("");
                });
                $("#dialog-form-tunjangan").dialog("close");
            }

            function addeditHonorarium() {//jenjang_honorarium
                var vl = parseInt($("#index_table_honorarium").val());
                var tbl_honorarium = {};
                if (vl > -1) tbl_honorarium = tableHonorarium.row(vl - 1).data();
                tbl_honorarium.jenjang_id = parseInt($("#jenjang_honorarium option:selected").val());
                tbl_honorarium.honor_per_sks = parseInt($("#honor_per_sks").val());
                tbl_honorarium.transpor_per_hadir = parseInt($("#transpor_per_hadir").val());
                $.ajax({
                    method: "POST",
                    url: "AddEditRefHonorariumDosen",
                    data: tbl_honorarium
                }).done(function (data) {
                    $("#index_table_honorarium").val("-1");
                    $("#info_honorarium").html(data.message);
                    tableHonorarium.draw();
                    reloadSelected();
                    //$("#info_honorarium").delay(3000).hide(1000).html("");
                });
                $("#dialog-form-honorarium").dialog("close");
            }

            function addeditPendidikan() {
                var vl = parseInt($("#index_table_pendidikan").val());
                var tbl_pendidikan = {};
                if(vl>-1)tbl_pendidikan=tablePendidikan.row(vl - 1).data();
                tbl_pendidikan.tingkat_pendidikan = $("#pendidikan_input").val();
                tbl_pendidikan.bobot = parseInt($("#bobot_pendidikan").val());
                tbl_pendidikan.nilai = parseFloat($("#nilai_pendidikan").val());
                $.ajax({
                    method: "POST",
                    url: "AddEditRefPendidikan",
                    data: tbl_pendidikan
                }).done(function (data) {
                    $("#index_table_pendidikan").val("-1");
                    $("#info_pendidikan").html(data.message);
                    tablePendidikan.draw();
                    reloadSelected();
                    //$("#info_pendidikan").delay(3000).hide(1000).html("");
                });
                $("#dialog-form-pendidikan").dialog("close");
            }

            function addeditJabatan() {
                var vl = parseInt($("#index_table_jabatan").val());
                var tbl_Jabatan = {};
                if (vl > -1)tbl_Jabatan= tableJabatan.row(vl - 1).data();
                tbl_Jabatan.jabatan_fungsional = $("#jabatan2").val();
                tbl_Jabatan.bobot = parseInt($("#bobot_jabatan").val());
                tbl_Jabatan.nilai = parseFloat($("#nilai_jabatan").val());
                $.ajax({
                    method: "POST",
                    url: "AddEditRefJabatanFungsional",
                    data: tbl_Jabatan
                }).done(function (data) {
                    $("#index_table_jabatan").val("-1");
                    $("#info_jabatan").html(data.message);
                    tableJabatan.draw();
                    reloadSelected();
                    //$("#info_jabatan").delay(3000).hide(1000).html("");
                });
                $("#dialog-form-jabatan").dialog("close");
            }

            function addeditPengalaman() {
                var vl = parseInt($("#index_table_pengalaman").val());
                var tbl_pengalaman = {};
                
                if(vl>-1)tbl_pengalaman= tablePengalaman.row(vl - 1).data();
                tbl_pengalaman.min = parseInt($("#min").val());
                tbl_pengalaman.max = parseInt($("#max").val());
                tbl_pengalaman.bobot = parseInt($("#bobot_pengalaman").val());
                tbl_pengalaman.nilai = parseFloat($("#nilai_pengalaman").val());
                $.ajax({
                    method: "POST",
                    url: "AddEditRefPengalaman",
                    data: tbl_pengalaman
                }).done(function (data) {
                    $("#info_pengalaman").html(data.message);
                    tablePengalaman.draw();
                    $("#index_table_pengalaman").val("-1");
                    reloadSelected();
                    //$("#info_pengalaman").delay(3000).hide(1000).html("");
                });
                $("#dialog-form-pengalaman").dialog("close");
            }

            function addeditJenjang() {
                var vl = parseInt($("#index_table_jenjang").val());
                var tbl_jenjang = {};
                if(vl>-1)tbl_jenjang = tableJenjang.row(vl - 1).data();
                tbl_jenjang.jenjang_kelompok = $("#jenjang_kelompok").val();
                tbl_jenjang.nilai_min = parseFloat($("#nilai_min").val());
                tbl_jenjang.nilai_max = parseFloat($("#nilai_max").val());
                $.ajax({
                    method: "POST",
                    url: "AddEditRefJenjang",
                    data: tbl_jenjang
                }).done(function (data) {
                    $("#index_table_jabatan").val("-1");
                    $("#info_jenjang").html(data.message);
                    tableJenjang.draw();
                    reloadSelected();
                    //$("#info_jenjang").delay(3000).hide(1000).html("");
                });
                $("#dialog-form-jenjang").dialog("close");
            }

            $("#tbl_tunjangan").on("click", ".edit-tunjangan", function () {
                var vl = $(this).closest('tr')[0];
                $("#index_table_tunjangan").val(vl.rowIndex);
                var tbl_tunjangan = tableTunjangan.row(vl).data();
                $("#tunjangan").val(tbl_tunjangan.honor_tunjangan);
                $("#status_dosen").val(tbl_tunjangan.status_dosen);
                $("#keterangan_tunjangan").val(tbl_tunjangan.keterangan);
                formDialog("#dialog-form-tunjangan", addeditTunjangan, 350, 500);
            });

            $("#tbl_honorarium").on("click", ".edit-honorarium", function () {
                var vl = $(this).closest('tr')[0];
                $("#index_table_honorarium").val(vl.rowIndex);
                var tbl_honorarium = tableHonorarium.row(vl).data();
                $("#jenjang_honorarium").val(tbl_honorarium.jenjang_id);
                $("#honor_per_sks").val(tbl_honorarium.honor_per_sks);
                $("#transpor_per_hadir").val(tbl_honorarium.transpor_per_hadir);
                formDialog("#dialog-form-honorarium", addeditHonorarium, 350, 500);
            });

            $("#tbl_pendidikan").on("click", ".edit-pendidikan", function () {
                var vl = $(this).closest('tr')[0];
                $("#index_table_pendidikan").val(vl.rowIndex);
                var tbl_pendidikan = tablePendidikan.row(vl).data();
                $("#pendidikan_input").val(tbl_pendidikan.tingkat_pendidikan);
                $("#bobot_pendidikan").val(tbl_pendidikan.bobot);
                $("#nilai_pendidikan").val(tbl_pendidikan.nilai);
                formDialog("#dialog-form-pendidikan", addeditPendidikan, 350, 500);
            });
            
            $("#tbl_jabatan").on("click", ".edit-jabatan", function () {
                var vl = $(this).closest('tr')[0];
                $("#index_table_jabatan").val(vl.rowIndex);
                var tbl_jabatan = tableJabatan.row(vl).data();
                $("#jabatan2").val(tbl_jabatan.jabatan_fungsional);
                $("#bobot_jabatan").val(tbl_jabatan.bobot);
                $("#nilai_jabatan").val(tbl_jabatan.nilai);
                formDialog("#dialog-form-jabatan", addeditJabatan, 350, 500);
            });

            $("#tbl_pengalaman").on("click", ".edit-pengalaman", function () {
                var vl = $(this).closest('tr')[0];
                $("#index_table_pengalaman").val(vl.rowIndex);
                var tbl_pengalaman = tablePengalaman.row(vl).data();
                $("#min").val(tbl_pengalaman.min);
                $("#max").val(tbl_pengalaman.max);
                $("#bobot_pengalaman").val(tbl_pengalaman.bobot);
                $("#nilai_pengalaman").val(tbl_pengalaman.nilai);
                formDialog("#dialog-form-pengalaman", addeditPengalaman, 350, 500);
            });

            $("#tbl_jenjang").on("click", ".edit-jenjang", function () {
                var vl = $(this).closest('tr')[0];
                $("#index_table_jenjang").val(vl.rowIndex);
                var tbl_jenjang = tableJenjang.row(vl).data();
                $("#jenjang_kelompok").val(tbl_jenjang.jenjang_kelompok);
                $("#nilai_min").val(tbl_jenjang.nilai_min);
                $("#nilai_max").val(tbl_jenjang.nilai_max);
                formDialog("#dialog-form-jenjang", addeditJenjang, 350, 500);
            });

            //remove item table
            $("#tbl_tunjangan").on("click", ".remove-tunjangan", function () {
                var vl = $(this).closest('tr')[0];
                var tbl_tunjangan = tableTunjangan.row(vl).data();
                formDeleteDialog("#dialog-confirm", "DeleteRefHonorTunjangan?ID=" + tbl_tunjangan.id, "#info_tunjangan", tableTunjangan);
            });

            $("#tbl_honorarium").on("click", ".remove-honorarium", function () {
                var vl = $(this).closest('tr')[0];
                var tbl_honorarium = tableHonorarium.row(vl).data();
                formDeleteDialog("#dialog-confirm", "DeleteRefHonorariumDosen?ID=" + tbl_honorarium.id, "#info_honorarium", tableHonorarium);
            });

            $("#tbl_pendidikan").on("click", ".remove-pendidikan", function () {
                var vl = $(this).closest('tr')[0];
                var tbl_pendidikan = tablePendidikan.row(vl).data();
                formDeleteDialog("#dialog-confirm", "DeleteRefPendidikan?ID=" + tbl_pendidikan.id, "#info_pendidikan", tablePendidikan);
            });

            $("#tbl_jabatan").on("click", ".remove-jabatan", function () {
                var vl = $(this).closest('tr')[0];
                var tbl_jabatan = tableJabatan.row(vl).data();
                formDeleteDialog("#dialog-confirm", "DeleteRefJabatanFungsional?ID=" + tbl_jabatan.id, "#info_jabatan", tableJabatan);
            });

            $("#tbl_pengalaman").on("click", ".remove-pengalaman", function () {
                var vl = $(this).closest('tr')[0];
                var tbl_pengalaman = tablePengalaman.row(vl).data();
                formDeleteDialog("#dialog-confirm", "DeleteRefPengalaman?ID=" + tbl_pengalaman.id, "#info_pengalaman", tablePengalaman);
            });

            $("#tbl_jenjang").on("click", ".remove-jenjang", function () {
                var vl = $(this).closest('tr')[0];
                var tbl_jenjang = tableJenjang.row(vl).data();                
                formDeleteDialog("#dialog-confirm", "DeleteRefJenjang?ID=" + tbl_jenjang.id, "#info_jenjang",tableJenjang);
                
            });

            function formDialog(el,func,height,width) {
                $(el).dialog({
                    height: height,
                    width: width,
                    modal: true,
                    buttons: {
                        "Save": func,
                        Cancel: function () {
                            $(el).dialog("close");
                        }
                    }
                });
            }

            function formDeleteDialog(el,url,elinfo,otable) {
                $(el).dialog({
                    height: 160,
                    modal: true,
                    buttons: {
                        "Delete": function () {
                            $.ajax(url)
                          .done(function (data) {
                              $(elinfo).html(data.message);
                              $(el).dialog("close");
                              reloadSelected();
                              otable.draw();
                          });
                        },
                        Cancel: function () {
                            $(el).dialog("close");
                        }
                    }
                });
            }

            function infoMessage(id_el,data) {

                if (data.status == 1) {
                    $(id_el).find("span").text("Sukses!");//removeClass( "blue" );//hasClass
                    if ($(id_el).hasClass("alert-warning")) {
                        $(id_el).removeClass("alert-warning");
                        $(id_el).addClass("alert-success");
                    }
                    if ($(id_el).find("i").hasClass("fa-warning")) {
                        $(id_el).find("i").removeClass("fa-warning");
                        $(id_el).find("i").addClass("fa-check");
                    }
                    $(id_el).find("p").text(data.message);
                    $(id_el).show();

                } else {
                    $(id_el).find("span").text("Error!");//removeClass( "blue" );//hasClass
                    if ($(id_el).hasClass("alert-success")) {
                        $(id_el).removeClass("alert-success");
                        $(id_el).addClass("alert-warning");
                    }
                    if ($(id_el).find("i").hasClass("fa-check")) {
                        $(id_el).find("i").removeClass("fa-check");
                        $(id_el).find("i").addClass("fa-warning");
                    }
                    $(id_el).find("p").text(data.message);
                    $(id_el).show();
                }
            }

            $("#pendidikan").change(function () {
                HitungJenjang();
            });

            $("#jabatan").change(function () {
                HitungJenjang();
            });

            $("#lama_pengalaman").on("input propertychange paste", function () {
                HitungJenjang();
                //$.getJSON("GetRefPengalamanByLamaPengalaman?LamaPengalaman=" + $("#lama_pengalaman").val(), function (data) {
                //    $("#pengalaman_id").val(data[0].id);
                //});               
            });

            function HitungJenjang() {

                var pendidikan = parseInt($("#pendidikan").val());
                var jabatan = parseInt($("#jabatan").val());
                var lama_pengalaman =parseInt( $("#lama_pengalaman").val());
                var url = "HitungJenjang?pendidikan_id=" + pendidikan + "&jabatan_id=" + jabatan + "&pengalaman="+lama_pengalaman;
                if (pendidikan > -1 && jabatan > -1 && lama_pengalaman > -1) {
                    $.getJSON(url, function (data) {
                        $("#jenjang").val(data.id);
                    });
                }
            }

            $("#kd_nik").on("input propertychange paste", function (e) {
                oTable.draw();
            });
            $("#nama_dosen").on("input propertychange paste", function (e) {
                oTable.draw();
            });
            $("#status_dosen").on("input propertychange paste", function (e) {
                oTable.draw();
            });
        });


    </script>
}