﻿@model SPDSTMT.Models.view_dosen
@{
    ViewBag.Title = "Edit Dosen";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
     <style>

       .table.dataTable {
            font-size:small;

        }
       tbody tr.odd {
            background-color: #f9f9f9;
        }
        .ui-datepicker-title select {
          color:black;
          font-size:smaller;
        }
        .ui-datepicker-title select > option{
          color:black;
          font-size:smaller;
        }
        label.error {
            color:red;
         }
    </style>
}
@Html.HiddenFor(model => model.dosen_id) 
<section class="content-header">
    <h1>
    Data Dosen
    <small>data dosen stmt-trisakti</small>
    </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            @* <h3 class="box-title">Title</h3>*@
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            </div>
            <a class="btn btn-default pull-left" href="~/masterdata/dosen"><i class="fa fa-long-arrow-left"></i>Back to List</a>
            
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                     <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title">Profil Dosen</h3>
                             <button class="btn btn-box-tool pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal" id="form_dosen">
                          <div class="box-body">
                              <div class="box-header with-border">
                                    <div class="col-sm-2">
                                        <button class="btnSave btn btn-block btn-primary " type="button">Save</button>
                                        </div>
                                    <div class="col-sm-2">
                                        <button class="btnDelete btn btn-block btn-danger" type="button">Delete</button>
                                    </div>
                              </div>
                              <div class="box-body" >
                                    <div id="info_submit" >
                                    </div>
                                    <div class="form-group">
                                      <label for="kd_nik" class="col-sm-2 control-label">Kode NIK</label>
                                      <div class="col-sm-10">
                                        @Html.TextBoxFor(model => model.kd_nik, new { @class = "form-control", @placeholder="Kode NIK",@required="true",@maxlength="4" })
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="nama_dosen" class="col-sm-2 control-label">Nama Dosen</label>
                                      <div class="col-sm-2">
                                           @Html.TextBoxFor(model => model.gelar_depan, new { @class = "form-control", @placeholder="Gelar Depan" })
                                      </div>
                                      <div class="col-sm-6">
                                        @Html.TextBoxFor(model => model.nama, new { @class = "form-control", @placeholder="Nama Dosen",@required="true" })
                                      </div>
                                      <div class="col-sm-2">
                                        @Html.TextBoxFor(model => model.gelar_belakang, new { @class = "form-control", @placeholder="Gelar Belakang" })
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="jenis_kelamin" class="col-sm-2 control-label">Status Dosen</label>
                                      <div class="col-sm-10">
                                         @Html.DropDownListFor(model => model.status_dosen_id, (IEnumerable<SelectListItem>)ViewBag.StatusDosen,"--Select--", new { @class = "form-control" })
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="tanggal_lahir" class="col-sm-2 control-label">Tempat, Tanggal Lahir</label>
                              
                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.tempat_lahir, new { @class = "form-control", @placeholder="Tempat Lahir" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.TextBox("tanggal_lahir",Model.tanggal_lahir.HasValue?Model.tanggal_lahir.Value.ToString ("dd/MM/yyyy"):"", new { @class = "form-control datepicker", @placeholder="Tanggal Lahir" })
                                        </div>  
                              
                                    </div>
                                    <div class="form-group">
                                      <label for="jenis_kelamin" class="col-sm-2 control-label">Jenis Kelamin</label>
                                      <div class="col-sm-10">
                                         @Html.DropDownListFor(model => model.jenis_kelamin_id, (IEnumerable<SelectListItem>)ViewBag.SelectJenisKelamin,"--Select--", new { @class = "form-control" })
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="agama" class="col-sm-2 control-label">Agama</label>
                                      <div class="col-sm-10">
                                        @Html.DropDownListFor(model => model.agama_id, (IEnumerable<SelectListItem>)ViewBag.SelectAgama,"--Select---", new { @class = "form-control" })
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="agama" class="col-sm-2 control-label">Telepon/HP</label>
                                      <div class="col-sm-10">
                                         @Html.TextBoxFor(model => model.no_tlp_hp, new { @class = "form-control", @placeholder="No Telp/Hp" })
                                        
                                       </div>
                                    </div>
                                    <div class="form-group">                              
                                        <div class="box box-info">
                                            <div class="box-header with-border">
                                              <h3 class="box-title">Alamat</h3>
                                                 <button class="btn btn-box-tool pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                            </div><!-- /.box-header -->
                                              <div class="box-body">
                                                <div class="form-group">
                                                  <label for="jalan" class="col-sm-2 control-label">Jalan</label>
                                                  <div class="col-sm-10">
                                                     @Html.TextAreaFor(model => model.jalan, new { @class = "form-control", @placeholder="Alamat" })
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="kelurahan" class="col-sm-2 control-label">Kelurahan</label>
                                                  <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.kelurahan, new { @class = "form-control ", @placeholder="Kelurahan" })
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="kecamatan" class="col-sm-2 control-label">Kecamatan</label>
                                                  <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.kecamatan, new { @class = "form-control ", @placeholder="Kecamatan" })
                                                  </div>
                                                </div>
                                                 <div class="form-group">
                                                  <label for="kota" class="col-sm-2 control-label">Kota</label>
                                                  <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.kota, new { @class = "form-control ", @placeholder="Kota Madya" })
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="propinsi" class="col-sm-2 control-label">Propinsi</label>
                                                  <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.provinsi_id, new { @class = "form-control ", @placeholder="Propinsi" })
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="kode_pos" class="col-sm-2 control-label">Kode Pos</label>
                                                  <div class="col-sm-10">
                                                    @Html.TextBoxFor(model => model.kode_pos, new { @class = "form-control ", @placeholder="Kode Pos" })
                                                  </div>
                                                </div>
                                              </div>
                                          </div>
                                    </div>
                                    <div class="form-group">                              
                                        <div class="box box-info">
                                            <div class="box-header with-border">
                                              <h3 class="box-title">Rekening</h3>
                                                 <button class="btn btn-box-tool pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                            </div><!-- /.box-header -->
                                              <div class="box-body">
                                                <div class="form-group">
                                                  <label for="atas_nma" class="col-sm-2 control-label">Atas Nama</label>
                                                  <div class="col-sm-10">
                                                     @Html.TextBoxFor(model => model.atas_nama, new { @class = "form-control ", @placeholder="Atas Nama" })
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="no_rekening" class="col-sm-2 control-label">No Rekening</label>
                                                  <div class="col-sm-10">
                                                     @Html.TextBoxFor(model => model.no_rekening, new { @class = "form-control ", @placeholder="No Rekening" })
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="bank" class="col-sm-2 control-label">Bank</label>
                                                  <div class="col-sm-8">
                                                    @Html.DropDownListFor(model => model.bank_id, (IEnumerable<SelectListItem>)ViewBag.SelectBank,"--Select---", new { @class = "form-control" })
                                                  </div>
                                                    <div class="col-sm-2"> 
                                                       <button id="add_bank" class="btn btn-primary glyphicon glyphicon-plus" type="button"></button>
                                                   </div>
                                                </div>
                                                  <div class="form-group">
                                                  <label for="bank" class="col-sm-2 control-label">Bank Cabang</label>
                                                  <div class="col-sm-10">
                                                    @Html.TextAreaFor(model => model.nama_bank_cabang, new { @class = "form-control ", @placeholder="Bank Cabang" })
                                                  
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="no_rekening" class="col-sm-2 control-label">Kode Bank</label>
                                                  <div class="col-sm-10">
                                                     @Html.TextBoxFor(model => model.kode_bank, new { @class = "form-control ", @placeholder="Kode Bank" })
                                                  </div>
                                                </div>                                         
                                              </div>
                                          </div>
                                    </div>
                                    <div class="form-group">                              
                                        <div class="box box-info">
                                    <div class="box-header with-border">
                                      <h3 class="box-title">Jenjang</h3>
                                         <button class="btn btn-box-tool pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                    </div><!-- /.box-header -->
                                      <div class="box-body">
                                        <div class="form-group">
                                          <label for="pendidikan" class="col-sm-2 control-label">Pendidikan</label>
                                          <div class="col-sm-10">
                                                @Html.DropDownListFor(model => model.pendidikan_id, (IEnumerable<SelectListItem>)ViewBag.Pendidikan,"--Select---", new { @class = "form-control",@required="true" })
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="jabatan_fungsional" class="col-sm-2 control-label">Jabatan Fungsional</label>
                                          <div class="col-sm-10">
                                                @Html.DropDownListFor(model => model.jabatan_fungsional_id, (IEnumerable<SelectListItem>)ViewBag.JabatanFungsional,"--Select---", new { @class = "form-control" ,@required="true"})
                                          </div>
                                        </div>
                                        <div class="form-group">
                                          <label for="pengalaman" class="col-sm-2 control-label">Tanggal Masuk/Mulai Mengajar</label>
                                          <div class="col-sm-10">
                                            
                                              @Html.TextBox("tanggal_sk",Model.tanggal_sk.HasValue?Model.tanggal_sk.Value.ToString ("dd/MM/yyyy"):"", new { @class = "form-control datepicker", @placeholder="Tanggal Mulai Mengajar",@required="true" })
                                          </div>
                                        </div>   
                                        <div class="form-group">
                                            <label for="pengalaman" class="col-sm-2 control-label">Jenjang Kelompok</label>
                                            <div class="col-sm-10">
                                                 @Html.DropDownListFor(model => model.jenjang_id, (IEnumerable<SelectListItem>)ViewBag.Jenjang,"--Select---", new { @class = "form-control",@disabled="disabled" })
                                         
                                            </div>
                                        </div>
                                                                            
                                      </div>
                                  </div>
                                    </div>
                                    <div class="form-group">                              
                                        <div class="box box-info">
                                    <div class="box-header with-border">
                                      <h3 class="box-title">Dosen Kelompok Kelas Internasional</h3>
                                         <button class="btn btn-box-tool pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                    </div><!-- /.box-header -->
                                      <div class="box-body">
                                       
                                        <div class="form-group">
                                          <label for="jabatan_fungsional" class="col-sm-2 control-label">Kelompok Dosen</label>
                                          <div class="col-sm-10">
                                                @Html.DropDownListFor(model => model.jenjang_inter_id, (IEnumerable<SelectListItem>)ViewBag.KelompokInter,"--Select---", new { @class = "form-control" })
                                          </div>
                                        </div>                                        
                                         <div class="form-group">
                                            <label for="no_rekening" class="col-sm-2 control-label">Honor Per Pertemuan</label>
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(model => model.honor_per_hadir_inter, new { @class = "form-control ", @placeholder="Honor Per Pertemuan",@disabled="disabled" })
                                            </div>
                                        </div>                                   
                                      </div>
                                  </div>
                                    </div>
                             </div>
                          </div><!-- /.box-body -->
                          <div class="box-footer">
                            <div class="col-sm-2">
                                <button class="btnSave btn btn-block btn-primary " type="button">Save</button>
                                </div>
                            <div class="col-sm-2">
                                <button class="btnDelete btn btn-block btn-danger" type="button">Delete</button>
                            </div>
                        </div><!-- /.box-footer -->
                        </form>
                      </div><!-- /.box -->
                </div>
            </div>
        </div>
    </div>
</section>
@*form delete*@
<div id="dialog-confirm" title="Empty the recycle bin?" hidden>
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      Anda yakin ingin delete?</p>
</div>
<div id="bank_dialog" hidden title="Form bank">
    <div class="box">                 
           <div class="box-body">
               <div id="info_submit_dialog"></div>
                <form id="form_bank" class="form-horizontal"> 
                    <input id="id_bank" type="hidden" />                  
                    <div class="form-group">
                        <label class="col-sm-2 control-label" >Nama Bank</label>
                        <div class="col-sm-10">
                            <input id="nama_bank_ref" class="form-control" type="text" required="required" placeholder="Nama Bank" name="nama_bank" maxlength="10">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" >Kode Bank</label>
                        <div class="col-sm-10">
                            <input id="kode_bank_ref" class="form-control" type="text" required="required" placeholder="Kode Bank" name="kode_bank" maxlength="3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Biaya Bank</label>
                        <div class="col-sm-10">
                            <input id="biaya_bank_ref" class="form-control" type="text" required="required" placeholder="Biaya Bank" name="biaya_bank" number="number">
                        </div>
                    </div>
                    <div class="box-header with-border">
                        <div class="col-sm-2">
                            <button id="btnSaveBank" class=" btn btn-block btn-primary " type="button">Tambah</button>
                        </div>
                    </div>
                </form>        
           </div>         
           <div class="box-footer">
               <div class="row">
                    <div class="col-md-12 table-responsive ">
                    <div id="info_dosen">                                    
                    </div>
                    <table id="tbl_bank" class="table table-bordered  table-hover" width="100%">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Nama Bank</th>
                            <th>Kode Bank</th>
                            <th>Biaya bank</th>                  
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                    </div>
                </div>       
           </div>
    </div>
 </div>

<div id="bank-form-dialog">
    <iframe id="bankIframeForm" width="100%" height="100%" marginwidth="0" marginheight="0"
        frameborder="0" scrolling="auto" title="List Bank">Your browser does not suppr</iframe>
</div>
@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var dialog, form;
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                //showButtonPanel: true,
                yearRange: "-60:+0",
                onClose: function (selectedDate) {
                    HitungJenjang();
                }
            });
            



            $("#add_bank").on("click", function () {
               
                $("#bank-form-dialog").dialog({
                    autoOpen: false,
                    resizable: false,
                    modal: true,
                    width: "50%",
                    height: "500",
                    closeOnEscape: false,
                    open: function (ev, ui) {
                        $('#bankIframeForm').attr('src', "@Url.Content("~/")" + "masterdata/iBank");
                },
                close: function (event, ui) {
                    $("#bankIframeForm").attr("src", "");
                }
                });
                $("#bank-form-dialog").dialog("open");
            });

            function selectedData(id_selected, url) {
                $.getJSON(url, function (data) {
                    var selected=
                   // $("#" + id_selected).empty();
                    $("#" + id_selected).append('<option  value="">--Select--</option>');
                    $.each(data, function () {

                         $("#" + id_selected).append('<option value="' + this.id + '">' + this.value + '</option>');                       
                    })
                });
                $("#" + id_selected).val(selected);
            }
            $("#jabatan_fungsional_id").change(function () {
                HitungJenjang();
            });
            $("#pendidikan_id").change(function () {
                HitungJenjang();
            });
            function formDeleteDialog(el, url, elinfo, otable) {
                $(el).dialog({
                    height: 160,
                    modal: true,
                    buttons: {
                        "Delete": function () {
                            $.ajax(url)
                          .done(function (data) {
                              $(elinfo).html(data.message);
                              $(el).dialog("close");
                              reloadSelected();
                              otable.draw();
                          });
                        },
                        Cancel: function () {
                            $(el).dialog("close");
                        }
                    }
                });
            }
            function HitungJenjang() {
                
                var pendidikan =parseInt($("#pendidikan_id").val());
                var jabatan =parseInt($("#jabatan_fungsional_id").val());
                var lama_pengalaman = $("#tanggal_sk").val();
                if (pendidikan > -1 && jabatan > -1 && lama_pengalaman != "") {
                    var tanggal_sk_before = ($("#tanggal_sk").val()).split("/");
                    var tanggal_sk = tanggal_sk_before[1] + "/" + tanggal_sk_before[0] + "/" + tanggal_sk_before[2];

                    var url = "HitungJenjang?pendidikan_id=" + pendidikan + "&jabatan_id=" + jabatan + "&pengalaman=" + tanggal_sk;

                    $.getJSON(url, function (data) {
                        $("#jenjang_id").val(data.id);
                    });
                }
            }
            $(document).on("click", "#addDosen", function () {
                
            });

            $.validator.setDefaults(
               {
                   errorElement: 'label',
                   errorPlacement: function (error, element) {
                       var html = '<i class="fa fa-times-circle-o"></i>' + $(error).text();
                       $(error).html(html).insertAfter(element);
                   }

               });
            var oTable = $('#tbl_bank').DataTable({
                "filter": "datatables-filter",
                "processing": true,
                "searching": true,
                "lengthChange": false,
                "serverSide": true,
                "ajax": {
                    "url": "GetListRefBank",
                    "type": "POST"
                },
                "order": [[1, "asc"]],
                "columns": [
                     { "data": null },
                    { "data": "nama_bank" },
                     { "data": "kode_bank"},
                     { "data": "biaya_bank" }
                ],
                "columnDefs": [

                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-primary edit-bank"  title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;' +
                                   '<a class="btn btn-xs btn-danger remove-bank" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ]
            });
            $(".btnDelete").on("click", function () {
                $("#dialog-confirm").dialog({
                    height: 160,
                    modal: true,
                    buttons: {
                        "Delete": function () {
                            $.ajax({
                                url: "DeleteDosen?id=" + $("#dosen_id").val(),
                                contentType: 'application/json; charset=utf-8'
                            }).done(function (data) {
                                $("#dialog-confirm").dialog("close");
                                window.location.replace("@Url.Content("~/")" + "masterdata/dosen");                                
                            });
                        },
                        Cancel: function () {
                            $("#dialog-confirm").dialog("close");
                        }
                    }
                });

                
            });

            $("#tbl_bank").on("click", ".edit-bank", function () {

                var vl = $(this).closest('tr')[0];
                $("#tbl_bank").val(vl.rowIndex);
                var view_bank = oTable.row(vl).data();
               // console.log(view_bank);
                $("#nama_bank_ref").val(view_bank.nama_bank);
                $("#kode_bank_ref").val(view_bank.kode_bank);
                $("#biaya_bank_ref").val(view_bank.biaya_bank);
                $("#id_bank").val(view_bank.id);
                $("#btnSaveBank").html("Update");
            });
            //$("#add_bank").on("click", function () {
            ///    $("#bank_dialog").dialog({
            //        modal: false,
            //        height: 500,
            //        width: 700,

                   @* open: function (ev, ui) {
                        $('#BankIframe').attr('src', "@ViewBag.baseUrl" + "masterdata/iBank");
                    }*@
            //    });
           // });
            $("#btnSaveBank").on("click", function () {
                $("#form_bank").validate();
                if ($("#form_bank").valid() == false) {
                    return false;
                }
                $("#AddBank").val();
                var url = "AddBank";
                var data={nama_bank:$("#nama_bank_ref").val(),kode_bank:$("#kode_bank_ref").val(),biaya_bank:$("#biaya_bank_ref").val()};

                if ($("#id_bank").val() != "") {
                    url = "EditBank";
                    var data = { id: $("#id_bank").val(), nama_bank: $("#nama_bank_ref").val(), kode_bank: $("#kode_bank_ref").val(), biaya_bank: $("#biaya_bank_ref").val() };
                }
                $.ajax({
                    method: "POST",
                    url: url,
                    data: data
                }).success(function (data) {
                    $("#info_submit_dialog").html(data.message);
                    $("#btnSaveBank").html("Save");
                    $("#id_bank").val("");
                    $("#form_bank").find("input").each(function () {
                        $(this).val("");
                    });
                    oTable.draw();
                    selectedData("bank_id", "@Url.Content("~/")masterdata/GetRefSelectedBank");
                });
            });
            $(".btnSave").on("click", function () {
                $("#form_dosen").validate();
                if ($("#form_dosen").valid() == false) {
                    return false;
                }
                var view_dosen = {};
                view_dosen.dosen_id = $("#dosen_id").val();
                view_dosen.kd_nik = $("#kd_nik").val();
                view_dosen.nama_dosen = $("#nama_dosen").val();
                view_dosen.tempat_lahir = $("#tempat_lahir").val();
                var tanggal_lahir_before = ($("#tanggal_lahir").val()).split("/");
                var tanggal_lahir = tanggal_lahir_before[1] + "/" + tanggal_lahir_before[0] +"/"+ tanggal_lahir_before[2];
                view_dosen.tanggal_lahir = tanggal_lahir;
                var tanggal_sk_before = ($("#tanggal_sk").val()).split("/");
                var tanggal_sk = tanggal_sk_before[1] + "/" + tanggal_sk_before[0] +"/"+ tanggal_sk_before[2];
                view_dosen.tanggal_sk = tanggal_sk;
                view_dosen.jenis_kelamin_id = $("#jenis_kelamin_id").val();
                view_dosen.agama_id = $("#agama_id").val();
                view_dosen.status_dosen_id = $("#status_dosen_id").val();
                view_dosen.gelar_depan = $("#gelar_depan").val();
                view_dosen.gelar_belakang = $("#gelar_belakang").val();
                view_dosen.nama = $("#nama").val();
                view_dosen.pendidikan_id = $("#pendidikan_id").val();
                view_dosen.jabatan_fungsional_id = $("#jabatan_fungsional_id").val();
                view_dosen.jalan = $("#jalan").val();
                view_dosen.kelurahan = $("#kelurahan").val();
                view_dosen.kecamatan = $("#kecamatan").val();
                view_dosen.kota = $("#kota").val();
                view_dosen.provinsi_id = $("#provinsi_id").val();
                view_dosen.kode_pos = $("#kode_pos").val();
                view_dosen.atas_nama = $("#atas_nama").val();
                view_dosen.no_rekening = $("#no_rekening").val();
                view_dosen.bank_id = $("#bank_id").val();
                view_dosen.nama_bank_cabang = $("#nama_bank_cabang").val();
                view_dosen.kode_bank = $("#kode_bank").val();
                view_dosen.golongan_darah_id = $("#golongan_darah_id").val();
                view_dosen.nama_bank_cabang = $("#nama_bank_cabang").val();
                view_dosen.jenjang_inter_id = $("#jenjang_inter_id").val();
                view_dosen.honor_per_hadir_inter = $("#honor_per_hadir_inter").val();
                $.ajax({
                    method: "POST",
                    url: "AjaxEditDosen",
                    dataType: "json",
                    data: JSON.stringify(view_dosen),
                    contentType: 'application/json; charset=utf-8'
                }).done(function (data) {
                    $("#info_submit").html(data.message);
                    $("html, body").animate({
                        scrollTop: 0
                    }, "slow");
                });
            });
            $("#jenjang_inter_id").change(function () {
                var id =parseInt( $("#jenjang_inter_id").val());
                $.ajax({
                    url: "GetJenjangInter",
                    data: { id: id }
                }).success(function (data) {
                    $("#honor_per_hadir_inter").val(data.honor_per_hadir);
                });
            });

        });


    </script>
}