﻿@model SPDSTMT.Models.view_dosen
@{
    ViewBag.Title = "Tambah Dosen";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/dist/site.css" rel="stylesheet" />
    <style>
        .table.dataTable { font-size: small; }
        tbody tr.odd { background-color: #f9f9f9; }
        .ui-datepicker-title select { color: black; font-size: smaller; }
        .ui-datepicker-title select > option { color: black; font-size: smaller; }
        label.error { color: red; }
    </style>
}

<section class="content-header">
    <h1>
        Data Dosen
        <small>data dosen stmt-trisakti</small>
    </h1>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-toolbar top clearfix">
                    <ul>
                        <li><a title="Back To List" href="@Url.Content("~/")masterdata/dosen"><i class="fa fa-long-arrow-left fa-fw" style="color:green"></i>Back to List</a></li>
                        <li><a title="Reset Form" class="btnCreate"><i class="fa fa-fw fa-refresh " style="color:green"></i>Reset</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-header with-border">
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Profil Dosen</h3>
                            @*<button class="btn btn-box-tool pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>*@
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal label-kanan" id="form_dosen">
                            <div class="box-body">

                                <div class="box-body">
                                    <div id="info_submit">
                                    </div>
                                    <div class="form-group">
                                        <label for="kd_nik" class="col-sm-2 control-label">Kode NIK</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(model => model.kd_nik, new { @class = "form-control", @placeholder = "Kode NIK", @required = "true", @maxlength = "4" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nidn" class="col-sm-2 control-label">NIDN</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(model => model.nidn, new { @class = "form-control", @placeholder = "NIDN", @required = "true", @maxlength = "64" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="nama_dosen" class="col-sm-2 control-label">Nama Dosen</label>
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(model => model.gelar_depan, new { @class = "form-control", @placeholder = "Gelar Depan" })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(model => model.nama, new { @class = "form-control", @placeholder = "Nama Dosen", @required = "true" })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(model => model.gelar_belakang, new { @class = "form-control", @placeholder = "Gelar Belakang" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="status_dosen" class="col-sm-2 control-label">Jenis Dosen</label>
                                        <div class="col-sm-10">
                                            @Html.DropDownListFor(model => model.status_dosen_id, (IEnumerable<SelectListItem>)ViewBag.StatusDosen, "--Select--", new { @class = "form-control", @required = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="status_dosen" class="col-sm-2 control-label">Status Dosen</label>
                                        <div class="col-sm-10">
                                            @Html.DropDownListFor(model => model.status_aktif_id, (IEnumerable<SelectListItem>)ViewBag.StatusAktif, "--Select--", new { @class = "form-control", @required = "true" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="tanggal_lahir" class="col-sm-2 control-label">Tempat, Tanggal Lahir</label>

                                        <div class="col-sm-4">
                                            @Html.TextBoxFor(model => model.tempat_lahir, new { @class = "form-control", @placeholder = "Tempat Lahir" })
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" id="tanggal_lahir" class="form-control datepicker" placeholder="Tanggal Lahir" />
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label for="jenis_kelamin" class="col-sm-2 control-label">Jenis Kelamin</label>
                                        <div class="col-sm-10">
                                            @Html.DropDownListFor(model => model.jenis_kelamin_id, (IEnumerable<SelectListItem>)ViewBag.SelectJenisKelamin, "--Select--", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="agama" class="col-sm-2 control-label">Agama</label>
                                        <div class="col-sm-10">
                                            @Html.DropDownListFor(model => model.agama_id, (IEnumerable<SelectListItem>)ViewBag.SelectAgama, "--Select---", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="agama" class="col-sm-2 control-label">Golongan Darah</label>
                                        <div class="col-sm-10">
                                            @Html.DropDownListFor(model => model.golongan_darah_id, (IEnumerable<SelectListItem>)ViewBag.SelectGolonganDarah, "--Select---", new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="box box-info">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Alamat</h3>
                                                <button class="btn btn-box-tool pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                            </div><!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label for="jalan" class="col-sm-2 control-label">Jalan</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextAreaFor(model => model.jalan, new { @class = "form-control", @placeholder = "Alamat" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="kelurahan" class="col-sm-2 control-label">Kelurahan</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(model => model.kelurahan, new { @class = "form-control ", @placeholder = "Kelurahan" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="kecamatan" class="col-sm-2 control-label">Kecamatan</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(model => model.kecamatan, new { @class = "form-control ", @placeholder = "Kecamatan" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="kota" class="col-sm-2 control-label">Kota</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(model => model.kota, new { @class = "form-control ", @placeholder = "Kota Madya" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="propinsi" class="col-sm-2 control-label">Propinsi</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(model => model.provinsi_id, new { @class = "form-control ", @placeholder = "Propinsi" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="kode_pos" class="col-sm-2 control-label">Kode Pos</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(model => model.kode_pos, new { @class = "form-control ", @placeholder = "Kode Pos" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="box box-info">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Rekening</h3>
                                                <button class="btn btn-box-tool pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                            </div><!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label for="atas_nma" class="col-sm-2 control-label">Atas Nama</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(model => model.atas_nama, new { @class = "form-control ", @placeholder = "Atas Nama" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="no_rekening" class="col-sm-2 control-label">No Rekening</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(model => model.no_rekening, new { @class = "form-control ", @placeholder = "No Rekening" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="bank" class="col-sm-2 control-label">Bank</label>
                                                    <div class="col-sm-10">
                                                        @Html.DropDownListFor(model => model.bank_id, (IEnumerable<SelectListItem>)ViewBag.SelectBank, "--Select---", new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="no_rekening" class="col-sm-2 control-label">Kode Bank</label>
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(model => model.kode_bank, new { @class = "form-control ", @placeholder = "Kode Bank" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="box box-info">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Jenjang</h3>
                                                <button class="btn btn-box-tool pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                                            </div><!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label for="pendidikan" class="col-sm-2 control-label">Pendidikan</label>
                                                    <div class="col-sm-10">
                                                        @Html.DropDownListFor(model => model.pendidikan_id, (IEnumerable<SelectListItem>)ViewBag.Pendidikan, "--Select---", new { @class = "form-control", @required = "true" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="jabatan_fungsional" class="col-sm-2 control-label">Jabatan Fungsional</label>
                                                    <div class="col-sm-10">
                                                        @Html.DropDownListFor(model => model.jabatan_fungsional_id, (IEnumerable<SelectListItem>)ViewBag.JabatanFungsional, "--Select---", new { @class = "form-control", @required = "true" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="pengalaman" class="col-sm-2 control-label">Tanggal Masuk/Mulai Mengajar</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" id="tanggal_sk" class="form-control datepicker" placeholder="Tanggal Masuk/Mulai Mengajar" required="true" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="pengalaman" class="col-sm-2 control-label">Jenjang Kelompok</label>
                                                    <div class="col-sm-10">
                                                        @Html.DropDownListFor(model => model.jenjang_id, (IEnumerable<SelectListItem>)ViewBag.Jenjang, "--Select---", new { @class = "form-control", @disabled = "disabled" })

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="jabatan_fungsional" class="col-sm-2 control-label">Homebase</label>
                                                    <div class="col-sm-10">
                                                        @Html.DropDownListFor(model => model.homebase, (IEnumerable<SelectListItem>)ViewBag.DaftarProdi, "--Select---", new { @class = "form-control", @required = "true" })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="submitgray button-row">
                                            <button class="btnSave btn  btn-primary " type="button">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.box-body -->

                        </form>
                    </div><!-- /.box -->
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var dialog, form;
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                //showButtonPanel: true,
                yearRange: "-60:+0",
                onClose: function (selectedDate) {
                    HitungJenjang();
                }
            });
            //$("#jabatan_id").on("input propertychange paste", function (e) {
            //    HitungJenjang();
            //});
            $("#jabatan_fungsional_id").change(function () {
                HitungJenjang();
            });
            $("#pendidikan_id").change(function () {
                HitungJenjang();
            });


            function HitungJenjang() {

                var pendidikan = parseInt($("#pendidikan_id").val());
                var jabatan = parseInt($("#jabatan_fungsional_id").val());
                var lama_pengalaman = $("#tanggal_sk").val();
                if (pendidikan > -1 && jabatan > -1 && lama_pengalaman != "") {
                    var tanggal_sk_before = ($("#tanggal_sk").val()).split("/");
                    var tanggal_sk = $("#tanggal_sk").val(); //tanggal_sk_before[1] + "/" + tanggal_sk_before[0] + "/" + tanggal_sk_before[2];

                    var url = "HitungJenjang?pendidikan_id=" + pendidikan + "&jabatan_id=" + jabatan + "&pengalaman=" + tanggal_sk;

                    $.getJSON(url, function (data) {
                        $("#jenjang_id").val(data.id);
                    });
                }
            }

            $(document).on("click", "#addDosen", function () {

            });
            $(".btnCreate").on("click", function () {
                ClearForm();
            });
            //<i class="fa fa-times-circle-o"></i>
            $.validator.setDefaults(
               {
                   errorElement: 'label',
                   errorPlacement: function (error, element) {
                       var html = '<i class="fa fa-times-circle-o"></i>' + $(error).text();
                       $(error).html(html).insertAfter(element);
                   }

               });

            $("#form_dosen").validate({

            });
            $(".btnSave").on("click", function () {
                //if ($("#form_dosen").validate()) { // Not Valid
                //    alert("ss");
                //    return false;
                //}
                if ($("#form_dosen").valid() === false) {
                    //alert("sds");
                    return false;
                }
                var view_dosen = {};
                view_dosen.kd_nik = $("#kd_nik").val();
                view_dosen.nidn = $("#nidn").val();
                view_dosen.nama_dosen = $("#nama_dosen").val();
                view_dosen.tempat_lahir = $("#tempat_lahir").val();
                var tanggal_lahir_before = ($("#tanggal_lahir").val()).split("/");
                var tanggal_lahir = tanggal_lahir_before[1] + "/" + tanggal_lahir_before[0] + "/" + tanggal_lahir_before[2];
                view_dosen.tanggal_lahir = $("#tanggal_lahir").val();
                var tanggal_sk_before = ($("#tanggal_sk").val()).split("/");
                var tanggal_sk = tanggal_sk_before[1] + "/" + tanggal_sk_before[0] + "/" + tanggal_sk_before[2];
                view_dosen.tanggal_sk = $("#tanggal_sk").val();
                view_dosen.jenis_kelamin_id = $("#jenis_kelamin_id").val();
                view_dosen.agama_id = $("#agama_id").val();
                view_dosen.status_dosen_id = $("#status_dosen_id").val();
                view_dosen.status_aktif_id = $("#status_aktif_id").val();
                view_dosen.gelar_depan = $("#gelar_depan").val();
                view_dosen.gelar_belakang = $("#gelar_belakang").val();
                view_dosen.nama = $("#nama").val();
                view_dosen.pendidikan_id = $("#pendidikan_id").val();
                view_dosen.jabatan_fungsional_id = $("#jabatan_fungsional_id").val();
                view_dosen.jalan = $("#jalan").val();
                view_dosen.kelurahan = $("#kelurahan").val();
                view_dosen.kecamatan = $("#kecamatan").val();
                view_dosen.kota = $("#kota").val();
                view_dosen.provinsi_id = $("#provinsi_id").val();
                view_dosen.kode_pos = $("#kode_pos").val();
                view_dosen.atas_nama = $("#atas_nama").val();
                view_dosen.no_rekening = $("#no_rekening").val();
                view_dosen.bank_id = $("#bank_id").val();
                view_dosen.nama_bank_cabang = $("#nama_bank_cabang").val();
                view_dosen.kode_bank = $("#kode_bank").val();
                view_dosen.golongan_darah_id = $("#golongan_darah_id").val();
                view_dosen.homebase = $("#homebase").val();

                $.ajax({
                    method: "POST",
                    url: "AjaxAddDosen",
                    dataType: "json",
                    data: JSON.stringify(view_dosen),
                    contentType: 'application/json; charset=utf-8'
                }).done(function (data) {

                    $("#info_submit").html(data.message);
                    $("#info_submit").click();
                    if (data.status == 0) return false;
                    ClearForm();
                });
            });

            function ClearForm() {

                $("input").val("");
                $("textarea").val("");
                $("select").val("");
            }


            jQuery.validator.addMethod("exactlength", function (value, element, param) {
                return this.optional(element) || value.length == param;
            }, jQuery.format("Please enter exactly {0} characters."));
        });


    </script>
}