﻿@{
    ViewBag.Title = "Dosen";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/dist/site.css" rel="stylesheet" />
    <style>

       .table.dataTable {
            font-size:small;

        }

        .jp-table {
            font-size:small;
        }
       tbody tr.odd {
            background-color: #f9f9f9;
        }

       #listDownloadReport li{width:100%;}
    </style>
}
<section class="content-header">
    <h1>
    Data Dosen
    <small>data dosen stmt-trisakti</small>
    </h1>
</section>
<section class="content">
    <div class="box box-primary">
         <div class="row">
	            <div class="col-md-12">
                    <div class="panel-toolbar top clearfix">
                        <ul>
                            <li><a title="Generate" href="@Url.Content("~/")masterdata/createdosen"><i class="fa fa-fw fa-plus" style="color:green"></i>Tambah Dosen</a></li>
                            <li>
                                @*<a title="Generate" href="@Url.Content("~/")masterdata/createdosen"><i class="fa fa-fw fa-plus" style="color:green"></i>Tambah Dosen</a>*@
                                <div class="dropdown">
                                    <a class="" type="button" data-toggle="dropdown">
                                        Unduh Laporan
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" id="listDownloadReport">
                                        <li><a href="@Url.Content("~/")masterdata/daftarstatusdosen">Status Dosen</a></li>
                                        <li><a href="@Url.Content("~/")masterdata/daftarjenisdosen">Jenis Dosen</a></li>
                                        <li><a href="@Url.Content("~/")masterdata/daftarpendidikandosen">Pendidikan Dosen</a></li>
                                        <li><a href="@Url.Content("~/")masterdata/daftarjabatandosen">Jabatan Akademik</a></li>
                                        <li><a href="@Url.Content("~/")masterdata/daftarusiadosen">Usia</a></li>
                                        <li><a href="@Url.Content("~/")masterdata/daftarhomebasedosen">Homebase</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="box-header with-border">
           @* <h3 class="box-title">Title</h3>*@
           @* <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
            </div>*@
            
        </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <p class="box-title">Filter</p>
                <div class="col-xs-2">
                    <input class="form-control" type="text" id="kd_nik" name="kd_nik" placeholder="Kode NIK">
                </div>
                <div class="col-xs-6">
                    <input class="form-control" type="text" id="nama_dosen" name="nama_dosen" placeholder="Nama Dosen">
                </div>
                <div class="col-xs-4">
                    <select id="status_dosen" class="form-control">
                    </select> 
                    @*<input class="form-control" type="text" id="status_dosen" name="status_dosen" placeholder="Status Dosen">*@
                </div>
            </div>
        </div>
       <br />
        <div class="row">
            <div class="col-md-12 table-responsive ">

            <table id="tbl_dosen" class="jp-table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>NIK</th>
                    <th>Nama</th>
                    @*<th>Tempat,tgl Lahir</th>*@                    
                    @*<th>Jenis Kelamin</th>*@
                    @*<th>Agama</th>*@
                   @* <th>Tanggal Masuk</th>*@
                    <th>Tgl Mengajar</th>
                    <th>Stat Dosen</th>
                    <th>Pd. Terakhir</th>
                    <th>Jbt. Fungs.</th>
                    @*<th>Peng.</th>*@
                    <th>Jenjang</th>
                    <th>No Rekening</th>
                    <th>Bank</th>
                    @*<th>Cabang Bank</th>*@
                    @*<th>Atas Nama</th>*@
                    
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
            </div>
        </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
        
    </div><!-- /.box-footer-->
    </div>
</section>

@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var dialog, form;
            selectedData("status_dosen", "@Url.Content("~/")masterdata/GetRefSelectedStatusDosen");
            $(document).on("click", "#addDosen", function () {

            });
            
            var oTable = $('#tbl_dosen').DataTable({
                "filter": "datatables-filter",
                "processing": true,
                "searching": false,                
                "lengthChange": false,
                "serverSide": true,
                "ajax": {
                    "url": "GetListDosen",
                    "type": "POST",
                    "data": function (d) {
                        d.kd_nik = $("#kd_nik").val();
                        d.nama_dosen = $("#nama_dosen").val();
                        d.status_dosen = $("#status_dosen").val();
                    },
                },
                "order": [[1, "asc"]],
                "columns": [
                     { "data": null },
                    { "data": "kd_nik" },
                    { "data": "nama_dosen" },
                    //{ "data": null },
                    //{ "data": "jenis_kelamin" },
                    //{ "data": "agama" },
                     //{ "data": "tanggal_masuk" },
                     { "data": "tanggal_sk", "orderable": false },
                     { "data": "status_dosen", "orderable": false },
                     { "data": "tingkat_pendidikan", "orderable": false },
                     { "data": "jabatan_fungsional", "orderable": false },
                     //{ "data": "lama_pengalaman" },
                     { "data": "jenjang_kelompok", "orderable": false },
                     { "data": "no_rekening", "orderable": false },
                     { "data": "nama_bank", "orderable": false },
                     //{ "data": "nama_bank_cabang", "orderable": false },
                     //{ "data": "atas_nama", "orderable": false }
                     
                ],
                "columnDefs": [
                    
                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-primary" href="EditDosen?id='+row.dosen_id+'" title="Edit""><span class="fa fa-pencil"></span></a>&nbsp;' +
                                   '<a class="btn btn-xs btn-danger remove-dosen" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 0,
                        "orderable": false
                    },
                    //{
                    //    "render": function (data, type, row) {
                    //        var date = "";
                    //        if (row.tanggal_lahir != null && row.tanggal_lahir != "") {
                    //            date = new Date(parseInt(row.tanggal_lahir.substr(6)));
                    //            date=date.getDate() + "/" + date.getMonth() + 1 + "/" + date.getFullYear();
                    //        }
                    //        return row.tempat_lahir + "," + date;
                    //    },
                    //    "targets": 3,
                    //    "orderable": false
                    //},
                    //{
                    //    "render": function (data, type, row) {
                    //        var date = "";
                    //        if (row.tanggal_masuk != null && row.tanggal_masuk != "") {
                    //            date = new Date(parseInt(row.tanggal_masuk.substr(6)));
                    //            date = date.getDate() + "/" + date.getMonth() + 1 + "/" + date.getFullYear();
                    //        }
                    //        return  date;
                    //    },
                    //    "targets": 6,
                    //    "orderable": false
                    //},
                    {
                        "render": function (data, type, row) {
                            var date = "";
                            if (row.tanggal_sk != null && row.tanggal_sk != "") {
                                date = new Date(parseInt(row.tanggal_sk.substr(6)));
                                date = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                            }
                            return date;
                        },
                        "targets": 3,
                        "orderable": false
                    }
                ]
            });
            dialog = $("#dialog-form").dialog({
                autoOpen: false,
                height: 500,
                width: 650,
                modal: true,
                buttons: {
                    "Save": addUser,
                    Cancel: function () {
                        dialog.dialog("close");
                    }
                },
                close: function () {
                    //form[0].reset();
                    //allFields.removeClass("ui-state-error");
                }
            });
            var view_dosen;
            $("table").on("click", ".add-dosen", function () {
                var vl = $(this).closest('tr')[0];
                view_dosen = oTable.row(vl).data();
                console.log(view_dosen.pendidikan_id);
                $("#kd_nik2").val(view_dosen.kd_nik);
                $("#nama_dosen2").val(view_dosen.nama_dosen);
                $("#pendidikan").val(view_dosen.pendidikan_id); 
                $("#jabatan").val(view_dosen.jabatan_fungsional_id);                
                $("#lama_pengalaman").val(view_dosen.lama_pengalaman);
                dialog.dialog("open");
            });

            function addUser() {
                alert("sdsd");
            }
            $("#kd_nik").on("input propertychange paste", function (e) {
                oTable.draw();
            });
            $("#nama_dosen").on("input propertychange paste", function (e) {
                oTable.draw();
            });
            $("#status_dosen").change(function () {
                oTable.draw();
            });
            function selectedData(id_selected, url) {
                $.getJSON(url, function (data) {
                    $("#" + id_selected).empty();
                    $("#" + id_selected).append("<option value='' selected='selected'>--Select--</option>");
                    $.each(data, function () {
                        $("#" + id_selected).append('<option value="' + this.id + '">' + this.value + '</option>')
                    })
                });

            }
        });


    </script>
}