﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="/Content/font-awesome/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    <!-- Ionicons -->
    <link href="/Content/ionicons/ionicons.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
    <!-- Theme style -->
    <link href="/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link href="/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
      <style>

       .table.dataTable {
            font-size:small;

        }
       tbody tr.odd {
            background-color: #f9f9f9;
        }
          .dataTables_filter {
            text-align:right!important;

          }

     </style>
  </head>
  <body>
   <div class="wrapper">
        <div class="container">
            <section class="content">
    
                <div class="box">
                    <div class="box-header with-border">
                        <h3 id="box-jenjang-dosen" class="box-title">Data Bank</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" style  data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                     </div>
        
                 <div class="box-body">
                    <form id="form_bank" class="form-horizontal">
                        <input type="hidden" id="id_bank" />
                        <div id="info_submit_dialog"></div>
                        <div class="box-header with-border">
                            <div class="col-sm-2">
                                <button id="btnSaveBank" class="btnSave btn btn-block btn-primary " type="button">Save</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="kd_nik">Nama Bank</label>
                            <div class="col-sm-10">
                                <input id="nama_bank" class="form-control" type="text" required="required" placeholder="Nama Bank" name="nama_bank" maxlength="10">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="kd_nik">Kode Bank</label>
                            <div class="col-sm-10">
                                <input id="kode_bank" class="form-control" type="text" required="required" placeholder="Kode Bank" name="kode_bank" maxlength="3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="kd_nik">Biaya Bank</label>
                            <div class="col-sm-10">
                                <input id="biaya_bank" class="form-control" type="text" required="required" placeholder="Biaya Bank" name="biaya_bank" number="number">
                            </div>
                        </div>
                    </form>        
               </div> 
        
                 <div class="box-footer">
                   <div class="row">
                        <div class="col-md-12  ">
                        <div id="info_dosen">                                    
                        </div>
                        <table id="tbl_bank" class="table table-bordered  table-hover" width="100%">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Nama Bank</th>
                                <th>Kode Bank</th>
                                <th>Biaya Bank</th>                    
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                        </div>
                    </div>
                </div>
                </div>
    
            </section>
        </div>
   </div>
      @*form delete*@
<div id="dialog-confirm" title="Empty the recycle bin?" hidden>
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      Anda yakin ingin delete?</p>
</div>
      @Scripts.Render("~/bundles/jquery")
      @Scripts.Render("~/bundles/boostrap")
      @Scripts.Render("~/bundles/adminlte")
      <script src="/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/Content/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/Content/jqueryui/jquery-ui.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           
            var oTable = $('#tbl_bank').DataTable({
                "filter": "datatables-filter",
                "processing": true,
                "searching": true,
                "lengthChange": false,
                "serverSide": true,
                "ajax": {
                    "url": "GetListRefBank",
                    "type": "POST"
                },
                "order": [[1, "asc"]],
                "columns": [
                     { "data": null },
                    { "data": "nama_bank" },
                     { "data": "kode_bank" },
                     { "data": "biaya_bank" }
                ],
                "columnDefs": [

                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-primary edit-bank"  title="Edit"><span class="fa fa-pencil"></span></a>&nbsp;' +
                                   '<a class="btn btn-xs btn-danger remove-bank" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 0,
                        "orderable": false
                    }
                ]
            });
            $("#tbl_bank").on("click", ".edit-bank", function () {                
                var vl = $(this).closest('tr')[0];
                $("#tbl_bank").val(vl.rowIndex);
                var view_bank = oTable.row(vl).data();
                // console.log(view_bank);
                $("#nama_bank").val(view_bank.nama_bank);
                $("#kode_bank").val(view_bank.kode_bank);
                $("#biaya_bank").val(view_bank.biaya_bank);
                $("#id_bank").val(view_bank.id);
                $("#btnSaveBank").html("Update");
            });

            $("#btnSaveBank").on("click", function () {
                $("#form_bank").validate();
                if ($("#form_bank").valid() == false) {
                    return false;
                }
                $("#AddBank").val();
                var url = "AddBank";
                var data = { nama_bank: $("#nama_bank").val(), kode_bank: $("#kode_bank").val(), biaya_bank: $("#biaya_bank").val() };

                if ($("#id_bank").val() != "") {
                    url = "EditBank";
                    var data = { id: $("#id_bank").val(), nama_bank: $("#nama_bank").val(), kode_bank: $("#kode_bank").val(), biaya_bank: $("#biaya_bank").val() };
                }
                $.ajax({
                    method: "POST",
                    url: url,
                    data: data
                }).success(function (data) {
                    $("#info_submit_dialog").html(data.message);
                    $("#btnSaveBank").html("Save");
                    $("#id_bank").val("");
                    $("#form_bank").find("input").each(function () {
                        $(this).val("");
                    });
                    oTable.draw();
                    //selectedData("bank_id", "@Url.Content("~/")masterdata/GetRefSelectedBank");
                });
            });
            $("#tbl_bank").on("click", ".remove-bank", function () {
                var vl = $(this).closest('tr')[0];
                $("#tbl_bank").val(vl.rowIndex);
                var view_bank = oTable.row(vl).data();

                $("#dialog-confirm").dialog({
                    height: 160,
                    modal: true,
                    buttons: {
                        "Delete": function () {
                            $.ajax({
                                url: "@Url.Content("~/")masterdata/DeleteBank?id=" + view_bank.id,
                                contentType: 'application/json; charset=utf-8'
                            }).done(function (data) {
                                $("#dialog-confirm").dialog("close");
                                oTable.draw();
                            });
                        },
                        Cancel: function () {
                            $("#dialog-confirm").dialog("close");
                        }
                    },
                    close: function (event, ui) { $(this).dialog('close') }
                });


            });
        });
    </script>
  </body>
</html>