﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="/Content/font-awesome/font-awesome.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    <!-- Ionicons -->
    <link href="/Content/ionicons/ionicons.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@
    <!-- Theme style -->
    <link href="/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link href="/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
  @*  <link href="/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />*@
      <link href="/Content/dist/site.css" rel="stylesheet" />
    

  </head>
  <body>
      <input type="hidden" id="report_id" value="@ViewBag.reportid" />
   <div class="wrapper">
        <div class="container">
            <section class="content">    
                <div class="box">
                    <div class="box-header with-border">
                        <h3 id="box-jenjang-dosen" class="box-title">Slip Honor Dosen Reguler</h3>
                           @* <div class="box-tools pull-right">
                                <button class="btn btn-box-tool"  data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>*@
                     </div>
        
                 <div class="box-body">
                    <form id="form_bank" class="form-horizontal">
                         <div class="form-group">
                            <label class="col-sm-4 control-label">Nama Dosen</label>
                            <div class="col-sm-8">                                
                                <input type="text" id="nama_dosen" placeholder="Nama Dosen" class="form-control" maxlength="20">
                            </div>
                        </div>         
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Kode NIK</label>
                            <div class="col-sm-8">                                
                                <input type="text" id="kd_nik" placeholder="Kode NIK" class="form-control" maxlength="20">
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Status Dosen</label>
                            <div class="col-sm-8">
                                <select id="status_dosen_id" class="form-control">
                                </select>                                  
                            </div>
                        </div> 
                    </form>        
               </div> 
        
                 <div class="box-footer">
                   <div class="row">
                        <div class="col-md-12  ">
                        <div id="info_dosen">                                    
                        </div>
                        <table id="tbl_report_slip" class=" jp-table" >
                                <thead>
                                    <tr>
                                    <th>Action</th>           
                                    <th>NIK</th>
                                    <th>Nama Dosen</th>
                                    <th>Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
    
            </section>
        </div>
   </div>
      @*form delete*@
<div id="dialog-confirm" title="Empty the recycle bin?" hidden>
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      Anda yakin ingin delete?</p>
</div>
      @Scripts.Render("~/bundles/jquery")
      @Scripts.Render("~/bundles/boostrap")
      @Scripts.Render("~/bundles/adminlte")
      <script src="/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="/Content/plugins/datatables/dataTables.buttons.min.js"></script>
  @*  <script src="/Content/jqueryui/jquery-ui.min.js"></script>*@
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">
        function selectedData(id_selected, url) {
            $.getJSON(url, function (data) {
                $("#" + id_selected).empty();
                $("#" + id_selected).append("<option value='' selected='selected'>--Select--</option>");
                $.each(data, function () {
                    $("#" + id_selected).append('<option value="' + this.id + '">' + this.value + '</option>')
                })
            });

        }
        $(document).ajaxStop($.unblockUI);
        $(document).ready(function () {
            var tableReportSlip = $('#tbl_report_slip').DataTable({
                "filter": "datatables-filter",
                //"scrollX": "100%",
                //"scrollCollapse": true,
                "jQueryUI": true,
                "processing": true,
                "searching": false,
                "displayLength": 10,
                "lengthChange": false,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Content("~/")ReportHonor/GetListSlipReport",
                "type": "POST",
                "data": function (d) {
                    d.nama_dosen = $("#nama_dosen").val();
                    d.kd_nik = $("#kd_nik").val();
                    d.report_id = $("#report_id").val();
                    d.status_dosen_id = $("#status_dosen_id").val();

                },
            },
                "order": [[1, "asc"]],
                "columns": [
                    { "data": null, "width": "5%" },
                    { "data": "kd_nik", "width": "5%" },
                    { "data": "nama_dosen" },
                    { "data": null }
                ],
                "columnDefs": [

                    {
                        "render": function (data, type, row) {
                            return '<a class="btn btn-xs btn-danger remove-honor" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                        },
                        "targets": 0,
                        "orderable": false
                    },
                      {
                          "render": function (data, type, row) {
                              return '<a class="btn btn-xs btn-success" href="@Url.Content("~/")ReportHonor/ReportSlipHonorPdf?reportId=' + row.generate_report_id + '&kd_nik=' + row.kd_nik + '" target="blank_" title="Download"><span class="fa fa-cloud-download">Download</span></a>';
                      },
                      "targets": 3,
                      "orderable": false
                  }
            ]
            });
            
            selectedData("status_dosen_id", "@Url.Content("~/")masterdata/GetRefSelectedStatusDosen");
            $("#status_dosen_id").change(function () {
                tableReportSlip.draw();
            });
            $("#kd_nik").on("input propertychange paste", function (e) {
                tableReportSlip.draw();
            });
            $("#nama_dosen").on("input propertychange paste", function (e) {
                tableReportSlip.draw();
            });
        });
    </script>
  </body>
</html>