﻿@model SPDSTMT.Models.tbl_username

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbl_username</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.create_on)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.create_on)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.create_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.create_by)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified_on)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified_on)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified_by)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
