﻿@model SPDSTMT.Models.tbl_username

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbl_username</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.create_on)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.create_on)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.create_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.create_by)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified_on)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified_on)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.modified_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modified_by)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
