﻿@model SPDSTMT.Models.VWUserRole
@{
    ViewBag.Title = "Edit User Account";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/dist/site.css" rel="stylesheet" />
     <style>

       .table.dataTable {
            font-size:small;

        }
       tbody tr.odd {
            background-color: #f9f9f9;
        }
        .ui-datepicker-title select {
          color:black;
          font-size:smaller;
        }
        .ui-datepicker-title select > option{
          color:black;
          font-size:smaller;
        }
        label.error {
            color:red;
         }
    </style>
}
@Html.HiddenFor(model => model.UserId) 
@Html.HiddenFor(model => model.role) 
<section class="content-header">
    <h1>
    Data Dosen
    <small>data dosen stmt-trisakti</small>
    </h1>
</section>
<section class="content">
    <div class="box box-primary">
         <div class="row">
	        <div class="col-md-12">
                <div class="panel-toolbar top clearfix">
                    <ul>
                        <li><a title="Back To List" href="@Url.Content("~/")admin" ><i class="fa fa-long-arrow-left fa-fw" style="color:green"></i>Back to List</a></li>
                     </ul>
                </div>
            </div>
        </div>
        <div class="box-header with-border">
            
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                     <div class="box box-info">
                        <div class="box-header with-border">
                          <h3 class="box-title">User Account</h3>
                             <button class="btn btn-box-tool pull-right" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal label-kanan" id="form_dosen">
                          <div class="box-body">
                              <div class="box-header with-border">
                              </div>
                              <div class="box-body" >
                                    <div id="info_submit" >
                                    </div>
                                    <div class="form-group">
                                      <label for="kd_nik" class="col-sm-2 control-label">Username</label>
                                      <div class="col-sm-10">
                                        @Html.TextBoxFor(model => model.username, new { @class = "form-control", @placeholder="UserName",@required="true",@maxlength="4" })
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="jenis_kelamin" class="col-sm-2 control-label">Role</label>
                                      <div class="col-sm-10">
                                          <select id="selectrole" class="form-control ">
                                              <option value="">--pilih--</option>
                                              <option>admin</option>
                                              <option>keuangan</option>
                                              <option>spvkeuangan</option>
                                              <option>adak</option>
                                              <option>sdm</option>
                                          </select>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="jenis_kelamin" class="col-sm-2 control-label">New Password</label>
                                      <div class="col-sm-10">
                                         <input type="password" id="password" class="form-control" />
                                      </div>
                                    </div>
                                  <div class="form-group">
                                      <label for="jenis_kelamin" class="col-sm-2 control-label">Re-New Password</label>
                                      <div class="col-sm-10">
                                         <input type="password" id="re-password" class="form-control" />
                                      </div>
                                    </div>
                             </div>
                          </div><!-- /.box-body -->
                          <div class="box-footer">
                              <div class="row ">
				                <div class="col-md-12">              
                                    <div class="submitgray button-row">
			                            <button class="btnSave btn  btn-primary " type="button">Save</button>
		                           </div>                            
				                </div> 
                            </div>

                        </div><!-- /.box-footer -->
                        </form>
                      </div><!-- /.box -->
                </div>
            </div>
        </div>
    </div>
</section>
@*form delete*@
<div id="dialog-confirm" title="Empty the recycle bin?" hidden>
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      Anda yakin ingin delete?</p>
</div>
<div id="bank-form-dialog">
    <iframe id="bankIframeForm" width="100%" height="100%" marginwidth="0" marginheight="0"
        frameborder="0" scrolling="auto" title="List Bank">Your browser does not suppr</iframe>
</div>
@section scripts{
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/dist/js/helper.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           // $('#selectrole').find('option[text="' + $("#role").val() + '"]').val();
            $("#selectrole option").filter(function () {
                return this.text == $("#role").val();
            }).attr('selected', true);
            //$('#selectrole').text($("#role").val());
            $(".btnSave").on("click", function () {
                var objUser = {}
                objUser.UserId = $("#UserId").val();
                objUser.username = $("#username").val();
                objUser.password = $("#password").val();
                objUser.role = $("#selectrole option:selected").text();
                if ($("#password").val() != $("#re-password").val()) {
                    alert("password tidak sama");
                    return false;
                }
                if ($("#selectrole option:selected").text() == "--pilih--") {
                    alert("Anda Belum Pilih Role");
                    return false;
                }
                $.ajax({
                    method: "POST",
                    url: "AddEditUser",
                    dataType: "json",
                    data: JSON.stringify(objUser),
                    contentType: 'application/json; charset=utf-8'
                }).done(function (data) {
                    $("#info_submit").html(data.message);
                    $("html, body").animate({
                        scrollTop: 0
                    }, "slow");
                   // if (data.status == 0) return false;
                   // ClearForm();
                });
            });
        });


    </script>
}