﻿@{
    ViewBag.Title = "Report Honor Kelas Reguler";
}
@section styles{
    <link href="~/Content/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />
   @* <link href="~/Content/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />*@
    @*<link href="~/Content/jqueryui/jquery-ui.min.css" rel="stylesheet" />*@
    @*<link href="~/Content/jqueryui/dataTables.jqueryui.min.css" rel="stylesheet" />*@
    <link href="~/Content/dist/site.css" rel="stylesheet" />
     @* <style>

       .table {
            font-size:small;
        }
       .table tbody tr.odd {
            background-color: #f9f9f9 !important;
        }
        .ui-datepicker-title select{
          color:black;
        }
    </style>*@
}
<section class="content-header">
    <h1>
    Honor Mengajar Kelas Reguler
    </h1>
</section>
<section class="content">
   <div class="box box-primary">
        <div class="row">
	        <div class="col-md-12">
                <div class="panel-toolbar top clearfix">
                    <ul>
                        @*<li><a title="Sikronisasi" href="#" id="sinkronisasiData" ><i class="fa fa-refresh fa-fw" style="color:green"></i>Sinkronisasi Data</a></li>*@
                        <li><a title="Report List" href="@Url.Content("~/")admin/create"><i class="fa fa-fw fa-list-alt" style="color:green"></i>Tambah User</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">Cari Berdasarkan</h3>
        </div>                       
        <div class="box-body form-horizontal label-kanan">
            <div class="row ">
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-12">
							<input type="text" id="username" placeholder="UserName" class="form-control">
                        </div>
					</div>									
				</div>								
			</div>
            <div class="row ">
                <div class="col-md-12">
                    <div id="info">

                    </div>
                </div>
            </div>
            <div class="row">
				<div class="col-md-12">
                    <table id="tbl_user" class="jp-table">
                        <thead>
                            <tr>                                             
                                <th>Username</th>
                                <th>Role</th>
                                <th>Action</th>                        
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- /.box-body -->              
    </div>
</section>


@*form delete*@
<div id="dialog-confirm" title="Empty the recycle bin?" hidden>
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
      Anda yakin data ini dihapus?</p>
</div>


@section scripts{
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/jqueryui/jquery-ui.min.js"></script>
    @* <script src="~/Content/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>*@
   <script src="~/Content/blockui/jquery.blockUI.js"></script>
       <script src="~/Content/dist/js/helper.js"></script>
<script type="text/javascript">
    var interval = null;
    function formDialog(el, height, width) {
        $(el).dialog({
            height: height,
            width: width,
            modal: true,
            buttons: {
                //"Save": func,
                Cancel: function () {
                    $(el).dialog("close");
                }
            }
        });
    }
    $(document).ajaxStop($.unblockUI);
    $(document).ready(function () {


        var tableUser = $('#tbl_user').DataTable({
            "filter": "datatables-filter",
           // "scrollX": "100%",
           // "scrollCollapse": true,
            //" jQueryUI": true,
            "processing": true,
            "searching": false,
            "displayLength": 10,
            "lengthChange": false,
            "serverSide": true,
            "ajax": {
                "url": "@Url.Content("~/")Admin/GetListUsers",
                        "type": "POST",
                        "data": function (d) {
                            d.search = $("#username").val();
                        },
                    },
            "order": [[0, "desc"]],
            "columns": [

                { "data": "username" },
                { "data": "role" },
                { "data": null, "width": "5%" }//,
                //{ "data": "create_on", "width": "10%" }                                               
            ],
            "columnDefs": [
                         {
                             "render": function (data, type, row) {
                                 return '<a class="btn btn-xs btn-primary" title="Edit" href="@Url.Content("~/")Admin/Edit?id=' + row.UserId + '" ><span class="fa fa-pencil"></span></a>&nbsp' +
                                  '<a class="btn btn-xs btn-danger remove-user" title="Hapus"><span class="fa fa-trash-o"></span></a>';
                             },
                             "targets": 2,
                             "orderable": false
                         }
                    ]
        });

        $("#tbl_user").on("click", ".remove-user", function () {
            var vl = $(this).closest('tr')[0];
            var user = tableUser.row(vl).data();

            formDeleteDialog("#dialog-confirm", "@Url.Content("~/")admin/ajaxDelete?id=" + user.UserId, "#info", tableUser);
        });

    });


    </script>
}